<a [routerLink]="clickable ? '/teams/' + team.teamKey : null" class="no-underline mdc-list--two-line">
  <mdc-list-item interactive style="height: 100px;">
    <mdc-list-item-text>
      <span class="black">{{ team.teamNameShort || 'Team #' + team.teamNumber }}</span>
      <span class="mdc-list-item__secondary-text" style="text-transform: capitalize">{{ team.city }}, {{ team.stateProv ? team.stateProv + ', ' : '' }}{{ team.country }}</span>
      
      <span class="mdc-list-item__secondary-text">Differences:
        <span *ngIf="modified_team.discNameShort">Short Name</span>
        <span *ngIf="modified_team.discNameShort && (modified_team.discNameLong || modified_team.discZipCode || modified_team.discCity || modified_team.discState || modified_team.discCountry || modified_team.discWebsite)">, </span>
        <span *ngIf="modified_team.discNameLong">Long Name</span>
        <span *ngIf="modified_team.discNameLong && (modified_team.discZipCode || modified_team.discCity || modified_team.discState || modified_team.discCountry || modified_team.discWebsite)">, </span>
        <span *ngIf="modified_team.discZipCode">Zip Code</span>
        <span *ngIf="modified_team.discZipCode && (modified_team.discCity || modified_team.discState || modified_team.discCountry || modified_team.discWebsite)">, </span>
        <span *ngIf="modified_team.discCity">City</span>
        <span *ngIf="modified_team.discCity && (modified_team.discState || modified_team.discCountry || modified_team.discWebsite)">, </span>
        <span *ngIf="modified_team.discState">State</span>
        <span *ngIf="modified_team.discState && (modified_team.discCountry || modified_team.discWebsite)">, </span>
        <span *ngIf="modified_team.discCountry">Country</span>
        <span *ngIf="modified_team.discCountry && modified_team.discWebsite">, </span>
        <span *ngIf="modified_team.discWebsite">Website</span>
      </span>
    </mdc-list-item-text>
  </mdc-list-item>
</a>
