<a routerLink="/teams/{{ award.teamKey }}" class="no-underline" *ngIf="!mini">
  <mdc-list-item class="item-team">
    <img *ngIf="award.awardKey.startsWith('WIN') && award.awardKey.length == 4" class="rounded-circle" src="../../../assets/imgs/trophy.png" />
    <img *ngIf="!(award.awardKey.startsWith('WIN') && award.awardKey.length == 4)" class="rounded-circle" src="../../../assets/imgs/trophy_star.png" />
    <div>
      <mdc-list-item-text>
        <span class="black">#{{ getTeamNumber() }} {{ award.award.awardDescription ? '- ' + award.awardName : '' }}</span>
        <span class="mdc-list-item__secondary-text">{{ award.award.awardDescription ? award.award.awardDescription : award.awardName }}</span>
      </mdc-list-item-text>
    </div>
  </mdc-list-item>
</a>
<a routerLink="/teams/{{ award.teamKey }}" class="no-underline" *ngIf="mini">
  <mdc-list-item class="black">
    <mdc-icon mdcListItemGraphic [svgIcon]="getIcon()"></mdc-icon> Team #{{ award.team.teamNumber }} - {{ award.team.teamNameShort }}
  </mdc-list-item>
</a>
