<div class="col-xs-12 col-md-10 col-md-offset-1 mar-top-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-android"></span> Participating Teams</h3>
    </div>
    <div class="panel-body pad-0">
      <table class="stats-table table table-responsive table-striped">
        <thead>
        <tr>
          <td>Number</td>
          <td>Name</td>
          <td>Location</td>
        </tr>
        </thead>
        <tbody *ngIf="event">
        <tr *ngFor="let team of event.teams">
          <td><a href="/teams/{{ team.team_key }}">{{ team.team_key }}</a></td>
          <td>{{ team.team_name_short }}</td>
          <td>{{ team.city }}, {{ team.state_prov }} {{ team.country }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
