<div class="stream embed-responsive embed-responsive-16by9" [style.height]="height == null ? '100%' : height">
  <button mdc-button primary *ngIf="!stream" data-toggle="modal" [attr.data-target]="'#selectdialog'+ id" class="select-stream">{{ 'pages.streams.select_stream' | translate }}</button>
  <iframe class="embed-responsive-item" *ngIf="stream" [src]="stream.safeURL" allowfullscreen></iframe>
  <div class="info row" *ngIf="stream">
    <h2 mdcOverline>{{ stream.streamName }}</h2>
    <div class="info-icons">
      <div class="toa-tooltip">
        <a mdc-button dense *ngIf="stream.eventKey" href="events/{{stream.eventKey}}" target="_blank">
          <mdc-icon class="mr-0">equalizer</mdc-icon>
        </a>
        <span class="tooltiptext">{{ 'pages.streams.event_results' | translate }}</span>
      </div>
      <div class="toa-tooltip">
        <button mdc-button dense (click)="stream = null">
          <mdc-icon class="mr-0">close</mdc-icon>
        </button>
        <span class="tooltiptext">{{ 'pages.streams.close_stream' | translate }}</span>
      </div>
    </div>
  </div>
</div>


<!-- Select Stream -->
<div class="modal fade" [id]="'selectdialog' + id" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div mdcDialogSurface class="modal-content border-0">
      <mdc-dialog-title>{{ 'pages.streams.select_stream' | translate }}</mdc-dialog-title>
      <mdc-dialog-content>
        <mdc-list>
          <mdc-radio-group [(ngModel)]="selectedStreamKey">
            <mdc-list-item *ngFor="let _stream of streams">
              <mdc-radio mdcListItemGraphic [value]="_stream.streamKey"></mdc-radio>
              {{ _stream.streamName }}
            </mdc-list-item>
          </mdc-radio-group>
        </mdc-list>
      </mdc-dialog-content>
      <mdc-dialog-actions>
        <button mdcDialogButton data-dismiss="modal">{{ 'pages.streams.cancel' | translate }}</button>
        <button mdcDialogButton default data-dismiss="modal" (click)="stream = getStream(selectedStreamKey); selectedStreamKey=''">{{ 'pages.streams.select' | translate }}</button>
      </mdc-dialog-actions>
    </div>
  </div>
</div>
