<a routerLink="/teams/{{ team.teamKey }}" class="no-underline">
  <mdc-list-item class="item-team p-0">
    <div class="row mdc-list-item__text w-100">
      <div mdcHeadline6 class="black align-self-center text-center" style="width: 30%; max-width: 150px">{{ team.teamNumber }}</div>
      <div style="max-width: 70%;">
        <span class="black">{{ team.teamNameShort || 'Team #' + team.teamNumber }}</span>
        <span class="mdc-list-item__secondary-text" style="text-transform: capitalize">{{ team.city }}, {{ team.stateProv ? team.stateProv + ', ' : '' }}{{ team.country }}</span>
      </div>
    </div>
  </mdc-list-item>
</a>
