<div *ngIf="event">
  <div class="row">
    <h2 [class.col-9]="user !== null" [class.col-12]="user === null">{{ event.startDate | date : "y" }} {{ event.divisionName ? event.eventName + ' - ' +  event.divisionName + ' Division' : event.eventName }} <span class="badge bg-primary" *ngIf="event.isLive">LIVE</span></h2>
    <div *ngIf="user !== null" class="col-3">
      <button mdc-button primary (click)="toggleEvent();" style="text-transform:initial">{{ favorite ? 'REMOVE FROM myTOA' : 'ADD TO myTOA' }}</button>
    </div>
  </div>

  <div class="row" *ngIf="regions">
    <div class="col-md-7 col-sm-12 mt-3">
      <mdc-card class="toa-card">
        <div class="toa-card-header" mdcHeadline5>Event Information</div>
        <mdc-list-divider></mdc-list-divider>
        <div class="p-3">
          <div class="info-state d-flex align-content-center flex-wrap">
            <mat-icon svgIcon="calendar"></mat-icon>
            <p>{{ event.startDate == event.endDate ? (event.startDate | date :  "mediumDate") : (event.startDate | date :  "mediumDate") + ' - ' + (event.endDate | date :  "mediumDate") }}</p>
          </div>
          <div class="info-state d-flex align-content-center flex-wrap">
            <mat-icon svgIcon="map-marker"></mat-icon>
            <p style="text-transform: capitalize"><a href="https://www.google.com/maps/search/?api=1&query={{ ((event.venue ? event.venue + ', ' : '') + event.city + ', ' + (event.stateProv ? event.stateProv + ', ' : '') + event.country) }}" target="_blank">{{ (event.venue ? event.venue + ', ' : '') + event.city + ', ' + (event.stateProv ? event.stateProv + ', ' : '') + event.country }}</a></p>
          </div>
          <div class="info-state d-flex align-content-center flex-wrap" *ngIf="event_type_name">
            <mat-icon svgIcon="calendar-question"></mat-icon>
            <p>{{ event_type_name }}</p>
          </div>
          <div class="info-state d-flex align-content-center flex-wrap" *ngIf="event.website">
            <mat-icon svgIcon="earth"></mat-icon>
            <p><a [href]="event.website" target="_blank">View event's website</a></p>
          </div>
          <div class="info-state d-flex align-content-center flex-wrap">
            <mat-icon svgIcon="code-tags"></mat-icon>
            <p>Event Key: </p><p><code>{{ event_key }}</code></p>
          </div>
        </div>
      </mdc-card>
    </div>

    <div class="col-md-5 col-sm-12 mt-3" *ngIf="event.allianceCount || event.fieldCount || event_season_name">
      <mdc-card class="toa-card h-100">
        <div class="toa-card-header" mdcHeadline5>Game Information</div>
        <mdc-list-divider></mdc-list-divider>
        <div class="p-3">
          <div class="info-state d-flex align-content-center flex-wrap" *ngIf="event_season_name">
            <mat-icon svgIcon="gamepad-variant"></mat-icon>
            <p>{{ event_season_name }}</p>
          </div>
          <div class="info-state d-flex align-content-center flex-wrap" *ngIf="event.allianceCount">
            <mat-icon svgIcon="human-handsup"></mat-icon>
            <p>{{ event.allianceCount > 1 ? event.allianceCount + ' Alliances' : 'One Alliance'}}</p>
          </div>
          <div class="info-state d-flex align-content-center flex-wrap" *ngIf="event.fieldCount">
            <mat-icon svgIcon="soccer-field"></mat-icon>
            <p>{{ event.fieldCount > 1 ? event.fieldCount + ' Fields' : 'One Field'}}</p>
          </div>
        </div>
      </mdc-card>
    </div>
  </div>

  <div class="mt-5 row" *ngIf="totalteams === 0 && totalmatches === 0 && totalrankings === 0">
    <h4 class="col-12"> NO RESULTS HAVE BEEN REPORTED FOR THIS EVENT.</h4>
  </div>

  <div class="mt-5 row" *ngIf="totalteams > 0 || totalmatches > 0 || totalrankings > 0">
    <div class="col-12">
      <mdc-card class="toa-card">
        <mdc-tab-bar class="w-100">
          <mdc-tab-scroller>
            <mdc-tab label="Rankings" (click)="select('rankings')" *ngIf="totalrankings > 0"><span class="ml-1 badge badge-pill badge-primary bg-primary">{{ totalrankings }}</span></mdc-tab>
            <mdc-tab label="Matches" (click)="select('matches')" *ngIf="totalmatches > 0"><span class="ml-1 badge badge-pill badge-primary bg-primary">{{ totalmatches }}</span></mdc-tab>
            <mdc-tab label="Teams" (click)="select('teams')" *ngIf="totalteams > 0"><span class="ml-1 badge badge-pill badge-primary bg-primary">{{ totalteams }}</span></mdc-tab>
            <mdc-tab label="Awards" (click)="select('awards')" *ngIf="totalawards > 0"><span class="ml-1 badge badge-pill badge-primary bg-primary">{{ totalawards }}</span></mdc-tab>
          </mdc-tab-scroller>
        </mdc-tab-bar>
        <div class="mt-4">
          <toa-event-rankings *ngIf="isSelected('rankings')" [event]="event" [rankings]="event.rankings"></toa-event-rankings>
          <toa-event-teams *ngIf="isSelected('teams')" [teams]="event.teams"></toa-event-teams>
          <toa-event-matches *ngIf="isSelected('matches')" [matches]="event.matches"></toa-event-matches>
          <toa-event-awards *ngIf="isSelected('awards')" [event]="event"></toa-event-awards>
        </div>
      </mdc-card>
    </div>
  </div>

</div>
