@import "../../../constants";

.stream-icon {
  margin-right: 12px;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
}

.mdc-menu-surface--anchor .mdc-list-item {
  width: max-content;
  min-width: 100%;
}

.divisions-btn {
  color: black!important;
}

.divisions-btn::before, .divisions-btn::after {
  background: black!important;
}
