<div *ngIf="eventData">
  <div class="row">
    <h2 class="col-12">{{ eventData.startDate | date : "y" }} {{ eventData.fullEventName }} <span class="badge bg-primary" *ngIf="eventData.isLive">LIVE</span></h2>
  </div>
  <div class="info-state-dense">
    <div class="info-state">
      <mdc-icon svgIcon="calendar"></mdc-icon>
      <p>{{ eventData.startDate == eventData.endDate ? (eventData.startDate | date :  "mediumDate") : (eventData.startDate | date :  "mediumDate") + ' - ' + (eventData.endDate | date :  "mediumDate") }}</p>
    </div>
    <div class="info-state">
      <mdc-icon svgIcon="map-marker"></mdc-icon>
      <p style="text-transform: capitalize">
        <a href="https://www.google.com/maps/search/?api=1&query={{ eventData.getLocation() }}" target="_blank"
           (click)="this.sendAnalytic('leaving', eventData.eventKey + ' location');"
        >{{ eventData.venue || eventData.getLocation() }}</a>{{ eventData.venue ? ', ' + eventData.getLocation(false) : '' }}</p>
    </div>
    <div class="info-state" *ngIf="eventData.website">
      <mdc-icon svgIcon="earth"></mdc-icon>
      <p><a [href]="eventData.website" target="_blank" (click)="this.sendAnalytic('leaving', eventData.eventKey + ' website');">{{ 'pages.event.view_website' | translate }}</a></p>
    </div>
  </div>
  <a mdc-button primary *ngIf="stream && stream.isActive" routerLink="/stream" [queryParams]="{ e: eventKey.substring(5) }">
    <mdc-icon svgIcon="video-outline" class="stream-icon"></mdc-icon> {{ 'pages.event.stream_available' | translate }}
  </a>
  <div mdcMenuSurfaceAnchor #divisionsAnchor *ngIf="divisions && divisions.length > 0">
    <button mdc-button class="divisions-btn" (click)="divisionDropdown.open = !divisionDropdown.open">
      {{ eventData.divisionName }} Division
      <mdc-icon>arrow_drop_down</mdc-icon>
    </button>

    <mdc-menu #divisionDropdown [anchorElement]="divisionsAnchor" (selected)="switchDivision($event)"
              anchorCorner="bottomStart">
      <mdc-list dense>
        <mdc-list-item *ngFor="let division of divisions" [disabled]="division.divisionName === eventData.divisionName">
          {{ division.divisionName }} Division
        </mdc-list-item>
      </mdc-list>
    </mdc-menu>
  </div>

  <div class="mt-3 row" *ngIf="totalteams === 0 && totalmatches === 0 && totalrankings === 0 && totalawards === 0">
    <div class="col-12">
      <mdc-card class="toa-card">
        <div style="color: #757575; text-align: center">
          <div mdcHeadline6 class="p-3" [innerHTML]="'no_data.event_long' | translate"></div>
        </div>
      </mdc-card>
    </div>
  </div>
  <div class="mt-3 row" *ngIf="admin || totalmedia > 0 || totalteams > 0 || totalmatches > 0 || totalrankings > 0 || totalalliances > 0|| totalawards > 0">
    <div class="col-12">
      <mdc-card class="toa-card">
        <mdc-tab-bar #tabs class="w-100" [activeTabIndex]="activeTab" [focusOnActivate]="false" >
          <mdc-tab-scroller>
            <mdc-tab (click)="changeUrlNoRoute('rankings')" label="{{ 'pages.event.subpages.rankings.title' | translate }}" [class.d-none]="totalrankings === 0"><span class="ml-1 mr-1 badge badge-pill badge-primary bg-primary">{{ totalrankings }}</span></mdc-tab>
            <mdc-tab (click)="changeUrlNoRoute('matches')" label="{{ 'pages.event.subpages.matches.title' | translate }}" [class.d-none]="totalmatches === 0"><span class="ml-1 mr-1 badge badge-pill badge-primary bg-primary">{{ totalmatches }}</span></mdc-tab>
            <mdc-tab (click)="changeUrlNoRoute('teams')" label="{{ 'pages.event.subpages.teams.title' | translate }}" [class.d-none]="totalteams === 0"><span class="ml-1 mr-1 badge badge-pill badge-primary bg-primary">{{ totalteams }}</span></mdc-tab>
            <mdc-tab (click)="changeUrlNoRoute('alliances')" label="{{ 'pages.event.subpages.alliances.title' | translate }}" [class.d-none]="totalalliances === 0"><span class="ml-1 mr-1 badge badge-pill badge-primary bg-primary">{{ totalalliances }}</span></mdc-tab>
            <mdc-tab (click)="changeUrlNoRoute('awards')" label="{{ 'pages.event.subpages.awards.title' | translate }}" [class.d-none]="totalawards === 0"><span class="ml-1 mr-1 badge badge-pill badge-primary bg-primary">{{ totalawards }}</span></mdc-tab>
            <mdc-tab (click)="changeUrlNoRoute('insights')" label="{{ 'pages.event.subpages.insights.title' | translate }}" [class.d-none]="!qualInsights && !elimInsights"></mdc-tab>
            <mdc-tab (click)="changeUrlNoRoute('media')" label="{{ 'pages.event.subpages.for-participants.title' | translate }}" [class.d-none]="totalmedia === 0"></mdc-tab>
            <mdc-tab (click)="changeUrlNoRoute('admin')" label="{{ 'pages.event.subpages.admin.title' | translate }}" [class.d-none]="!admin" [disabled]="!emailVerified"></mdc-tab>
            <mdc-tab *ngIf="!!user" (click)="changeUrlNoRoute('add-stream')" label="{{ 'pages.event.subpages.add_stream.title' | translate }}" [class.d-none]="admin" [disabled]="!emailVerified"></mdc-tab>
            <mdc-tab *ngIf="!!user" (click)="changeUrlNoRoute('add-data')" label="{{ 'pages.event.subpages.add_data.title' | translate }}" [class.d-none]="admin" [disabled]="!emailVerified"></mdc-tab>
          </mdc-tab-scroller>
        </mdc-tab-bar>
        <div class="mt-4">
          <toa-event-rankings *ngIf="tabs.activeTabIndex === 0" [event]="eventData" [rankings]="eventData.rankings"></toa-event-rankings>
          <toa-event-matches *ngIf="tabs.activeTabIndex === 1" [matches]="eventData.matches" [teams]="eventData.teams" [rankings]="eventData.rankings"></toa-event-matches>
          <toa-event-teams *ngIf="tabs.activeTabIndex === 2" [teams]="eventData.teams"></toa-event-teams>
          <toa-event-alliances *ngIf="tabs.activeTabIndex === 3" [alliances]="eventData.alliances"></toa-event-alliances>
          <toa-event-awards *ngIf="tabs.activeTabIndex === 4" [event]="eventData"></toa-event-awards>
          <toa-event-insights *ngIf="tabs.activeTabIndex === 5" [event]="eventData" [matches]="eventData.matches" [qualInsights]="qualInsights" [elimInsights]="elimInsights"></toa-event-insights>
          <toa-event-for-participants *ngIf="tabs.activeTabIndex === 6" [event]="eventData" [media]="media"></toa-event-for-participants>
          <toa-event-admin *ngIf="admin" [class.d-none]="!emailVerified || !(tabs.activeTabIndex === 7 || (totalrankings === 0 && totalmatches === 0 && totalteams === 0 && totalalliances === 0 && totalawards === 0 && totalmedia === 0 && !qualInsights && !elimInsights))" [user]="user" [eventKey]="eventData.eventKey" [eventData]="eventData" [toaAdmin]="toaAdmin" [league]="eventLeague" [leagues]="allLeagues"></toa-event-admin>
          <toa-event-add-stream *ngIf="!admin" [class.d-none]="!emailVerified || !(tabs.activeTabIndex === 8 || (totalrankings === 0 && totalmatches === 0 && totalteams === 0 && totalalliances === 0 && totalawards === 0 && totalmedia === 0 && !qualInsights && !elimInsights))" [user]="user" [eventKey]="eventData.eventKey" [eventData]="eventData"></toa-event-add-stream>
          <toa-event-add-data *ngIf="!admin" [class.d-none]="!emailVerified || !(tabs.activeTabIndex === 9 || (totalrankings === 0 && totalmatches === 0 && totalteams === 0 && totalalliances === 0 && totalawards === 0 && totalmedia === 0 && !qualInsights && !elimInsights))" [user]="user" [eventKey]="eventData.eventKey" [eventData]="eventData"></toa-event-add-data>
        </div>
      </mdc-card>
    </div>
  </div>

  <button mdc-fab *ngIf="userSettings" (click)="openEventSettings()" [position]="('config.direction' | translate) === 'rtl' ? 'bottomLeft' : 'bottomRight'" icon="star"></button>
</div>
