@import "../../../constants";

.counting-card-content {
  margin-left: 60px;
  padding: 14px;
}

[dir="rtl"] .counting-card-content {
  margin-left: 0!important;
  margin-right: 60px;
}

.counting-card-title {
  font-weight: 600;
  color: #000;
}

.counting-card-info {
  color: #747474;
}

.counting-card-icon {
  background: $mdc-theme-primary;
  margin-left: 10px;
  border-radius: 50px;
  color: #000;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.counting-card-icon mdc-icon {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 24px;
  fill: #000;
}

.fun-logo {
  background-image: url(../../../assets/imgs/fun_logo.jpg);
}

.relative-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  min-height: 56px;
  z-index: 5;
}

.new-search-box-container {
  box-shadow: 0 1px 3px rgba(60,63,66,.32), 0 4px 12px rgba(60,63,66,.15);
  background-color: #ffffff;
  border-radius: 24px;
  overflow: hidden;
  position: absolute;
  width: 100%;

  .results {
    background-color: #fff;
    border-top: 1px solid #dadce0;
  }
}

.new-search-box {
  display: flex;
  height: 56px;
  width: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  overflow: hidden;
  padding: 16px 24px;

  input {
    outline: none;
    border: 0;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    margin-left: 12px;
    height: 24px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    align-self: center;
    white-space: nowrap;
  }
}

.home-icon-container {
  border-radius: 4px;
  min-width: 84px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  color: rgba(0,0,0,.87);
  fill: rgba(0,0,0,.87);
  font-size: 14px;
  text-decoration: none!important;

  mdc-icon {
    padding: 6px;
  }
}
