<!-- MAIN CONTAINER -->
<main class="container">

  <div *ngIf="current_announcement" class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2 class="mar-0">{{ current_announcement.title }}</h2>
      <h4 class="mar-0"><small>  {{ current_announcement.publish_date | date :  "mediumDate" }} - <span class="blog-author">{{ current_announcement.author }}</span></small></h4>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <p>{{ current_announcement.text }}</p>
      <a *ngIf="current_announcement.read_more && current_announcement.read_more.length > 0" href="/blog/{{ current_announcement.read_more }}">Read More</a>
    </div>
  </div>

  <!--<div id="side-bar">
    <h2>Welcome!</h2>
    <p>
      The Orange Alliance is a project to help make FTC match, event and team information more accessible. The project is in it's early stages, so many pages aren't complete and a lot of data is missing. You're more than welcome to submit data or contribute code.</p>
      <button onclick="window.location.href='https://discord.gg/5fH66UV'" class="sidebar-button">Chat with us on Discord!</button>
      <br>
      <button onclick="window.location.href='https://goo.gl/forms/kgMtJgXq6QCny4vm1'" class="sidebar-button">Contact us Here!</button>
      <br>
      <button onclick="window.location.href='https://github.com/orange-alliance'" class="sidebar-button">Contribute on Github!</button>
  </div>-->

  <br/>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3 class="mar-0">This Week's Events</h3>
    </div>
  </div>

  <div *ngIf="current_events" class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Event</th>
          <th>Dates</th>
        </tr>
        </thead>
        <tbody *ngIf="current_events.length <= 0">
          <tr>
            <td colspan="2"><i>There are no events occurring this week.</i></td>
          </tr>
        </tbody>
        <tbody *ngIf="current_events.length > 0">
        <tr *ngFor="let event of current_events">
          <td>{{ event.event_name }}</td>
          <td>{{ event.start_date | date :  "mediumDate"}} - {{ event.end_date | date :  "mediumDate" }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h3 class="mar-0">2016-2017 FTC Recap</h3>
      <h3 class="mar-0"><small *ngIf="match_count"> {{ match_count }} Matches</small></h3>
    </div>
  </div>

  <div class="row" *ngIf="qual_match && qual_match.teams">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mar-top-20">
      <h4 class="mar-0">Highest Scoring Qualification Match</h4>
      <h4 class="mar-0"><small>(Penalty Free)</small></h4>
      <h4 *ngIf="qual_match.event"><a (click)="openEvent(qual_match.event_key, $event)">{{ qual_match.event.event_name }}<span *ngIf="qual_match.event.division_name"> - {{ qual_match.event.division_name }}</span></a>
        <a (click)="openMatchDetails(qual_match.match_key)"><small>{{ qual_match.match_name }}</small></a></h4>
      <table class="match-table">
        <thead>
        <tr>
          <th colspan="2">Teams</th>
          <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr class="red">
          <td class="red" [class.match-winner]="qual_match.red_score >= qual_match.blue_score">
            <a href="/teams/{{ getStation(qual_match, 0) }}">{{ getStation(qual_match, 0) }}</a>
          </td>
          <td class="red" [class.match-winner]="qual_match.red_score >= qual_match.blue_score">
            <a href="/teams/{{ getStation(qual_match, 1) }}">{{ getStation(qual_match, 1) }}</a>
          </td>
          <td class="red" [class.match-winner]="qual_match.red_score >= qual_match.blue_score">
            {{ qual_match.red_score }}
          </td>
        </tr>
        <tr class="blue">
          <td class="blue" [class.match-winner]="qual_match.red_score <= qual_match.blue_score">
            <a href="/teams/{{ getStation(qual_match, 2) }}">{{ getStation(qual_match, 2) }}</a>
          </td>
          <td class="blue" [class.match-winner]="qual_match.red_score <= qual_match.blue_score">
            <a href="/teams/{{ getStation(qual_match, 3) }}">{{ getStation(qual_match, 3) }}</a>
          </td>
          <td class="blue" [class.match-winner]="qual_match.red_score <= qual_match.blue_score">
            {{ qual_match.blue_score }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="elim_match && elim_match.teams">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mar-top-20">
      <h4 class="mar-0">Highest Scoring Elimination Match</h4>
      <h4 class="mar-0"><small>(Penalty Free)</small></h4>
      <h4 *ngIf="elim_match.event"><a (click)="openEvent(elim_match.event_key, $event)">{{ elim_match.event.event_name }}<span *ngIf="elim_match.event.division_name"> - {{ elim_match.event.division_name }}</span></a>
        <a (click)="openMatchDetails(elim_match.match_key)"><small>{{ elim_match.match_name }}</small></a></h4>
      <table class="match-table">
        <thead>
        <tr>
          <th colspan="6">Teams</th>
          <th>Score</th>
        </tr>
        </thead>
        <tbody *ngIf="getNumberOfTeams(elim_match) == 6">
        <tr class="red">
          <td colspan="2" class="red" [class.match-winner]="elim_match.red_score >= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 0) }}">{{ getStation(elim_match, 0) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="qual_match.red_score >= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 1) }}">{{ getStation(elim_match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="elim_match.red_score >= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 2) }}">{{ getStation(elim_match, 2) }}</a>
          </td>
          <td class="red" [class.match-winner]="elim_match.red_score >= elim_match.blue_score">
            {{ elim_match.red_score }}
          </td>
        </tr>
        <tr class="blue">
          <td colspan="2" class="blue" [class.match-winner]="elim_match.red_score <= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 3) }}">{{ getStation(elim_match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="elim_match.red_score <= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 4) }}">{{ getStation(elim_match, 4) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="elim_match.red_score <= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 5) }}">{{ getStation(elim_match, 5) }}</a>
          </td>
          <td class="blue" [class.match-winner]="elim_match.red_score <= elim_match.blue_score">
            {{ elim_match.blue_score }}
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="getNumberOfTeams(elim_match) == 4">
        <tr class="red">
          <td colspan="3" class="red" [class.match-winner]="elim_match.red_score >= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 0) }}">{{ getStation(elim_match, 0) }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="elim_match.red_score >= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 1) }}">{{ getStation(elim_match, 1) }}</a>
          </td>
          <td class="red" [class.match-winner]="elim_match.red_score >= elim_match.blue_score">
            {{ elim_match.red_score }}
          </td>
        </tr>
        <tr class="blue">
          <td colspan="3" class="blue" [class.match-winner]="elim_match.red_score <= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 2) }}">{{ getStation(elim_match, 2) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="qual_match.red_score <= elim_match.blue_score">
            <a href="/teams/{{ getStation(elim_match, 3) }}">{{ getStation(elim_match, 3) }}</a>
          </td>
          <td class="blue" [class.match-winner]="elim_match.red_score <= elim_match.blue_score">
            {{ elim_match.blue_score }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="normal_match && normal_match.teams">
    <div class="col-xs-12 col-md-8 col-md-offset-2 mar-top-20">
      <h4 class="mar-0">Highest Scoring Match</h4>
      <h4 class="mar-0"><small>(With Penalties)</small></h4>
      <h4 *ngIf="normal_match.event"><a (click)="openEvent(normal_match.event_key, $event)">{{ normal_match.event.event_name }}<span *ngIf="normal_match.event.division_name"> - {{ normal_match.event.division_name }}</span></a>
        <a (click)="openMatchDetails(normal_match.match_key)"><small>{{ normal_match.match_name }}</small></a></h4>
      <table class="match-table">
        <thead>
        <tr>
          <th colspan="6">Teams</th>
          <th>Score</th>
        </tr>
        </thead>
        <tbody *ngIf="getNumberOfTeams(normal_match) == 6">
        <tr class="red">
          <td colspan="2" class="red" [class.match-winner]="normal_match.red_score >= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 0) }}">{{ getStation(normal_match, 0) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="qual_match.red_score >= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 1) }}">{{ getStation(normal_match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="elim_match.red_score >= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 2) }}">{{ getStation(normal_match, 2) }}</a>
          </td>
          <td class="red" [class.match-winner]="normal_match.red_score >= normal_match.blue_score">
            {{ normal_match.red_score }}
          </td>
        </tr>
        <tr class="blue">
          <td colspan="2" class="blue" [class.match-winner]="normal_match.red_score <= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 3) }}">{{ getStation(normal_match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="normal_match.red_score <= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 4) }}">{{ getStation(normal_match, 4) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="normal_match.red_score <= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 5) }}">{{ getStation(normal_match, 5) }}</a>
          </td>
          <td class="blue" [class.match-winner]="normal_match.red_score <= normal_match.blue_score">
            {{ normal_match.blue_score }}
          </td>
        </tr>
        </tbody>
        <tbody *ngIf="getNumberOfTeams(normal_match) == 4">
        <tr class="red">
          <td colspan="3" class="red" [class.match-winner]="normal_match.red_score >= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 0) }}">{{ getStation(normal_match, 0) }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="normal_match.red_score >= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 1) }}">{{ getStation(normal_match, 1) }}</a>
          </td>
          <td class="red" [class.match-winner]="normal_match.red_score >= normal_match.blue_score">
            {{ normal_match.red_score }}
          </td>
        </tr>
        <tr class="blue">
          <td colspan="3" class="blue" [class.match-winner]="normal_match.red_score <= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 2) }}">{{ getStation(normal_match, 2) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="normal_match.red_score <= normal_match.blue_score">
            <a href="/teams/{{ getStation(normal_match, 3) }}">{{ getStation(normal_match, 3) }}</a>
          </td>
          <td class="blue" [class.match-winner]="normal_match.red_score <= normal_match.blue_score">
            {{ normal_match.blue_score }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>
<!-- MAIN CONTAINER -->
