@import "../../../constants";

.counting-card-content {
  margin-left: 60px;
  padding: 14px;
}

[dir="rtl"] .counting-card-content {
  margin-left: 0!important;
  margin-right: 60px;
}

.counting-card-title {
  font-weight: 600;
  color: #000;
}

.counting-card-info {
  color: #747474;
}

.counting-card-icon {
  background: $mdc-theme-primary;
  margin-left: 10px;
  border-radius: 50px;
  color: #000;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.counting-card-icon mdc-icon {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 24px;
  fill: #000;
}

.fun-logo {
  background-image: url(../../../assets/imgs/fun_logo.jpg);
}
