<a routerLink="/events/{{ event.eventKey }}" class="no-underline mdc-list--two-line">
  <mdc-list-item interactive>
    <div class="data-indicator" [dir]="'config.direction' | translate" *ngIf="event.teamCount > 0"></div>
    <mdc-list-item-text>
       <span class="black">{{ event.divisionName ? event.eventName + ' - ' +  event.divisionName + ' Division' : event.eventName }} <span class="badge bg-primary" *ngIf="isLive()">{{ 'config.live' | translate }}</span></span>
      <span class="mdc-list-item__secondary-text" *ngIf="event.startDate == event.endDate"><span style="text-transform: capitalize">{{ event.city }}, {{ event.stateProv ? event.stateProv + ', ' : '' }} {{ event.country }}</span> on {{ fixDate(event.startDate) | date :  "mediumDate"}}</span>
      <span class="mdc-list-item__secondary-text" *ngIf="event.startDate != event.endDate"><span style="text-transform: capitalize">{{ event.city }}, {{ event.stateProv ? event.stateProv + ', ' : '' }} {{ event.country }}</span> from {{ fixDate(event.startDate) | date :  "mediumDate"}} to {{ fixDate(event.endDate) | date :  "mediumDate"}}</span>
    </mdc-list-item-text>
  </mdc-list-item>
</a>
