<div class="w-100" *ngIf="rows.length > 0">
  <div class="match-details-table">
    <div *ngFor="let row of rows" class="match-details-row" [class.part]="row.isTitle && match.details">
      <div class="match-details-points {{ match.blueScore === -1 ? 'w-100' : '' }}" [class.red]="row.isTitle && match.details" [class.lightRed]="!row.isTitle || !match.details">
        <mdc-icon *ngIf="row.redIcon" [svgIcon]="row.redIcon"></mdc-icon>
        {{ row.getRedPoints() }}
      </div>
      <div class="match-details-title {{ match.blueScore === -1 ? 'w-100' : '' }}">{{ row.name }}</div>
      <div *ngIf="match.blueScore !== -1" class="match-details-points" [class.blue]="row.isTitle && match.details" [class.lightBlue]="!row.isTitle || !match.details">
        <mdc-icon *ngIf="row.blueIcon" [svgIcon]="row.blueIcon"></mdc-icon>
        {{ row.getBluePoints() }}
      </div>
    </div>
  </div>
</div>
