<div class="row" *ngIf="match.details">
  <div class="col-12 p-2">
    <mdc-card class="toa-card">
      <div class="toa-card-header" mdcHeadline5>Autonomous Details</div>
      <mdc-list-divider></mdc-list-divider>
      <div class="p-3">
        <div class="w-100">
          <table class="match-table">
            <thead>
              <tr>
                <th colspan="3">Red Alliance</th>
                <th colspan="6">Field</th>
                <th colspan="3">Blue Alliance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redAutoLand == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redAutoLand != 0">{{ match.details.redAutoLand }} ( +{{ match.details.redAutoLand * 30 }} )</td>
                <td colspan="6">Landing</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoLand == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoLand != 0">{{ match.details.blueAutoLand }} ( +{{ match.details.blueAutoLand * 30 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redAutoSamp == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redAutoSamp != 0">{{ match.details.redAutoSamp }} ( +{{ match.details.redAutoSamp * 25 }} )</td>
                <td colspan="6">Sampling</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoSamp == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoSamp != 0">{{ match.details.blueAutoSamp}} ( +{{ match.details.blueAutoSamp * 25 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redAutoClaim == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redAutoClaim != 0">{{ match.details.redAutoClaim }} ( +{{ match.details.redAutoClaim * 15 }} )</td>
                <td colspan="6">Claiming</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoClaim == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoClaim != 0">{{ match.details.blueAutoClaim}} ( +{{ match.details.blueAutoClaim * 15 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redAutoPark == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redAutoPark != 0">{{ match.details.redAutoPark }} ( +{{ match.details.redAutoPark * 10 }} )</td>
                <td colspan="6">Parking</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoPark == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueAutoPark != 0">{{ match.details.blueAutoPark}} ( +{{ match.details.blueAutoPark * 10 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red"><strong>{{ match.redAutoScore }}</strong></td>
                <td colspan="6"><strong>Autonomous Total</strong></td>
                <td colspan="3" class="blue"><strong>{{ match.blueAutoScore }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mdc-card>
  </div>

  <div class="col-12 p-2">
    <mdc-card class="toa-card">
      <div class="toa-card-header" mdcHeadline5>Driver Controlled Details</div>
      <mdc-list-divider></mdc-list-divider>
      <div class="p-3">
        <div class="w-100">
          <table class="match-table">
            <thead>
              <tr>
                <th colspan="3">Red Alliance</th>
                <th colspan="6">Field</th>
                <th colspan="3">Blue Alliance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redDriverGold == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redDriverGold != 0">{{ match.details.redDriverGold }} Minerals ( +{{ match.details.redDriverGold * 5 }} )</td>
                <td colspan="6">Gold Mineral in Gold Cargo Hold</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueDriverGold == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueDriverGold != 0">{{ match.details.blueDriverGold }} Minerals ( +{{ match.details.blueDriverGold * 5 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redDriverSilver == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redDriverSilver != 0">{{ match.details.redDriverSilver }} Minerals ( +{{ match.details.redDriverSilver * 5 }} )</td>
                <td colspan="6">Silver Mineral in Silver Cargo Hold</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueDriverSilver == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueDriverSilver != 0">{{ match.details.blueDriverSilver }} Minerals ( +{{ match.details.blueDriverSilver * 5 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redDriverDepot == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redDriverDepot != 0">{{ match.details.redDriverDepot }} Minerals ( +{{ match.details.redDriverDepot * 2 }} )</td>
                <td colspan="6">Any Mineral in Depot</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueDriverDepot == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueDriverDepot != 0">{{ match.details.blueDriverDepot }} Minerals ( +{{ match.details.blueDriverDepot * 2 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red"><strong>{{ match.redTeleScore }}</strong></td>
                <td colspan="6"><strong>Driver Controlled Total</strong></td>
                <td colspan="3" class="blue"><strong>{{ match.blueTeleScore }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mdc-card>
  </div>

  <div class="col-12 p-2">
    <mdc-card class="toa-card">
      <div class="toa-card-header" mdcHeadline5>End Game Details</div>
      <mdc-list-divider></mdc-list-divider>
      <div class="p-3">
        <div class="w-100">
          <table class="match-table">
            <thead>
              <tr>
                <th colspan="3">Red Alliance</th>
                <th colspan="6">Field</th>
                <th colspan="3">Blue Alliance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redEndLatch == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redEndLatch != 0">{{ match.details.redEndLatch }} Robots ( +{{ match.details.redEndLatch * 50 }} )</td>
                <td colspan="6">Robots Latched</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueEndLatch == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueEndLatch != 0">{{ match.details.blueEndLatch }} Robots ( +{{ match.details.blueEndLatch * 50 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redEndIn == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redEndIn != 0">{{ match.details.redEndIn }} ( +{{ match.details.redEndIn * 15 }} )</td>
                <td colspan="6">Robots Parked In Crater</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueEndIn == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueEndIn != 0">{{ match.details.blueEndIn }} ( +{{ match.details.blueEndIn * 15 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.redEndComp == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.redEndComp != 0">{{ match.details.redEndComp }} ( +{{ match.details.redEndComp * 25 }} )</td>
                <td colspan="6">Robots Parked Completely In Crater</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueEndComp == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.blueEndComp != 0">{{ match.details.blueEndComp }} ( +{{ match.details.blueEndComp * 25 }} )</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mdc-card>
  </div>

  <div class="col-12 p-2">
    <mdc-card class="toa-card">
      <div class="toa-card-header pb-0" mdcHeadline5>Penalty Details</div>
      <div class="toa-card-subtitle pt-0" mdcSubtitle2>(Points received due to opposing alliance penalties)</div>
      <mdc-list-divider></mdc-list-divider>
      <div class="p-3">
        <div class="w-100">
          <table class="match-table">
            <thead>
              <tr>
                <th colspan="3">Red Alliance</th>
                <th colspan="6">Field</th>
                <th colspan="3">Blue Alliance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.blueMinPen == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.blueMinPen != 0">{{ match.details.blueMinPen }} ( +{{ match.details.blueMinPen * 10 }} )</td>
                <td colspan="6">Minor Penalty</td>
                <td colspan="3" class="blue" *ngIf="match.details.redMinPen == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.redMinPen != 0">{{ match.details.redMinPen }} ( +{{ match.details.redMinPen * 10 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red" *ngIf="match.details.blueMajPen == 0">0</td>
                <td colspan="3" class="red" *ngIf="match.details.blueMajPen != 0">{{ match.details.blueMajPen }} ( +{{ match.details.blueMajPen * 40 }} )</td>
                <td colspan="6">Major Penalty</td>
                <td colspan="3" class="blue" *ngIf="match.details.redMajPen == 0">0</td>
                <td colspan="3" class="blue" *ngIf="match.details.redMajPen != 0">{{ match.details.redMajPen }} ( +{{ match.details.redMajPen * 40 }} )</td>
              </tr>
              <tr>
                <td colspan="3" class="red"><strong>{{ match.bluePenalty }}</strong></td>
                <td colspan="6"><strong>Penalty Total</strong></td>
                <td colspan="3" class="blue"><strong>{{ match.redPenalty }}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mdc-card>
  </div>
</div>
