<div class="row pr-2 pl-2 pb-4">
  <div class="col-md-6 col-12">
    <div class="outline-card">
      <div mdcHeadline5 class="black pb-4">{{ 'pages.account.datasync_card.title' | translate }}</div>

      <div class="table-responsive">
        <div style="white-space:nowrap"><b>Event Key: </b><code>{{ eventKey }}</code></div>
        <div style="white-space:nowrap"><b>Event Key: </b><code>{{ eventApiKey }}</code></div>
      </div>

      <div mdcSubtitle1 class="pt-3">{{ 'pages.account.datasync_card.docs' | translate }}
        <a href="https://github.com/orange-alliance/TOA-DataSync/wiki/DataSync-Documentation" target="_blank" (click)="this.sendAnalytic('leaving', '/account', 'datasync docs');">{{ 'general.here' | translate }}</a>.
      </div>

    </div>
  </div>

  <div class="col-md-6 col-12">
    <div class="outline-card">
      <div mdcHeadline5 class="black pb-4">{{ 'pages.event.subpages.admin.playlist' | translate }}</div>
      <div class="d-inline-flex">
        <mdc-text-field outlined dense label="Playlist URL" [(ngModel)]="playlistURL"></mdc-text-field>
        <button mdc-button primary class="ml-2 mr-2" style="height: 48px" (click)="playlistMatchify()" *ngIf="!loadingVideos">{{ 'general.add' | translate }}</button>
        <mdc-linear-progress class="ml-2 mr-2" style="width: 64px" *ngIf="loadingVideos"></mdc-linear-progress>
      </div>

      <mdc-list #custom twoLine avatar class="videos-list">
        <mdc-list-item  *ngFor="let video of videos">
          <img mdcListItemGraphic src="{{ video['video_thumbnail'] }}" class="thumbnail" title="Video thumbnail">
          <mdc-list-item-text secondaryText="{{ video['video_title'] }}">{{ video['match_name'] }}</mdc-list-item-text>
          <a href="#" mdcListItemMeta mdcIcon title="Play Video" [href]="video['match_video']" target="_blank">play_circle_outline</a>
        </mdc-list-item>
      </mdc-list>
    </div>
  </div>
</div>
