<div class="row pr-2 pl-2 pb-4">
  <div class="col-md-6 col-12">
    <div class="outline-card">
      <div mdcHeadline5 class="black pb-4">{{ 'pages.account.datasync_card.title' | translate }}</div>

      <div class="table-responsive" dir="ltr">
        <div style="white-space:nowrap"><b>Event Key:&nbsp;</b><code>{{ eventKey }}</code></div>
        <div style="white-space:nowrap" class="align-items-center d-flex"><b>API Key:&nbsp;</b>
          <code *ngIf="eventApiKey">{{ eventApiKey }}</code>
          <button mdc-button *ngIf="!eventApiKey && !generatingEventApiKey" (click)="generateEventApiKey()">{{ 'pages.account.api_card.generate_key' | translate }}</button>
          <mdc-linear-progress *ngIf="!eventApiKey && generatingEventApiKey" class="ml-2 mr-2"  style="width: 140px;"></mdc-linear-progress>
        </div>
      </div>

      <div mdcSubtitle1 class="pt-3">{{ 'pages.account.datasync_card.docs' | translate }}
        <a href="https://github.com/orange-alliance/TOA-DataSync/wiki/DataSync-Documentation" target="_blank" (click)="this.sendAnalytic('leaving', '/event/' + eventKey, 'datasync docs');">{{ 'general.here' | translate }}</a>.
      </div>
    </div>

    <div class="outline-card mt-3">
      <div mdcHeadline5 class="black pb-4">{{ 'pages.event.subpages.admin.update_info_card.title' | translate }}</div>
      <div class="row edit-event">
        <div class="col-md-6 col-12 p-1">
          <mdc-text-field #event_name outlined dense [label]="'pages.event.subpages.admin.update_info_card.event_name' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="rename-box"></mdc-icon>
          </mdc-text-field>
          <mdc-text-field #website outlined dense [label]="'pages.event.subpages.admin.update_info_card.website' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="earth"></mdc-icon>
          </mdc-text-field>
          <mdc-text-field #start_date outlined dense type="date" [label]="'pages.event.subpages.admin.update_info_card.start_date' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="calendar"></mdc-icon>
          </mdc-text-field>
          <mdc-text-field #end_date outlined dense type="date" [label]="'pages.event.subpages.admin.update_info_card.end_date' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="calendar"></mdc-icon>
          </mdc-text-field>
        </div>

        <div class="col-md-6 col-12 p-1">
          <mdc-text-field #venue outlined dense [label]="'pages.event.subpages.admin.update_info_card.venue' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="spotlight"></mdc-icon>
          </mdc-text-field>
          <mdc-text-field #city outlined dense [label]="'pages.event.subpages.admin.update_info_card.city' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="city-variant-outline"></mdc-icon>
          </mdc-text-field>
          <mdc-text-field #state outlined dense [label]="'pages.event.subpages.admin.update_info_card.state' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="map-marker-outline"></mdc-icon>
          </mdc-text-field>
          <mdc-text-field #country outlined dense [label]="'pages.event.subpages.admin.update_info_card.country' | translate">
            <mdc-icon mdcTextFieldIcon leading svgIcon="globe-model"></mdc-icon>
          </mdc-text-field>
        </div>
      </div>
      <button mdc-button primary (click)="updateEvent()">{{ 'pages.event.subpages.admin.update_info_card.update' | translate }}</button>
    </div>
  </div>

  <div class="col-md-6 col-12">
    <div class="outline-card">
      <div mdcHeadline5 class="black pb-4">{{ 'pages.event.subpages.admin.playlist_card.title' | translate }}</div>
      <div class="d-inline-flex align-items-center">
        <mdc-text-field outlined dense label="{{ 'pages.event.subpages.admin.playlist_card.playlist_url' | translate }}" *ngIf="showGetObjects" [(ngModel)]="playlistURL"></mdc-text-field>
        <button mdc-button primary class="ml-2 mr-2" style="height: 48px" (click)="playlistMatchify()" *ngIf="!loadingVideos && showGetObjects">{{ 'pages.event.subpages.admin.playlist_card.load' | translate }}</button>
        <button mdc-button primary class="ml-2 mr-2" style="height: 48px" (click)="setVideos()" *ngIf="!uploadingVideos && showConfirm">{{ 'pages.event.subpages.admin.playlist_card.confirm' | translate }}</button>
        <mdc-linear-progress class="ml-2 mr-2" style="width: 64px" *ngIf="loadingVideos || uploadingVideos"></mdc-linear-progress>
      </div>

      <mdc-list #custom twoLine avatar class="videos-list" *ngIf="videos && videos.length > 0">
        <mdc-list-item  *ngFor="let video of videos">
          <img mdcListItemGraphic src="{{ video['video_thumbnail'] }}" class="thumbnail" title="Video thumbnail">
          <mdc-list-item-text secondaryText="{{ video['video_title'] }}">{{ video['match_name'] }}</mdc-list-item-text>
          <a href="#" mdcListItemMeta mdcIcon title="Play Video" [href]="video['video_url']" target="_blank">play_circle_outline</a>
        </mdc-list-item>
      </mdc-list>
    </div>
  </div>
</div>
