<div class="W-100 p-2">
  <div class="insight-card">
    <div class="insight-card-header">{{ 'pages.event.subpages.insights.' + (isQual ? 'qual' : 'playoff') | translate }}</div>
    <hr/>
    <div class="align-items-center" *ngIf="insights.highScoreMatch">
      <div class="insight-card-title">{{ 'pages.event.subpages.insights.high_score' | translate }}</div>
      <div class="insight-card-content">{{ highScore }}</div>
      <a routerLink="/matches/{{ insights.highScoreMatch.matchKey }}">{{ insights.highScoreMatch.matchName }}</a>
    </div>
    <hr *ngIf="insights.highScoreMatch" />
    <div class="align-items-center">
      <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_score' | translate }}</div>
      <div class="insight-card-content">{{ insights.averageMatchScore }}</div>
    </div>
    <hr/>
    <div class="align-items-center">
      <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_winning_score' | translate }}</div>
      <div class="insight-card-content">{{ insights.averageWinningScore }}</div>
    </div>
    <hr/>
    <div class="align-items-center">
      <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_winning_margin' | translate }}</div>
      <div class="insight-card-content">{{ insights.averageWinningMargin }}</div>
    </div>

    <toa-insights-rover-ruckus *ngIf="seasonKey === '1819' && insights" [insights]="insights"></toa-insights-rover-ruckus>
    <toa-insights-skystone *ngIf="seasonKey === '1920' && insights" [insights]="insights"></toa-insights-skystone>
    <toa-insights-ultimate-goal *ngIf="seasonKey === '2021' && insights" [insights]="insights"></toa-insights-ultimate-goal>
    <toa-insights-freight-frenzy *ngIf="seasonKey === '2122' && insights" [insights]="insights"></toa-insights-freight-frenzy>
  </div>
</div>
