<div class="row pr-2 pl-2 pb-4">
  <div class="col-md-6 col-12" *ngIf="schedule">
    <div class="outline-card p-0 m-1">
      <div mdcHeadline5 class="black p-3">{{ 'pages.event.subpages.for-participants.schedule' | translate }}</div>
      <img class="img-fluid" [src]="schedule.mediaLink">
    </div>
  </div>
  <div class="col-md-6 col-12" *ngIf="pitsMap">
    <div class="outline-card p-0 m-1">
      <div mdcHeadline5 class="black p-3">{{ 'pages.event.subpages.for-participants.pits_map' | translate }}</div>
      <img class="img-fluid" [src]="pitsMap.mediaLink">
    </div>
  </div>
  <div class="col-md-6 col-12" *ngIf="venueMap">
    <div class="outline-card p-0 m-1">
      <div mdcHeadline5 class="black p-3">{{ 'pages.event.subpages.for-participants.venue_map' | translate }}</div>
      <img class="img-fluid" [src]="venueMap.mediaLink">
    </div>
  </div>
</div>
