<div class="row">
  <div class="col-12 col-md-6 pe-md-2 mb-3">
    <div class="account-card col-12">
      <div mdcHeadline5>{{ 'pages.account.division_tab.create_league' | translate }}</div>
      <mdc-text-field #league_key dense [label]="'pages.account.division_tab.create_league_fields.league_key' | translate" class="w-100 mb-1">
        <mdc-icon mdcTextFieldIcon leading svgIcon="key"></mdc-icon>
      </mdc-text-field>
      <mdc-select *ngIf="currentRegion"  [placeholder]="'pages.account.create_event_card.region' | translate" (selectionChange)="onRegionChange($event)" class="w-100 mb-1">
        <option disabled></option>
        <option *ngFor="let region of regions" [value]="region.regionKey">
          {{ region.description ? region.regionKey + " - " + region.description : region.regionKey }}
        </option>
      </mdc-select>
      <mdc-text-field #league_description dense [label]="'pages.account.division_tab.create_league_fields.league_description' | translate" class="w-100 mb-1">
        <mdc-icon mdcTextFieldIcon leading svgIcon="rename-box"></mdc-icon>
      </mdc-text-field>
      <button mdc-button primary (click)="createLeague()" class="mt-3">{{ 'pages.account.create_event_card.create' | translate }}</button>
    </div>
  </div>

  <div class="col-12 col-md-6 ps-md-2 mb-3">
    <div class="account-card col-12">
      <div mdcHeadline5>{{ 'pages.account.division_tab.create_league_div' | translate }}</div>
      <mdc-text-field #division_key dense [label]="'pages.account.division_tab.division_key' | translate" class="w-100 mb-1">
        <mdc-icon mdcTextFieldIcon leading svgIcon="key"></mdc-icon>
      </mdc-text-field>
      <mdc-select #division_league *ngIf="currentLeague"  [placeholder]="'pages.account.create_event_card.league' | translate" (selectionChange)="onLeagueChange($event)" class="w-100 mb-1">
        <option disabled></option>
        <option *ngFor="let league of leagues" [value]="league.leagueKey">
          {{ league.description ? league.leagueKey + " - " + league.description : league.leagueKey }}
        </option>
      </mdc-select>
      <mdc-text-field #division_desc dense [label]="'pages.account.division_tab.create_league_fields.division_desc' | translate" class="w-100 mb-1">
        <mdc-icon mdcTextFieldIcon leading svgIcon="rename-box"></mdc-icon>
      </mdc-text-field>
      <button mdc-button primary (click)="createDivision()" class="mt-3">{{ 'pages.account.create_event_card.create' | translate }}</button>
    </div>
  </div>


  <div class="col-12 col-md-6 pe-md-2 mb-3">
    <div class="account-card col-12">
      <div mdcHeadline5>{{ 'pages.account.division_tab.leagues' | translate }}</div>
      <toa-league-item *ngFor="let league of leagues" [league]="league" [clickable]="false" [hideDelete]="false" [user]="user"></toa-league-item>
    </div>
  </div>

  <div class="col-12 col-md-6 ps-md-2 mb-3">
    <div class="account-card col-12">
      <div mdcHeadline5>{{ 'pages.account.division_tab.league_divisions' | translate }}</div>
      <toa-league-item *ngFor="let division of divisions" [division]="division" [clickable]="false" [hideDelete]="false" [user]="user"></toa-league-item>
    </div>
  </div>
</div>
