<div class="row">
  <div class="w-100">
    <div class="outline-card col-12 mb-2">
      <div mdcHeadline5 class="black pb-4">{{ 'pages.account.division_tab.create_league' | translate }}</div>
      <div class="row edit-event">
        <div class="col-md-6 col-12 mb-3">
          <mdc-text-field #league_key dense [label]="'pages.account.division_tab.create_league_fields.league_key' | translate" class="w-100">
            <mdc-icon mdcTextFieldIcon leading svgIcon="key"></mdc-icon>
          </mdc-text-field>
          <mdc-select *ngIf="currentRegion"  [placeholder]="'pages.account.create_event_card.region' | translate" (selectionChange)="onRegionChange($event)" class="w-100">
            <option disabled></option>
            <option *ngFor="let region of regions" [value]="region.regionKey">
              {{ region.description ? region.regionKey + " - " + region.description : region.regionKey }}
            </option>
          </mdc-select>
        </div>
        <div class="col-md-6 col-12 ps-md-3">
          <mdc-text-field #league_description dense [label]="'pages.account.division_tab.create_league_fields.league_description' | translate" class="w-100">
            <mdc-icon mdcTextFieldIcon leading svgIcon="rename-box"></mdc-icon>
          </mdc-text-field>
        </div>
        <button mdc-button primary (click)="createLeague()" class="mt-2">{{ 'pages.account.create_event_card.create' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="w-100">
    <div class="outline-card col-12 mb-2">
      <div mdcHeadline5 class="black pb-4">{{ 'pages.account.division_tab.create_league_div' | translate }}</div>
      <div class="row edit-event">
        <div class="col-md-6 col-12 mb-3">
          <mdc-text-field #division_key dense [label]="'pages.account.division_tab.division_key' | translate" class="w-100">
            <mdc-icon mdcTextFieldIcon leading svgIcon="key"></mdc-icon>
          </mdc-text-field>
          <mdc-select #division_league *ngIf="currentLeague"  [placeholder]="'pages.account.create_event_card.league' | translate" (selectionChange)="onLeagueChange($event)" class="w-100">
            <option disabled></option>
            <option *ngFor="let league of leagues" [value]="league.leagueKey">
              {{ league.description ? league.regionKey + "-" + league.leagueKey + " - " + league.description : league.regionKey + "-" + league.leagueKey }}
            </option>
          </mdc-select>
        </div>
        <div class="col-md-6 col-12 ps-md-3">
          <mdc-text-field #division_desc dense [label]="'pages.account.division_tab.create_league_fields.division_desc' | translate" class="w-100">
            <mdc-icon mdcTextFieldIcon leading svgIcon="rename-box"></mdc-icon>
          </mdc-text-field>
        </div>
        <button mdc-button primary (click)="createDivision()" class="mt-2">{{ 'pages.account.create_event_card.create' | translate }}</button>
      </div>
    </div>
  </div>

  <div class="w-100">
    <div class="outline-card col-12 mb-2">
      <div class="row edit-event">
        <div class="col-md-6 col-12 mb-3">
          <div mdcHeadline5 class="black pb-4">{{ 'pages.account.division_tab.leagues' | translate }}</div>
          <toa-league-item *ngFor="let league of leagues" [league]="league" [clickable]="false" [hideDelete]="false"></toa-league-item>
        </div>
        <div class="col-md-6 col-12 ps-md-3">
          <div mdcHeadline5 class="black pb-4">{{ 'pages.account.division_tab.league_divisions' | translate }}</div>
          <toa-league-item *ngFor="let league of divisions" [league]="league" [clickable]="false" [hideDelete]="false"></toa-league-item>
        </div>
      </div>
    </div>
  </div>
</div>
