<div class="row">
  <h2 class="col-9">myTOA</h2>
  <div class="col-3">
    <button mdc-button primary (click)="signOut()">{{ 'pages.account.logout' | translate }}</button>
  </div>
</div>

<div class="w-100 align-items-center text-center" *ngIf="user">
  <div *ngIf="!user.profileImage && user.fullName" class="profile-image">{{ user.fullName.substring(0, 1) }}</div>
  <img *ngIf="user.profileImage && profileUrl | async" class="profile-image" src="{{ profileUrl | async }}" height="100" />
  <div class="profile-name">{{ 'drawer.mytoa.hello' | translate: {'name': user['fullName'] || 'User' } }}</div>
  <div class="profile-detail">{{ ('pages.account.level' | translate: {'level': user['level'] || 1}) + (user['team'] ? '⋅ #' + user['team'] : '')}}</div>
</div>

<div class="row mt-5 m-2">
  <div class="col-md-8 col-12 p-2">
    <div class="outline-card p-3">
      <div class="row">
        <div class="col-md-6 col-12">
          <div mdcHeadline5 class="black mt-3">{{ "general.teams" | translate }}</div>
          <mdc-list *ngIf="teams">
            <toa-team-item *ngFor="let team of teams" [team]="team"></toa-team-item>
          </mdc-list>
          <p *ngIf="teams && teams.length === 0">{{ "no_data.teams" | translate }}</p>
        </div>
        <div class="col-md-6 col-12">
          <div mdcHeadline5 class="black mt-3">{{ "general.events" | translate }}</div>
          <mdc-list *ngIf="events">
            <toa-event-item *ngFor="let event of events" [event]="event"></toa-event-item>
          </mdc-list>
          <p *ngIf="events && events.length === 0">{{ "no_data.events" | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-12 p-2">
    <div class="outline-card d-flex p-3">
      <div>
        <div mdcHeadline5 class="black mt-3">{{ 'pages.account.api_card.title' | translate }}</div>
        <div mdcSubtitle1 class="mt-1">{{ 'pages.account.api_card.your_key' | translate }}</div>
        <code>{{ user.uid }}</code>
        <div mdcSubtitle1 class="mt-2">{{ 'pages.account.api_card.docs' | translate }}
          <a href="https://orange-alliance.github.io/TOA-API" target="_blank" (click)="this.sendAnalytic('leaving', '/account', 'api docs');">orange-alliance.github.io/TOA-API</a>.
        </div>
      </div>
      <img class="server-illustration" src="../../../assets/imgs/server_illustration.svg" />
    </div>
  </div>
</div>
