<div class="row">
  <h2 class="col-9">myTOA</h2>
  <div class="col-3">
    <button mdc-button primary (click)="signOut();">{{ "pages.account.logout" | translate }}</button>
  </div>
</div>
<div class="row">
  <div class="col-center">
    <img draggable="false" class="rounded-circle img-center" src="{{ profileUrl | async }}" height="100" />
    <div class="major-detail">{{ user['fullName'] }}</div>
    <div *ngIf="user['level'] == null" class="minor-detail">{{ user['team'] }}</div>
    <div *ngIf="user['level'] != null" class="minor-detail">{{ user['team'] }} ᛫ Level {{ user['level'] }}</div>
  </div>
</div>
<div class="bottom-three"></div>
<div class="row mt-3">
  <div class="col-md-6 col-12">
    <div mdcHeadline5 class="black">{{ "general.teams" | translate }}</div>
    <mdc-list *ngIf="teams">
      <toa-team-item *ngFor="let team of teams" [team]="team"></toa-team-item>
    </mdc-list>
    <p *ngIf="teams && teams.length === 0">{{ "no_data.teams" | translate }}</p>
  </div>
  <div class="col-md-6 col-12">
    <div mdcHeadline5 class="black">{{ "general.events" | translate }}</div>
    <mdc-list *ngIf="events">
      <toa-event-item *ngFor="let event of events" [event]="event"></toa-event-item>
    </mdc-list>
    <p *ngIf="events && events.length === 0">{{ "no_data.events" | translate }}</p>
  </div>
</div>
