@import "../../../constants";

.profile-block {
  background: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}

.cards-container {
  margin-top: -40px;
}

.profile-image {
  width: 82px;
  height: 82px;
  line-height: 96px;
  border-radius: 50%;
  background: #ececec;
  border: #d8d8d8 solid 1px;
  font-size: 55px;
  color: #000;
  text-align: center;
  margin: 10px 0;
  display: inline-block;
  pointer-events: none;
}

.profile-name {
  font-size: 1.75rem;
  color: #202124;
}

.profile-detail {
  font-size: 1rem;
  word-break: break-word;
  word-wrap: break-word;
  color: #5f6368;
}

.server-illustration {
  height: 96px;
  width: 96px;
}

.dropdown-style {
  width: 240px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.cache-radio-group {
  display: block;
  width: 100%;
}

.cache-radio-group .mdc-form-field {
  width: 30%;
}

.user-modal .mdc-list-item {
  height: auto !important;
  min-height: 48px;
}

@media (max-width: 991px) {
  .server-illustration {
    display: none;
  }

  .cache-radio-group .mdc-form-field {
    width: 100% !important;
  }
}

.request-permission-btn {
  font-weight: bold;
  border-radius: 8px;
}

.green-chip {
  color: #fff;
  font-weight: bold;
  background: #0d8f4f;

  mdc-chip-icon {
    color: #fff!important;
  }
}

.red-chip {
  color: #fff;
  font-weight: bold;
  background: #f44336;

  mdc-chip-icon {
    color: #fff!important;
  }
}

@media (min-width: 900px) {
  .icon-panel {
    max-width: 70%;
  }
}
