<h2>Events</h2>

<div class="row w-100">
  <div class="col-12">
    <mdc-card class="toa-card" *ngIf="weeks">
      <div class="toa-card-header">Filter Options</div>

      <mdc-list-divider></mdc-list-divider>
      <div class="p-3 row">

        <div *ngIf="current_season" class="col-md-4 col-xs-12 filter-row dropdown">
          <div class="filter-info">Region: </div><button class="btn btn-default dropdown-toggle" type="button" id="ftc_season" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ getSeason(current_season)}}
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" aria-labelledby="ftc_season">
            <mdc-menu-item *ngFor="let season of seasons" (click)="selectSeason(season)">{{ getSeason(season) }}</mdc-menu-item>
          </ul>
        </div>

        <div *ngIf="current_region" class="col-md-4 col-xs-12 filter-row dropdown">
          <div class="filter-info">Region: </div><button class="btn btn-default dropdown-toggle" type="button" id="ftc_district" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ current_region.description ? current_region.region_key + " - " + current_region.description :  current_region.region_key}}
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" aria-labelledby="ftc_district">
            <mdc-menu-item *ngFor="let region of regions" (click)="selectRegion(region)">{{ region.description ? region.region_key + " - " + region.description :  region.region_key }}</mdc-menu-item>
          </ul>
        </div>

        <!--
          <div *ngIf="current_league" class="col-md-4 col-xs-12 filter-row dropdown">
            <div class="filter-info">League: </div>
            <button class="btn btn-default dropdown-toggle" type="button" id="ftc_league" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{ current_league.description ? current_league.league_key + " - " + current_league.description :  current_league.league_key}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="ftc_league">
              <mdc-menu-item *ngFor="let league of leagues" (click)="selectLeague(league)">{{ league.description ? league.league_key + " - " + league.description :  league.league_key}}</mdc-menu-item>
            </ul>
          </div>
        -->
      </div>

      <mdc-list-divider></mdc-list-divider>

      <button mdc-button (click)="clearFilter()">Clear Filter</button>

    </mdc-card>
  </div>
</div>

<!--
<mdc-card class="toa-card">
  <div class="toa-card-header pb-0" mdcSubtitle2>Filter Options</div>
  <mdc-list-divider></mdc-list-divider>
  <div class="row">
    <div class="col-xs-4">
      <span>Year: </span>
    </div>
    <div *ngIf="seasons" class="dropdown col-xs-8">
      <mdc-select #season_select placeholder="Simple Select" (change)="selectSeason(season_select.value)">
        <option *ngFor="let season of seasons; let i = index" [value]="season" [selected]="i == seasons.length-1">{{ getSeason(season) }}</option>
      </mdc-select>
&lt;!&ndash;
      <mdc-select #select placeholder="Favorite food" ngModel #demoSelectModel="ngModel" name="food" (change)="onChange($event)"
                  (selectionChange)="onSelectionChange($event)">
        <option *ngFor="let food of foods" [value]="food.value" [disabled]="food.disabled">
          {{food.description}}
        </option>
      </mdc-select>
&ndash;&gt;

      <button class="btn btn-default dropdown-toggle" type="button" id="ftc_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ getSeason(current_season) }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ftc_year">
        <li *ngFor="let season of seasons"><a (click)="selectSeason(season)" >{{ getSeason(season) }}</a></li>
      </ul>
    </div>

    <div class="col-xs-4">
      <span>Region: </span>
    </div>
    <div *ngIf="regions" class="dropdown col-xs-8">
      <button class="btn btn-default dropdown-toggle" type="button" id="ftc_district" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ current_region.region_key }} <span *ngIf="current_region.description">- {{ current_region.description}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ftc_district">
        <li *ngFor="let region of regions"><a (click)="selectRegion(region)">{{ region.region_key }} <span *ngIf="region.description">- {{ region.description }}</span></a></li>
      </ul>
    </div>
  </div>

</mdc-card>
-->

<div class="mt-5 row" *ngIf="weeks && weeks.length > 0">
  <div class="col-12">
    <mdc-card class="toa-card">
      <mdc-tab-bar #tabbar class="w-100">
        <mdc-tab-scroller>
          <div *ngFor="let week of weeks; let i = index">
            <mdc-tab *ngIf="getEventsByWeek(week).length > 0" [label]="getWeekName(week.week)" (click)="select(i)"><span class="ml-1 badge badge-pill badge-primary bg-primary">{{ getEventsByWeek(week).length }}</span></mdc-tab>
          </div>
        </mdc-tab-scroller>
      </mdc-tab-bar>
      <div class="mt-4">
        <div *ngFor="let week of weeks; let i = index">
          <div *ngIf="isSelected(i)">
            <div class="pt-t pl-3">
              <h1 mdcHeadline6>{{ getWeekName(week.week) }}<h1 mdcSubtitle1>{{ week.start_date | date :  "mediumDate"}} - {{ week.end_date | date :  "mediumDate" }}</h1></h1>
            </div>

            <mdc-list-divider></mdc-list-divider>

            <mdc-list [lines]="2">
              <div *ngFor="let event of getEventsByWeek(week)" class="no-underline">

                <a href="/events/{{ event.event_key }}">
                  <mdc-list-item interactive *ngIf="event.start_date == event.end_date">
                    <mdc-list-item-text>
                      <span class="black">{{ event.division_name ? event.event_name + ' - ' +  event.division_name + ' Division' : event.event_name }}</span>
                      <span class="mdc-list-item__secondary-text">{{ event.city }}, {{ event.state_prov != null ? event.state_prov + ', ' : '' }} {{ event.country }} on {{ event.start_date | date :  "mediumDate"}}</span>
                    </mdc-list-item-text>
                  </mdc-list-item>
                </a>

                <a href="/events/{{ event.event_key }}">
                  <mdc-list-item interactive *ngIf="event.start_date != event.end_date">
                    <mdc-list-item-text>
                      <span class="black">{{ event.division_name ? event.event_name + ' - ' +  event.division_name + ' Division' : event.event_name }}</span>
                      <span class="mdc-list-item__secondary-text">{{ event.city }}, {{ event.state_prov != null ? event.state_prov + ', ' : '' }} {{ event.country }} from {{ event.start_date | date :  "mediumDate"}} to {{ event.end_date | date :  "mediumDate"}}</span>
                    </mdc-list-item-text>
                  </mdc-list-item>
                </a>
              </div>
            </mdc-list>
          </div>
        </div>
      </div>
    </mdc-card>
  </div>
</div>
