<h2>Events</h2>


<!--
<mdc-card class="toa-card">
  <div class="toa-card-header pb-0" mdcSubtitle2>Filter Options</div>
  <mdc-list-divider></mdc-list-divider>
  <div class="row">
    <div class="col-xs-4">
      <span>Year: </span>
    </div>
    <div *ngIf="seasons" class="dropdown col-xs-8">
      <mdc-select #season_select placeholder="Simple Select" (change)="selectSeason(season_select.value)">
        <option *ngFor="let season of seasons; let i = index" [value]="season" [selected]="i == seasons.length-1">{{ getSeason(season) }}</option>
      </mdc-select>
&lt;!&ndash;
      <mdc-select #select placeholder="Favorite food" ngModel #demoSelectModel="ngModel" name="food" (change)="onChange($event)"
                  (selectionChange)="onSelectionChange($event)">
        <option *ngFor="let food of foods" [value]="food.value" [disabled]="food.disabled">
          {{food.description}}
        </option>
      </mdc-select>
&ndash;&gt;

      <button class="btn btn-default dropdown-toggle" type="button" id="ftc_year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ getSeason(current_season) }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ftc_year">
        <li *ngFor="let season of seasons"><a (click)="selectSeason(season)" >{{ getSeason(season) }}</a></li>
      </ul>
    </div>

    <div class="col-xs-4">
      <span>Region: </span>
    </div>
    <div *ngIf="regions" class="dropdown col-xs-8">
      <button class="btn btn-default dropdown-toggle" type="button" id="ftc_district" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ current_region.region_key }} <span *ngIf="current_region.description">- {{ current_region.description}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="ftc_district">
        <li *ngFor="let region of regions"><a (click)="selectRegion(region)">{{ region.region_key }} <span *ngIf="region.description">- {{ region.description }}</span></a></li>
      </ul>
    </div>
  </div>

</mdc-card>
-->


<div style="display: flex; flex-wrap: nowrap">
  <button mdc-icon-button iconOn="keyboard_arrow_left" iconOff="keyboard_arrow_left" (click)="tabsBarScroller.incrementScroll(0)"></button>
  <mdc-tab-bar #tabsBar>
    <mdc-tab-scroller #tabsBarScroller>
      <a *ngFor="let week of weeks; let i = index" [href]="'#week' + i" data-toggle="pill" role="tab">
        <mdc-tab class="nav-item" [label]="getWeekName(week.week) + ' (' + getEventsByWeek(week).length + ')'">
        </mdc-tab>
      </a>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <button mdc-icon-button iconOn="keyboard_arrow_right" iconOff="keyboard_arrow_right" (click)="tabsBarScroller.incrementScroll(1000)"></button>
</div>

<div class="tab-content">
  <div *ngFor="let week of weeks; let i = index" [class]="i==0 ? 'tab-pane active' : 'tab-pane'" [id]="'week' + i" role="tabpanel">

    <div class="pt-3 pl-3">
      <h1 mdcHeadline6>{{ getWeekName(week.week) }}<h1 mdcSubtitle1>{{ week.start_date | date :  "mediumDate"}} - {{ week.end_date | date :  "mediumDate" }}</h1></h1>
    </div>

    <mdc-list #twoline [lines]="2">
      <div *ngFor="let event of getEventsByWeek(week)">

        <mdc-list-item interactive *ngIf="event.division_name == null && event.start_date == event.end_date">
          <mdc-list-item-text>
            <span>{{ event.event_name }}</span>
            <span class="mdc-list-item__secondary-text">{{ event.city }}, {{ event.state_prov != null ? event.state_prov + ', ' : '' }} {{ event.country }} on {{ event.start_date | date :  "mediumDate"}}</span>
          </mdc-list-item-text>
        </mdc-list-item>

        <mdc-list-item interactive *ngIf="event.division_name == null && event.start_date != event.end_date">
          <mdc-list-item-text>
            <span>{{ event.event_name }}</span>
            <span class="mdc-list-item__secondary-text">{{ event.city }}, {{ event.state_prov != null ? event.state_prov + ', ' : '' }} {{ event.country }} from {{ event.start_date | date :  "mediumDate"}} to {{ event.end_date | date :  "mediumDate"}}</span>
          </mdc-list-item-text>
        </mdc-list-item>


        <mdc-list-item interactive *ngIf="event.division_name && event.start_date == event.end_date">
          <mdc-list-item-text>
            <span>{{ event.event_name }} - {{ event.division_name }} Division</span>
            <span class="mdc-list-item__secondary-text">{{ event.city }}, {{ event.state_prov != null ? event.state_prov + ', ' : '' }} {{ event.country }} on {{ event.start_date | date :  "mediumDate"}}</span>
          </mdc-list-item-text>
        </mdc-list-item>

        <mdc-list-item interactive *ngIf="event.division_name && event.start_date != event.end_date">
          <mdc-list-item-text>
            <span>{{ event.event_name }} - {{ event.division_name }} Division</span>
            <span class="mdc-list-item__secondary-text">{{ event.city }}, {{ event.state_prov != null ? event.state_prov + ', ' : '' }} {{ event.country }} from {{ event.start_date | date :  "mediumDate"}} to {{ event.end_date | date :  "mediumDate"}}</span>
          </mdc-list-item-text>
        </mdc-list-item>
      </div>
    </mdc-list>
  </div>
</div>
