<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-5 p-3">
    <mdc-card class="toa-card p-3">
      <h2 class="m-2">{{ "pages.account.subpages.register.title" | translate }}</h2>
      <mdc-text-field outlined class="mt-2" label="{{ 'pages.account.subpages.register.full_name' | translate }}" [(ngModel)]="name" type="name" required></mdc-text-field>
      <mdc-text-field outlined class="mt-2" label="{{ 'pages.account.subpages.register.email' | translate }}" [(ngModel)]="email" type="email" required></mdc-text-field>
      <mdc-text-field outlined class="mt-2" label="{{ 'pages.account.subpages.register.password' | translate }}" [(ngModel)]="password" type="password" required></mdc-text-field>
      <mdc-text-field outlined class="mt-2" label="{{ 'pages.account.subpages.register.confirm_password' | translate }}" [(ngModel)]="confirmPassword" type="password" required></mdc-text-field>
      <mdc-text-field outlined class="mt-2" label="{{ 'pages.account.subpages.register.your_team' | translate }}" [(ngModel)]="team"></mdc-text-field>
      <button mdc-button primary class="mt-4" (click)="createUser()">{{ "pages.account.subpages.register.sign_up" | translate }}</button>
      <div mdcCaption class="mt-1">By clicking {{ "pages.account.subpages.register.sign_up" | translate }}, you agree to our <a href="https://theorangealliance.org/privacy-terms" target="_blank">Terms and Conditions</a> and that you have read our <a href="https://theorangealliance.org/privacy-terms" target="_blank">Privacy Policy</a>.</div>
    </mdc-card>
  </div>
</div>
