<div class="toa-card">

  <h2>{{ 'pages.account.subpages.pending_data.streams' | translate }}</h2>
  <p *ngIf="pendingStreamData.length == 0">{{ 'pages.account.subpages.pending_data.no_streams' | translate}}</p>
  <div class="outline-card" *ngIf="pendingStreamData.length > 0">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingStreamData">

          <iframe [src]="link.media_link | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>

          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link, true)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link, true)">Accept</button>
          </div>


        </div>
      </div>
    </div>
  </div>

  <h2>{{ 'pages.account.subpages.pending_data.team_data.title' | translate }}</h2>
  <div class="outline-card">
    <h3>{{ 'pages.account.subpages.pending_data.team_data.videos' | translate }}</h3>
    <p *ngIf="pendingTeamData.videos.length === 0">{{ 'pages.account.subpages.pending_data.no_team.videos' | translate}}
    </p>
    <div class="mdc-layout-grid" *ngIf="pendingTeamData.videos.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingTeamData.videos">

          <iframe [src]="link.media_link | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>

          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>

    <h3>{{ 'pages.account.subpages.pending_data.team_data.logos' | translate }}</h3>
    <p *ngIf="pendingTeamData.logos.length === 0">{{ 'pages.account.subpages.pending_data.no_team.logos' | translate}}
    </p>
    <div class="mdc-layout-grid" *ngIf="pendingTeamData.logos.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingTeamData.logos">
          <img class="submitted-pic" [src]="link.media_link" [alt]="link.media_title" />
          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>

    <h3>{{ 'pages.account.subpages.pending_data.team_data.pictures' | translate }}</h3>
    <p *ngIf="pendingTeamData.images.length === 0">{{ 'pages.account.subpages.pending_data.no_team.images' | translate}}
    </p>
    <div class="mdc-layout-grid" *ngIf="pendingTeamData.images.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingTeamData.images">
          <img class="submitted-pic" [src]="link.media_link" alt="link.media_title" />
          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>

    <h3>{{ 'pages.account.subpages.pending_data.team_data.cads' | translate }}</h3>
    <p *ngIf="pendingTeamData.images.length === 0">{{ 'pages.account.subpages.pending_data.no_team.cads' | translate}}
    </p>
    <div class="mdc-layout-grid" *ngIf="pendingTeamData.cads.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingTeamData.cads">
          <p>
            <a ng-href="link.media_link | safe: 'resourceUrl'">link1</a>
          </p>
          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <h2>{{ 'pages.account.subpages.pending_data.event_data.title' | translate }}</h2>
  <div class="outline-card">
    <h3>{{ 'pages.account.subpages.pending_data.event_data.pit_maps' | translate }}</h3>
    <p *ngIf="pendingEventData.pitmaps.length === 0">
      {{ 'pages.account.subpages.pending_data.no_event.pit_maps' | translate}}</p>
    <div class="mdc-layout-grid" *ngIf="pendingEventData.pitmaps.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingEventData.pitmaps">
          <img class="submitted-pic" [src]="link.media_link" alt="link.media_title" />
          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>

    <h3>{{ 'pages.account.subpages.pending_data.event_data.schedules' | translate }}</h3>
    <p *ngIf="pendingEventData.schedules.length === 0">
      {{ 'pages.account.subpages.pending_data.no_event.pit_maps' | translate}}</p>
    <div class="mdc-layout-grid" *ngIf="pendingEventData.schedules.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingEventData.schedules">
          <img class="submitted-pic" [src]="link.media_link" alt="link.media_title" />
          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>

    <h3>{{ 'pages.account.subpages.pending_data.event_data.venue_maps' | translate }}</h3>
    <p *ngIf="pendingEventData.venuemaps.length === 0">
      {{ 'pages.account.subpages.pending_data.no_event.venue_maps' | translate}}</p>
    <div class="mdc-layout-grid" *ngIf="pendingEventData.venuemaps.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingEventData.venuemaps">
          <img class="submitted-pic" [src]="link.media_link" alt="link.media_title" />
          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>

    <h3>{{ 'pages.account.subpages.pending_data.event_data.images' | translate }}</h3>
    <p *ngIf="pendingEventData.images.length === 0">
      {{ 'pages.account.subpages.pending_data.no_event.images' | translate}}</p>
    <div class="mdc-layout-grid" *ngIf="pendingEventData.images.length > 0">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell" *ngFor="let link of pendingEventData.images">
          <img class="submitted-pic" [src]="link.media_link" alt="link.media_title" />
          <div class="mdc-layout-grid__inner">
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="removeData(link)">Reject</button>
            <button mdc-button primary class="mdc-layout-grid__cell" (click)="addData(link)">Accept</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
