<mdc-list-item class="modified-event" *ngIf="!isHidden">
  <mdc-list-item-text>
    <span class="black">{{ originalEvent.fullEventName }} </span>
    <span class="mdc-list-item__secondary-text no-before">
      <p *ngIf="modifiedEvent.discStartDate">Start Date: <s>{{ originalEvent.startDate | date: 'mediumDate' }}</s> {{ newEvent.startDate | date: 'mediumDate' }}</p>
      <p *ngIf="modifiedEvent.discEndDate">End Date: <s>{{ originalEvent.endDate | date: 'mediumDate' }}</s> {{ newEvent.endDate | date: 'mediumDate' }}</p>
      <p *ngIf="modifiedEvent.discVenue">Venue: <s>{{ originalEvent.venue }}</s> {{ newEvent.venue }}</p>
      <p *ngIf="modifiedEvent.discCity">City: <s>{{ originalEvent.city }}</s> {{ newEvent.city }}</p>
      <p *ngIf="modifiedEvent.discState">State: <s>{{ originalEvent.stateProv }}</s> {{ newEvent.stateProv }}</p>
      <p *ngIf="modifiedEvent.discCountry">Country: <s>{{ originalEvent.country }}</s> {{ newEvent.country }}</p>
      <p *ngIf="modifiedEvent.discWebsite">Website: <s>{{ originalEvent.website }}</s> {{ newEvent.website }}</p>
    </span>
  </mdc-list-item-text>
  <button mdc-icon-button mdcListItemMeta (click)="updateEvent()"><mdc-icon svgIcon="check"></mdc-icon></button>
</mdc-list-item>
