/*
table.stats-table {
  margin-bottom: 0;
}

table.stats-table>thead>tr {
  border-bottom: 2px solid #ddd;
}

table.stats-table>thead>tr>td {
  vertical-align: bottom;
  font-weight: bold;
}

table.teams-table>thead {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}*/
