body {
  overflow-x: hidden;
}

#login-form {
  margin-top: 25%;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 10px;
}

.primary {
  color: #ff9800;
}

table.match-table {
  display: table;
  padding: 3px 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
}

table.match-table>thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: #f0f0f0;
}

table.match-table>caption+thead>tr:first-child>th, table.match-table>colgroup+thead>tr:first-child>th, table.match-table>thead:first-child>tr:first-child>th, table.match-table>caption+thead>tr:first-child>td, table.match-table>colgroup+thead>tr:first-child>td, table.match-table>thead:first-child>tr:first-child>td {
  border-top: 0;
}

table.match-table>thead>tr>th, table.match-table>thead>tr>td {
  border-bottom-width: 2px;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  border: 1px solid #ddd;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 5px;
}

table.match-table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

table.match-table th, table.oprTable th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  padding: 3px;
}

table.stats-table {
  margin-bottom: 0;
}

table.stats-table>thead>tr {
  border-bottom: 2px solid #ddd;
}

table.stats-table>thead>tr>td {
  vertical-align: bottom;
  font-weight: bold;
}

table.teams-table>thead {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

tr {
  text-align: center;
}

th {
  text-align: left;
}

td, th {
  padding: 0;
}

.red {
  background-color: #fee;
}

.blue {
  background-color: #eef;
}

.match-winner {
  font-weight: bold;
}

.red.match-winner {
  background-color: #ffe5e5;
}

.blue.match-winner {
  background-color: #e5e5ff;
}

.current-team {
  color: black;
  font-weight: 600;
}

.allow-expand {
  /*width: auto;*/
  min-width: 100%;
  overflow-x: auto;
}

.allow-expand>.panel {
  /*width: inherit;*/
  min-width: 100%;
  overflow: auto;
}

.allow-expand>.panel>.panel-body {
  padding: 0;
}

.bio-card {
  width: 25%;
}

.role-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.role-badge {
  text-align: center;
  width: 100%;
  padding: 3px;
  margin: 3px 0 3px 0;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #f8f8f8;
}

.role-lead {
  background-color: #ff9800;
}

.role-fta {
  background-color: #ff5154;
}

footer {
  margin-top: 18px;
  background-color: #ff9800;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 10000px 0px 10000px #ff9800;
}

footer>div>div>p>a, footer>div>div>p>a:visited {
  color: inherit;
  text-decoration: underline;
}

footer>div>div>p>a:hover, footer>div>div>p>a:active {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1350px) {
  #side-bar {
    padding-right: 5px !important;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    left: 20px;
    display: block;
    width: 20%;
    position: absolute;
  }
}

@media (max-width: 1349px) {
  #side-bar {
    width: 100%;
  }
}

.sidebar-button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #efefef;
  color: black;
  border: 2px solid #ff9800;
  border-radius: 25px;
  display: block;
  width: 75%;
  margin: 0 auto;
}

.sidebar-button:hover {
  background-color: #ff9800;
  color: #efefef;
}

/* Used for website header. */

.whitetext {
  color: white;
  text-decoration: none !important;
}

.whitetext:hover {
  color: white;
}

.whitetext:visited {
  color: white;
}

/* Extra small devices (phones, 320px and up, bootstrap default) */

#search-form {
  display: none;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #search-form {
    display: block;
  }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .allow-expand {
    width: 83.333%;
  }
  .allow-expand>.panel {
    min-width: 100%;
  }
  .allow-expand>.panel>.panel-body {
    padding: 0;
  }
  .float-right-md {
    float: right;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* Bootstrap overrides */

.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-default, .dropdown-menu, .dropdown-menu>li {
  background-color: #ff9800;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus {
  background-color: #eb8700 !important;
  color: #fff !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #dc7f00;
  color: #fff;
}

.navbar-default .navbar-nav>li {
  cursor: pointer;
}

.navbar-default .navbar-nav>li:focus {
  outline: none;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
  color: #fff !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:active, .dropdown-active {
  background-color: #f39400 !important;
  color: #fff !important;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-toggle {
  padding: 1px 6px;
  color: #FFF;
  border: 0;
  background: none !important;
}

.dropdown-menu {
  left: inherit;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
  max-height: 500px;
}

a:hover {
  cursor: pointer;
}

.pagination>li>a {
  color: #ff9800 !important;
}

.pagination>.active>a {
  background-color: #d2d2d2 !important;
  border-color: #d2d2d2 !important;
}

/* Utility classes */

.img-fit {
  max-height: 100%;
}

.img-fit-w {
  max-width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-results {
  padding-top: 10px;
  padding-bottom: 10px;
  text-wrap: normal;
  width: 100%;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  font-weight: 300;
  margin: -51px auto 0;
  outline: medium none;
  padding-left: 30px;
  padding-right: 30px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
}

.search-results>li, .search-results>li>a, .search-results>li>a:link, .search-results>li>a:visited {
  background-color: #fff !important;
  color: #ff9800 !important;
}

.search-results>li>a:hover {
  background-color: #f8f8f8 !important;
  color: #ff9800 !important;
}

.blog-author {
  color: #ff9800;
}

.blog-author:hover {
  text-decoration: none;
}

/* Loading text styles */

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading {
  width: 100%;
  text-align: center;
}

.loading-text span {
  color: #ffffff;
  font-size: 24px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading-text span:nth-child(2) {
  animation-delay: .2s;
}

.loading-text span:nth-child(3) {
  animation-delay: .4s;
}

.loading-text span:nth-child(4) {
  animation-delay: .6s;
}

.loading-text span:nth-child(5) {
  animation-delay: .8s;
}

.loading-text span:nth-child(6) {
  animation-delay: 1.0s;
}

/*  */

#loading-spinner {
  background-color: #ff9800;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sk-fading-circle {
  width: 70px;
  height: 70px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

/* FOR EVENTS */

.transition, div, .events-ul li i:before, .events-ul li i:after {
  transition: all 0.25s ease-in-out;
}

.no-select, h3 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.events-li h2 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  /* background-color: #fefffa; */
  margin: 0;
  cursor: pointer;
}

.events-div {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #ff6873 inset;
  background-color: #fefffa;
  /* max-width: 450px; */
  min-width: 50%;
  padding: 30px;
  font-family: sans-serif;
}

.event-container a {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.events-ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}

.events-ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  /* padding-top: 18px; */
  border-top: 1px dotted #dce7eb;
}

.events-ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}

.events-ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}

.events-ul li:nth-of-type(3) {
  animation-delay: 1s;
}

.events-ul li:last-of-type {
  padding-bottom: 0;
}

.events-ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.events-ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}

.events-ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}

.events-ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}

.events-ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.events-ul li input[type=checkbox]:checked~div {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}

.events-ul li input[type=checkbox]:checked~i:before {
  transform: translate(2px, 0) rotate(45deg);
}

.events-ul li input[type=checkbox]:checked~i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
