.card {
    display:block;
    /* Add shadows to create the "card" effect */
    flex:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin-top: 10px;
    border:1px solid rgba(0,0,0,0.125);
    margin-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-container .whiter a {
    color: #030300;
}
/* Add some padding inside the card container */
.card-container {
    padding: 20px 16px;
}
.card-contact {
    width:40%;
    display: inline-block;
}
@media screen and (max-width: 767px){
    .card-contact{ width:100%}
}
.centered {
  text-align: center;
}


.popup-box-on {
    display: block !important;
}
.off {
    display: none;
}
#searchrr.open {
    opacity: 1;
    transform: translate(0px, 0px) scale(1, 1);
}
#searchrr {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 2000;

}
#searchrr .close {
    color: #be5254;
    font-size: 40px;
    opacity: 1;
    padding: 10px 17px;
    position: fixed;
    right: 15px;
    top: 15px;
}
button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
}
.close {
    float: right;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}
#searchrr input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    font-size: 6vh;
    font-weight: 300;
    margin-left: 5%;
    margin-right: 5%;
    outline: medium none;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 90%;
    border-top: 1px solid orange;
  	border-bottom: 2px solid orange;
  	border-left: 0px solid transparent;
  	border-right: 0px solid transparent;
}
