<div class="container d-none d-sm-none d-md-inline">
  <div class="row">
    <div class="col-6">
      <h4 mdcHeadline6 class="pt-5 pb-3">Average Match Scores</h4>
      <canvas baseChart
              [datasets]="matchScore"
              [labels]="(season === '1718') ? lineChartLabelsOld : lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="true"
              [chartType]="'line'"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
    <div class="col-6">
      <h4 mdcHeadline6 class="pt-5 pb-3">Average Winning Margin</h4>
      <canvas baseChart
              [datasets]="winMargin"
              [labels]="(season === '1718') ? lineChartLabelsOld : lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="true"
              [chartType]="'line'"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>



<!-- Match Score Small Screen -->
<div class="d-block d-sm-none d-sm-block d-md-none">
  <h4 mdcHeadline6 class="pt-5 pb-3">Average Match Scores</h4>
  <canvas baseChart
          [datasets]="matchScore"
          [labels]="(season === '1718') ? lineChartLabelsOld : lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
<!-- Win Margin Small Screen -->
<div class="d-block d-sm-none d-sm-block d-md-none">
  <h4 mdcHeadline6 class="pt-5 pb-3">Average Winning Margin</h4>
  <canvas baseChart
          [datasets]="winMargin"
          [labels]="(season === '1718') ? lineChartLabelsOld : lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
  </canvas>
</div>

<toa-insight-graphs-freight-frenzy *ngIf="season === '2122'"
  [insights]="insights"
  [lineChartColors]="lineChartColors"
  [lineChartOptions]="lineChartOptions"
  [lineChartLabels]="lineChartLabels"
  [lineChartPlugins]="lineChartPlugins"
></toa-insight-graphs-freight-frenzy>
<toa-insight-graphs-ultimate-goal *ngIf="season === '2021'"
  [insights]="insights"
  [lineChartColors]="lineChartColors"
  [lineChartOptions]="lineChartOptions"
  [lineChartLabels]="lineChartLabels"
  [lineChartPlugins]="lineChartPlugins"
></toa-insight-graphs-ultimate-goal>
<toa-insight-graphs-skystone *ngIf="season === '1920'"
  [insights]="insights"
  [lineChartColors]="lineChartColors"
  [lineChartOptions]="lineChartOptions"
  [lineChartLabels]="lineChartLabels"
  [lineChartPlugins]="lineChartPlugins"
></toa-insight-graphs-skystone>
<toa-insight-graphs-rover-rukus *ngIf="season === '1819'"
  [insights]="insights"
  [lineChartColors]="lineChartColors"
  [lineChartOptions]="lineChartOptions"
  [lineChartLabels]="lineChartLabels"
  [lineChartPlugins]="lineChartPlugins"
></toa-insight-graphs-rover-rukus>
<toa-insight-graphs-relic-recovery *ngIf="season === '1718'"
  [insights]="insights"
  [lineChartColors]="lineChartColors"
  [lineChartOptions]="lineChartOptions"
  [lineChartLabels]="lineChartLabelsOld"
  [lineChartPlugins]="lineChartPlugins"
></toa-insight-graphs-relic-recovery>
