<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-lg-5 p-3">
    <mdc-card class="toa-card p-3">
      <h2 class="m-2">{{ "pages.account.subpages.login.title" | translate }}</h2>
      <mdc-text-field outlined class="mt-3" label="{{ 'pages.account.subpages.login.email' | translate }}" [(ngModel)]="email" type="email" required></mdc-text-field>
      <mdc-text-field outlined class="mt-4" label="{{ 'pages.account.subpages.login.password' | translate }}" [(ngModel)]="password" type="password" required></mdc-text-field>
      <button mdc-button primary class="mt-4" (click)="onLoginEmail()">{{ "pages.account.subpages.login.login" | translate }}</button>
      <button mdc-button primary class="mt-4" (click)="signInWithPopup(googleProvider)">{{ "pages.account.subpages.login.login_google" | translate }}</button>
      <button mdc-button primary class="mt-4" (click)="signInWithPopup(githubProvider)">{{ "pages.account.subpages.login.login_github" | translate }}</button>
    </mdc-card>
  </div>
</div>
