<h2 *ngIf="match && event">{{ match.matchName }} <small><a class="black" href="/events/{{ event.eventKey }}">{{ event.divisionName ? event.eventName +
    ' - ' + event.divisionName + ' Division' : event.eventName }}</a></small></h2>
<!--<h2 *ngIf="noData">No match data found</h2>-->

<div class="row" *ngIf="match">
  <div class="col-12 col-sm-5 mt-3">
    <mdc-card class="toa-card h-100">
      <div class="toa-card-header" mdcHeadline5>Match Information</div>
      <mdc-list-divider></mdc-list-divider>
      <div class="p-3">
        <div class="info-state d-flex align-content-center flex-wrap">
          <mat-icon svgIcon="code-tags"></mat-icon>
          <p>Match Key: </p>
          <p><code>{{ match.matchKey }}</code></p>
        </div>
        <div class="info-state d-flex align-content-center flex-wrap">
          <mat-icon svgIcon="play-circle-outline"></mat-icon>
          <p *ngIf="match.videoURL"><a href="{{ match.videoURL }}" target="_blank">Watch</a></p>
          <p *ngIf="!match.videoURL"><i>No video available.</i></p>
        </div>
      </div>
    </mdc-card>
  </div>

  <div class="col-12 col-sm-7 mt-3">
    <mdc-card class="toa-card">
      <div class="toa-card-header" mdcHeadline5>Overview</div>
      <mdc-list-divider></mdc-list-divider>
      <div class="p-3">
        <match-table [match]="match"></match-table>
      </div>
    </mdc-card>
  </div>
</div>

<div class="mt-5">
  <div *ngIf="match">
    <toa-velocity-vortex *ngIf="getMatchSeason() === 1617" [match]="match"></toa-velocity-vortex>
    <toa-relic-recovery *ngIf="getMatchSeason() === 1718" [match]="match"></toa-relic-recovery>
  </div>
</div>
