<h3 *ngIf="match">{{ match.matchName }}</h3>
<h5 *ngIf="match && match.event"><a class="black" routerLink="/events/{{ match.event.eventKey }}">{{ match.event.divisionName ? match.event.eventName +
  ' - ' + match.event.divisionName + ' Division' : match.event.eventName }}</a></h5>
<!--<h2 *ngIf="noData">No match data found</h2>-->

<div class="row mt-3" *ngIf="match">
  <div class="col-12 col-md-5">
    <div class="row">
      <div class="col-12">
        <mdc-card class="toa-card mb-3">
          <div class="toa-card-header" mdcHeadline5>{{ "pages.match.match_info" | translate }}</div>
          <mdc-list-divider></mdc-list-divider>
          <div class="p-3">
            <div class="info-state">
              <mdc-icon svgIcon="code-tags"></mdc-icon>
              <p>{{ "pages.match.match_key" | translate }}: </p>
              <p><code>{{ match.matchKey }}</code></p>
            </div>
            <div class="info-state" *ngIf="match.scheduledTime && match.scheduledTime !== '0000-00-00 00:00:00'">
              <mdc-icon svgIcon="calendar-clock"></mdc-icon>
              <p>{{ "pages.match.scheduled_time" | translate }}: {{ match.scheduledTime | date: 'MMM d, h:mm a' }}</p>
            </div>
            <div class="info-state" *ngIf="!match.videoURL">
              <mdc-icon svgIcon="play-circle-outline"></mdc-icon>
              <p>{{ "pages.match.no_video" | translate }}. <a href="https://docs.google.com/forms/d/e/1FAIpQLSdpcIpr0uXe0SP5wzdMeVsQ6t3e5ebS5v_C-SDmtOyY2Gu8sw/viewform?entry.944495313={{ match.matchKey }}" target="_blank" (click)="this.sendAnalytic('leaving', 'submit match video');">{{ 'pages.match.add_one' | translate }}</a></p>
            </div>
            <match-table [match]="match" class="mt-4"></match-table>
          </div>
        </mdc-card>
      </div>
      <div class="col-12 mb-3" *ngIf="videoSafeURL">
        <mdc-card class="toa-card p-0">
          <div class="embed-responsive embed-responsive-16by9" style="border-radius:6px">
            <iframe class="embed-responsive-item" [src]="videoSafeURL" allowfullscreen></iframe>
          </div>
        </mdc-card>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-7 ps-md-2" *ngIf="match">
    <toa-velocity-vortex *ngIf="getMatchSeason() === 1617" [match]="match"></toa-velocity-vortex>
    <toa-relic-recovery *ngIf="getMatchSeason() === 1718" [match]="match"></toa-relic-recovery>
    <toa-rover-ruckus *ngIf="getMatchSeason() === 1819" [match]="match"></toa-rover-ruckus>
  </div>
</div>
