<div *ngIf="viewable" class="mdc-list--two-line" [class.mdc-list--non-interactive]="!clickable">
  <mdc-list-item *ngIf="league" [routerLink]="clickable ? '/leagues/' + league.leagueKey : null">
    <mdc-list-item-text [secondaryText]="league.leagueKey">{{ league.description }}</mdc-list-item-text>
    <button mdc-icon-button mdcListItemMeta class="d-none d-sm-block" (click)="deleteLeague(league)">
      <mdc-icon svgIcon="delete" style="fill: black"></mdc-icon>
    </button>
  </mdc-list-item>

  <mdc-list-item *ngIf="division" [routerLink]="clickable ? '/leagues/division/' + division.divisionKey : null">
    <mdc-list-item-text secondaryText="({{ division.divisionKey }}) {{ (division.leagueDesc ) ? 'Division of ' +
      division.leagueDesc : 'No matching league' }}">{{ division.description }}</mdc-list-item-text>
    <button mdc-icon-button mdcListItemMeta class="d-none d-sm-block" (click)="deleteDivision(division)">
      <mdc-icon svgIcon="delete" style="fill: black"></mdc-icon>
    </button>
  </mdc-list-item>
</div>
