<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-4 text-center">
    <span class="big-text">Error 404</span>
  </div>
  <div class="col-xs-10 col-sm-8 col-md-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-4 text-center">
    <span class="big-text">Page Not Found</span>
  </div>
  <div class="col-xs-10 col-sm-8 col-md-4 col-xs-offset-1 col-sm-offset-2 col-md-offset-4 text-center">
    <img src="../../../assets/imgs/404.jpg" class="img-fit-w"/>
  </div>
</div>
