<h2 class="page-title">{{ 'pages.add_data.title' | translate }}</h2>
<p class="page-subtitle">{{ 'pages.add_data.short_info' | translate }}</p>

<mdc-list class="mt-3">
  <a mdc-list-item class="link-item"  href="https://github.com/orange-alliance/TOA-DataSync/wiki/DataSync-Documentation" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'datasync');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="progress-upload"></mdc-icon> {{ 'pages.add_data.datasync' | translate }}
  </a>
  <a mdc-list-item class="link-item"  href="mailto:data@theorangealliance.org" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'datasync');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="email-outline"></mdc-icon> {{ 'pages.add_data.add_event_data' | translate }}
  </a>
  <a mdc-list-item class="link-item"  href="https://goo.gl/forms/2gjTlN5Rbf0s44ZI3" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'add match video fourm');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="play-speed"></mdc-icon> {{ 'pages.add_data.add_match_video' | translate }}
  </a>
  <a mdc-list-item class="link-item" href="https://goo.gl/forms/024OK9v5QBtJxO043" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'add stream forum');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="video-outline"></mdc-icon> {{ 'pages.add_data.add_event_stream' | translate }}
  </a>
  <a mdc-list-item class="link-item" href="https://goo.gl/forms/UAMxS7zMDOxezhy63" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'stream to toa fourm');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="twitch"></mdc-icon>{{ 'pages.add_data.stream_your_event' | translate }}
  </a>
</mdc-list>
