<h2 class="page-title">{{ 'pages.add_data.title' | translate }}</h2>
<p class="page-subtitle">{{ 'pages.add_data.short_info' | translate }}</p>

<h3 class="mt-4">Teams Data</h3>
<p>
  Data related to a specific team is often submitted directly by that team. This data can only be
  updated via the
  <a href="https://my.firstinspires.org/Dashboard/" target="_blank">firstinspires.org Dashboard</a>
  by Lead Mentors 1 and 2, and generally takes about 24 hours to appear on The Orange Alliance once
  submitted.
</p>

<h3 class="mt-5">Official Events (Including Off-season)</h3>
<p>
  Data related to official events come directly from the <em>FIRST</em> Tech Challenge Scoring
  System. Please refer to Chapter 10 for setting up the event and Chapter 16 for sending results to
  <em>FIRST</em> in the
  <a
    href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/ftc/scorekeeper-guide.pdf"
    target="_blank"
  >
    Scorekeeper Guide
  </a>
  .
</p>

<h3 class="mt-5">Unregistered events</h3>
<p class="mb-0">
  For events not registered through the <em>FIRST</em> Tech Challenge Online Scoring System, please
  use one of the following methods to upload results to The Orange Alliance.
</p>

<mdc-list dense>
  <a
    mdc-list-item
    class="link-item"
    href="http://upload.theorangealliance.org"
    target="_blank"
    (click)="this.sendAnalytic('leaving', '/add-data', 'datasync')"
  >
    <mdc-icon class="mdc-list-item__graphic" svgIcon="progress-upload"></mdc-icon>
    {{ 'pages.add_data.datasync' | translate }}
  </a>
  <a
    mdc-list-item
    class="link-item"
    href="mailto:data@theorangealliance.org"
    target="_blank"
    (click)="this.sendAnalytic('leaving', '/add-data', 'datasync')"
  >
    <mdc-icon class="mdc-list-item__graphic" svgIcon="email-outline"></mdc-icon>
    {{ 'pages.add_data.add_event_data' | translate }}
  </a>
</mdc-list>
