<h2 class="page-title">{{ 'pages.add_data.title' | translate }}</h2>
<p class="page-subtitle">{{ 'pages.add_data.short_info' | translate }}</p>

<h3 class="pt-3">Important Season Changes for 2021-22 FREIGHT FRENZY and Onwards</h3>
  <p>
    Uploading scores and match results for Official Events listed on <a href="https://ftc-events.firstinspires.org/" target="_blank">FTC Events</a> 
    can now be done through the <i>FIRST</i> Tech Challenge Scoring System.  Please refer to Chapter 10 for setting up the event and Chapter 16 for sending results to <i>FIRST</i> in the
   <a href="https://www.firstinspires.org/sites/default/files/uploads/resource_library/ftc/scorekeeper-guide.pdf" target="_blank">Scorekeeper Guide</a>.
  </p>
  <p>
    For events not listed on <a href="https://ftc-events.firstinspires.org/" target="_blank">FTC Events</a>, you can still use the following methods 
    to upload scores to The Orange Alliance.
  </p>

<mdc-list class="mt-3">
  <a mdc-list-item class="link-item"  href="http://upload.theorangealliance.org" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'datasync');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="progress-upload"></mdc-icon> {{ 'pages.add_data.datasync' | translate }}
  </a>
  <a mdc-list-item class="link-item"  href="mailto:data@theorangealliance.org" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'datasync');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="email-outline"></mdc-icon> {{ 'pages.add_data.add_event_data' | translate }}
  </a>
  <a mdc-list-item class="link-item" href="https://goo.gl/forms/UAMxS7zMDOxezhy63" target="_blank" (click)="this.sendAnalytic('leaving', '/add-data', 'stream to toa fourm');">
    <mdc-icon class="mdc-list-item__graphic" svgIcon="twitch"></mdc-icon>{{ 'pages.add_data.stream_your_event' | translate }}
  </a>
</mdc-list>
