/* Padding Classes */
.pad-0 {  padding: 0px;  }
.pad-5 {  padding: 5px;  }
.pad-10 {  padding: 10px;  }
.pad-15 {  padding: 15px;  }
.pad-20 {  padding: 20px;  }
.pad-25 {  padding: 25px;  }
.pad-30 {  padding: 30px;  }
.pad-35 {  padding: 35px;  }
.pad-40 {  padding: 40px;  }
.pad-45 {  padding: 45px;  }
.pad-50 {  padding: 50px;  }
/* Top Padding Classes */
.pad-top-0 { padding-top: 0px; }
.pad-top-5 { padding-top: 5px; }
.pad-top-10 { padding-top: 10px; }
.pad-top-15 { padding-top: 15px; }
.pad-top-20 { padding-top: 20px; }
.pad-top-25 { padding-top: 25px; }
.pad-top-30 { padding-top: 30px; }
.pad-top-35 { padding-top: 35px; }
.pad-top-40 { padding-top: 40px; }
.pad-top-45 { padding-top: 45px; }
.pad-top-50 { padding-top: 50px; }
/* Bottom Padding Classes */
.pad-bot-0 { padding-bottom: 0px; }
.pad-bot-5 { padding-bottom: 5px; }
.pad-bot-10 { padding-bottom: 10px; }
.pad-bot-15 { padding-bottom: 15px; }
.pad-bot-20 { padding-bottom: 20px; }
.pad-bot-25 { padding-bottom: 25px; }
.pad-bot-30 { padding-bottom: 30px; }
.pad-bot-35 { padding-bottom: 35px; }
.pad-bot-40 { padding-bottom: 40px; }
.pad-bot-45 { padding-bottom: 45px; }
.pad-bot-50 { padding-bottom: 50px; }
/* Right Padding Classes */
.pad-right-0 { padding-right: 0px; }
.pad-right-5 { padding-right: 5px; }
.pad-right-10 { padding-right: 10px; }
.pad-right-15 { padding-right: 15px; }
.pad-right-20 { padding-right: 20px; }
.pad-right-25 { padding-right: 25px; }
.pad-right-30 { padding-right: 30px; }
.pad-right-35 { padding-right: 35px; }
.pad-right-40 { padding-right: 40px; }
.pad-right-45 { padding-right: 45px; }
.pad-right-50 { padding-right: 50px; }
/* Left Padding Classes */
.pad-left-0 { padding-left: 0px; }
.pad-left-5 { padding-left: 5px; }
.pad-left-10 { padding-left: 10px; }
.pad-left-15 { padding-left: 15px; }
.pad-left-20 { padding-left: 20px; }
.pad-left-25 { padding-left: 25px; }
.pad-left-30 { padding-left: 30px; }
.pad-left-35 { padding-left: 35px; }
.pad-left-40 { padding-left: 40px; }
.pad-left-45 { padding-left: 45px; }
.pad-left-50 { padding-left: 50px; }
/* Margin Classes */
.mar-0 { margin: 0px; }
.mar-5 { margin: 5px; }
.mar-10 { margin: 10px; }
.mar-15 { margin: 15px; }
.mar-20 { margin: 20px; }
.mar-25 { margin: 25px; }
.mar-30 { margin: 30px; }
.mar-35 { margin: 35px; }
.mar-40 { margin: 40px; }
.mar-45 { margin: 45px; }
.mar-50 { margin: 50px; }
/* Top Margin Classes */
.mar-top-0 { margin-top: 0px; }
.mar-top-5 { margin-top: 5px; }
.mar-top-10 { margin-top: 10px; }
.mar-top-15 { margin-top: 15px; }
.mar-top-20 { margin-top: 20px; }
.mar-top-25 { margin-top: 25px; }
.mar-top-30 { margin-top: 30px; }
.mar-top-35 { margin-top: 35px; }
.mar-top-40 { margin-top: 40px; }
.mar-top-45 { margin-top: 45px; }
.mar-top-50 { margin-top: 50px; }
/* Right Margin Classes */
.mar-right-0 { margin-right: 0px; }
.mar-right-5 { margin-right: 5px; }
.mar-right-10 { margin-right: 10px; }
.mar-right-15 { margin-right: 15px; }
.mar-right-20 { margin-right: 20px; }
.mar-right-25 { margin-right: 25px; }
.mar-right-30 { margin-right: 30px; }
.mar-right-35 { margin-right: 35px; }
.mar-right-40 { margin-right: 40px; }
.mar-right-45 { margin-right: 45px; }
.mar-right-50 { margin-right: 50px; }
/* Bottom Margin Classes */
.mar-bot-0 { margin-bottom: 0px; }
.mar-bot-5 { margin-bottom: 5px; }
.mar-bot-10 { margin-bottom: 10px; }
.mar-bot-15 { margin-bottom: 15px; }
.mar-bot-20 { margin-bottom: 20px; }
.mar-bot-25 { margin-bottom: 25px; }
.mar-bot-30 { margin-bottom: 30px; }
.mar-bot-35 { margin-bottom: 35px; }
.mar-bot-40 { margin-bottom: 40px; }
.mar-bot-45 { margin-bottom: 45px; }
.mar-bot-50 { margin-bottom: 50px; }
/* Left Margin Classes */
.mar-left-0 { margin-left: 0px; }
.mar-left-5 { margin-left: 5px; }
.mar-left-10 { margin-left: 10px; }
.mar-left-15 { margin-left: 15px; }
.mar-left-20 { margin-left: 20px; }
.mar-left-25 { margin-left: 25px; }
.mar-left-30 { margin-left: 30px; }
.mar-left-35 { margin-left: 35px; }
.mar-left-40 { margin-left: 40px; }
.mar-left-45 { margin-left: 45px; }
.mar-left-50 { margin-left: 50px; }