<div class="toa-card">
  <h2>{{ teamName }}</h2>

  <h3>Team Videos</h3>
  <p *ngIf="sampleData.videos.length == 0">No videos submitted at this time.</p>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div 
        class="mdc-layout-grid__cell" 
        *ngFor="let link of sampleData.videos">
        <iframe 
          [src]="link | safe: 'resourceUrl'" 
          frameborder="0" 
          allowfullscreen></iframe>
          <div class="mdc-layout-grid__inner">
            <button class="mdc-layout-grid__cell" (click)="removeVideo(i)">Reject</button>
            <button class="mdc-layout-grid__cell">Accept</button>
          </div>
      </div>
    </div>
  </div>
  
  <h3>Team Pictures</h3>
  <p *ngIf="sampleData.images.length == 0">No images submitted at this time.</p>
  <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div 
          class="mdc-layout-grid__cell" 
          *ngFor="let link of sampleData.images">
          <img 
            class="submitted-pic"
            [src]="link | safe: 'resourceUrl'" 
            alt="userSubmittedLink">
            <div class="mdc-layout-grid__inner">
              <button class="mdc-layout-grid__cell" (click)="removePic(i)">Reject</button>
              <button class="mdc-layout-grid__cell">Accept</button>
            </div>
        </div>
      </div>
    </div>
  
  <h3>CAD files</h3>
  <ul>
    <li *ngFor="let link of sampleData.cad">
      <a href="{{link}}">{{link}}</a>
    </li>
  </ul>
</div>

