<div class="toa-card">
  <!-- <iframe src="https://www.youtube.com/embed/oHg5SJYRHA0?autoplay=1" frameborder="0" allowfullscreen></iframe> -->
  <h2>{{ teamName }}</h2>

  <h3>Team Videos</h3>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div 
        class="mdc-layout-grid__cell" 
        *ngFor="let link of sampleData.videos">
        <iframe 
          [src]="link | safe: 'resourceUrl'" 
          frameborder="0" 
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  
  <h3>Team Pictures</h3>
  <!-- <ul>
    <li *ngFor="let link of sampleData.images">
      <img [src]="link | safe: 'resourceUrl'" alt="userSubmittedLink">
    </li>
  </ul> -->
  <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div 
          class="mdc-layout-grid__cell" 
          *ngFor="let link of sampleData.images">
          <img 
            class="submitted-pic"
            [src]="link | safe: 'resourceUrl'" 
            alt="userSubmittedLink">
        </div>
      </div>
    </div>
  
  <h3>CAD files</h3>
  <ul>
    <li *ngFor="let link of sampleData.cad">{{link}}</li>
  </ul>
</div>

