<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa fa-2x fa-bars"></span>
    </button>
    <a class="navbar-brand" routerLink="/"><img src="assets/imgs/favicon.png" class="img-fit"/></a><span class="navbar-brand"><a class="whitetext" routerLink="/">The Orange Alliance</a></span>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="toggleable" ><a routerLink="/teams" routerLinkActive="active">Teams</a></li>
      <li class="toggleable" ><a routerLink="/events" routerLinkActive="active">Events</a></li>
      <!--<li class="toggleable" ><a routerLink="/ranking" routerLinkActive="active">Rankings</a></li>-->
      <li class="toggleable" ><a routerLink="/stream" routerLinkActive="active">Streaming</a></li>
      <li class="toggleable" ><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input id="ftc_search" (keyup)="performSearch()" (focus)="performSearch()" [(ngModel)]="search" [ngModelOptions]="{standalone: true}" type="text" class="form-control dropdown-toggle" placeholder="Team # or Event" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      </div>
      <ul id="search" class="dropdown-menu search-results" aria-labelledby="ftc_search">
        <li><a (click)="hideDropdown()">Close <span class="fa fa-close"></span></a></li>
        <li *ngFor="let result of team_search_results"><a href="/teams/{{result.team_key}}">{{ result.team_key }} - {{ result.team_name_short }}</a></li>
        <li *ngFor="let result of event_search_results"><a href="/events/{{result.event_key}}">[{{ result.event_key }}] {{ result.start_date | date : "y" }} {{ result.event_name }}</a></li>
        <li *ngIf="team_search_results.length <= 0"><a><i>No team results</i></a></li>
        <li *ngIf="event_search_results.length <= 0"><a><i>No event results</i></a></li>
      </ul>
    </form>
  </div>

</nav>
<!-- NAVBAR -->

<div class="pad-top-50 mar-top-25">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER CONTAINER -->
<footer>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <p><strong>Powered By:     </strong><a href="http://www.revrobotics.com/" target="_blank"><img src="../../../assets/imgs/media_icons/REV_LOGO_WHITE.png"></a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <p><a routerLink="apidocs">API</a> | <a href="mailto:contact@theorangealliance.org" target="_blank">Contact Us</a> | <a routerLink="privacy">Privacy</a> | <a routerLink="terms">Terms</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <p><a href="https://discord.gg/5fH66UV" target="_blank"><img src="../../../assets/imgs/media_icons/discord-white.png"></a>   <a href="https://github.com/orange-alliance" target="_blank"><img src="../../../assets/imgs/media_icons/github-white.png"></a> <a href="https://www.facebook.com/theorangealliance/" target="_blank"><img src="../../../assets/imgs/media_icons/facebook-white.png"></a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
      <p>&copy; {{ current_year }} The Orange Alliance.  We are an <a href="https://github.com/orange-alliance" target="_blank">Open Source Site</a>, help us improve it!!</p>
    </div>
  </div>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105262657-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- FOOTER CONTAINER -->
