<!-- MAIN CONTAINER -->
<main class="container">

  <h1>FTC Teams <span *ngIf="current_teams && current_teams.length > 0">{{ current_teams[0].team_number }}-{{ current_teams[current_teams.length-1].team_number }}</span> <small *ngIf="teams_count">{{ teams_count }} Teams</small></h1>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 centered">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a (click)="getTeams(decIndex())" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
            <li *ngFor="let page of pages" [class.active]="cur_page==page.index"><a (click)="getTeams(page.index)">{{ page.index+1 }}</a></li>
          <li>
            <a (click)="getTeams(incIndex())" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6 text-left">
                <b>Team Filter Options</b> <span *ngIf="current_teams">({{ current_teams.length }} Results)</span>
              </div>
              <div class="col-xs-6 text-right">
                <a (click)="clearFilter()">Clear Filter <span class="fa fa-close"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">

            <div class="col-xs-12 col-md-3">
              <div class="row centered">
                <div class="col-xs-4">
                  <span>Team: </span>
                </div>
                <div class="col-xs-8">
                  <input [(ngModel)]="team_query" (keyup)="queryTeam()" type="text" class="form-control" placeholder="Team # or Name">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-3">
              <div class="row centered">
                <div class="col-xs-4">
                  <span>Location: </span>
                </div>
                <div class="col-xs-8">
                  <input [(ngModel)]="location_query" (keyup)="queryLocation()" type="text" class="form-control" placeholder="City, State/Prov, Country">
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-3">
              <div class="row centered">
                <div class="col-xs-4">
                  <span>Region: </span>
                </div>
                <div *ngIf="current_region" class="col-xs-8">
                  <button class="btn btn-default dropdown-toggle" type="button" id="ftc_district" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ current_region.region_key }} <span *ngIf="current_region.region_desc">- {{ current_region.region_desc }}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="ftc_district">
                    <li *ngFor="let region of regions"><a (click)="selectRegion(region)">{{ region.region_key }} <span *ngIf="region.region_desc">- {{ region.region_desc }}</span></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-md-3">
              <div class="row centered">
                <div class="col-xs-4">
                  <span>League: </span>
                </div>
                <div *ngIf="current_league" class="col-xs-8">
                  <button class="btn btn-default dropdown-toggle" type="button" id="ftc_league" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ current_league.league_key }} <span *ngIf="current_league.league_desc">- {{ current_league.region_desc }}</span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="ftc_district">
                    <li *ngFor="let league of leagues"><a (click)="selectLeague(league)">{{ league.league_key }} <span *ngIf="league.league_desc">- {{ league.league_desc }}</span></a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="current_teams">
    <div class="col-xs-12 col-md-6">
      <table class="table table-striped teams-table">
        <thead>
        <tr>
          <td>Number</td>
          <td>Name</td>
          <td>Location</td>
        </tr>
        </thead>
        <tbody *ngIf="current_teams.length > 0">
          <tr *ngFor="let team of current_teams; let i = index;"  class="clickable-row" (click)="clickToTeam(team.team_number)">
            <td *ngIf="i < current_teams.length / 2"><a class="arow" href="/teams/{{ team.team_number }}">{{ team.team_number }}</a></td>
            <td *ngIf="i < current_teams.length / 2">{{ team.team_name_short }}</td>
            <td *ngIf="i < current_teams.length / 2">{{ team.city }}, {{ team.state_prov }}, {{ team.country }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12 col-md-6">
      <table class="table table-striped teams-table">
        <thead>
        <tr>
          <td>Number</td>
          <td>Name</td>
          <td>Location</td>
        </tr>
        </thead>
        <tbody *ngIf="current_teams.length > 0">
        <tr class="clickable-row" *ngFor="let team of current_teams; let i = index;" (click)="clickToTeam(team.team_number)">
          <td *ngIf="i >= current_teams.length / 2"><a class="arow" href="/teams/{{ team.team_number }}">{{ team.team_number }}</a></td>
          <td *ngIf="i >= current_teams.length / 2">{{ team.team_name_short }}</td>
          <td *ngIf="i >= current_teams.length / 2">{{ team.city }}, {{ team.state_prov }}, {{ team.country }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="current_teams && current_teams.length <= 0" class="row">
    <div class="col-xs-12 text-center">
      <span><i>There are no teams that match that query.</i></span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 centered">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a (click)="getTeams(decIndex())" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let page of pages" [class.active]="cur_page==page.index"><a (click)="getTeams(page.index)">{{ page.index+1 }}</a></li>
          <li>
            <a (click)="getTeams(incIndex())" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <style>
  .clickable-row:hover {
    background-color: #DDD;
  }
  .clickable-row >> td {
    pointer-events: none;
    cursor: pointer !important;
  }
  </style>
</main>

<!-- MAIN CONTAINER -->
