<h2>{{ "pages.teams.title" | translate }}</h2>

<div class="row w-100 mt-3">
  <div class="col-12">
    <mdc-card class="toa-card p-3" *ngIf="currentTeams">
        <mdc-text-field label="{{ 'pages.teams.filter' | translate }}" [(ngModel)]="query" (input)="getTeams()" [fullwidth]="true"></mdc-text-field>

        <div class="row mt-2" *ngIf="currentTeams && currentTeams.length > 0">
          <div class="col-12 col-md-6">
            <mdc-list-group>
              <mdc-list>
                <div *ngFor="let team of leftSide">
                  <toa-team-item [team]="team"></toa-team-item>
                </div>
              </mdc-list>
            </mdc-list-group>
          </div>

          <div class="col-12 col-md-6">
            <mdc-list-group>
              <mdc-list>
                <div *ngFor="let team of rightSide">
                  <toa-team-item [team]="team"></toa-team-item>
                </div>
              </mdc-list>
            </mdc-list-group>
          </div>
          <div mdcSubtitle1 class="pl-3 pr-3 pt-1">({{ 'pages.teams.results' | translate: {'results': currentTeams.length} }})</div>
        </div>

        <div *ngIf="currentTeams && currentTeams.length <= 0" class="row mt-4">
          <div class="col-12 text-center">
            <span><i>{{ 'no_data.teams_long' | translate }}</i></span>
          </div>
        </div>
    </mdc-card>
  </div>
</div>

<button mdc-fab [exited]="!showFAB()" position='bottomRight' class="toa-fab" (click)="scrollTo('body')">
  <mdc-icon svgIcon="navigation"></mdc-icon>
</button>
