<!-- Single match table -->
<table class="match-table" *ngIf="match">
  <thead>
    <tr *ngIf="match.participants && match.participants.length === 4">
      <th colspan="2">{{ 'match_table.teams' | translate }}</th>
      <th>{{ 'match_table.score' | translate }}</th>
    </tr>
    <tr *ngIf="match.participants && match.participants.length === 6">
      <th colspan="3">{{ 'match_table.teams' | translate }}</th>
      <th>{{ 'match_table.score' | translate }}</th>
    </tr>
  </thead>
  <tbody *ngIf="match.participants && match.participants.length == 4">
    <tr class="red">
      <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
        <a routerLink="/teams/{{ match.participants[2].teamKey }}">{{ getParticipantStringWithoutStatus(match, 2) }}</a>
      </td>
      <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
        <a routerLink="/teams/{{ match.participants[3].teamKey }}">{{ getParticipantStringWithoutStatus(match, 3) }}</a>
      </td>
      <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
        {{ match.redScore > -1 ? match.redScore : '?' }}
      </td>
    </tr>
    <tr class="blue">
      <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
        <a routerLink="/teams/{{ match.participants[0].teamKey }}">{{ getParticipantStringWithoutStatus(match, 0) }}</a>
      </td>
      <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
        <a routerLink="/teams/{{ match.participants[1].teamKey }}">{{ getParticipantStringWithoutStatus(match, 1) }}</a>
      </td>
      <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
        {{ match.blueScore > -1 ? match.blueScore : '?' }}
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="match.participants && match.participants.length === 6">
    <tr class="red">
      <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
        <a routerLink="/teams/{{ match.participants[2].teamKey }}">{{ getParticipantStringWithoutStatus(match, 2) }}</a>
      </td>
      <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
        <a routerLink="/teams/{{ match.participants[3].teamKey }}">{{ getParticipantStringWithoutStatus(match, 3) }}</a>
      </td>
      <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
        <a routerLink="/teams/{{ match.participants[4].teamKey }}">{{ getParticipantStringWithoutStatus(match, 4) }}</a>
      </td>
      <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
        {{ match.redScore > -1 ? match.redScore : '?' }}
      </td>
    </tr>
    <tr class="blue">
      <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
        <a routerLink="/teams/{{ match.participants[0].teamKey }}">{{ getParticipantStringWithoutStatus(match, 0) }}</a>
      </td>
      <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
        <a routerLink="/teams/{{ match.participants[1].teamKey }}">{{ getParticipantStringWithoutStatus(match, 1) }}</a>
      </td>
      <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
        <a routerLink="/teams/{{ match.participants[2].teamKey }}">{{ getParticipantStringWithoutStatus(match, 2) }}</a>
      </td>
      <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
        {{ match.blueScore > -1 ? match.blueScore : '?' }}
      </td>
    </tr>
  </tbody>
</table>

<!-- Multilple match table -->
<table class="match-table" *ngIf="matchList && !team">
  <thead>
  <tr class="d-none d-lg-table-row d-xl-table-row">
    <th>{{ 'match_table.match' | translate }}</th>
    <th class="p-0">
      <mdc-icon svgIcon="play-circle-outline"></mdc-icon>
    </th>
    <th colspan="6">{{ 'match_table.red_alliance' | translate }}</th>
    <th colspan="6">{{ 'match_table.blue_alliance' | translate }}</th>
    <th colspan="2">{{ 'match_table.scores' | translate }}</th>
  </tr>
  <tr class="d-lg-none d-xl-none">
    <th rowspan="2">{{ 'match_table.match' | translate }}</th>
    <th class="p-0" rowspan="2">
      <mdc-icon svgIcon="play-circle-outline"></mdc-icon>
    </th>
    <th colspan="12">{{ 'match_table.red_alliance' | translate }}</th>
    <th colspan="2">Red Score</th>
  </tr>
  <tr class="d-lg-none d-xl-none">
    <th colspan="12">{{ 'match_table.blue_alliance' | translate }}</th>
    <th colspan="2">Blue Score</th>
  </tr>
  </thead>

  <tbody *ngIf="matchList.length <= 0">
  <tr>
    <td colspan="18"><i>{{ 'match_table.no_matches_for_event' | translate }}</i></td>
  </tr>
  </tbody>
  <tbody *ngFor="let match of matchList; let i = index;">
  <tr *ngIf="i > 0 && match.getShortName() !== matchList[i - 1].getShortName() || i === 0">
    <th colspan="18">{{ match.getShortName() }}es</th>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 6" class="d-none d-lg-table-row d-xl-table-row">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">
      <span *ngIf="match.videoURL"><a [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a></span>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore" (click)="selectTeam(match, 0)" [class.selected-team]="isSelectedTeam(match, 0)">
      {{ getParticipantString(match, 0) }}
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore" (click)="selectTeam(match, 1)" [class.selected-team]="isSelectedTeam(match, 1)">
      {{ getParticipantString(match, 1) }}
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore" (click)="selectTeam(match, 2)" [class.selected-team]="isSelectedTeam(match, 2)">
      {{ getParticipantString(match, 2) }}
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore" (click)="selectTeam(match, 3)" [class.selected-team]="isSelectedTeam(match, 3)">
      {{ getParticipantString(match, 3) }}
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore" (click)="selectTeam(match, 4)" [class.selected-team]="isSelectedTeam(match, 4)">
      {{ getParticipantString(match, 4) }}
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore" (click)="selectTeam(match, 5)" [class.selected-team]="isSelectedTeam(match, 5)">
      {{ getParticipantString(match, 5) }}
    </td>
    <td *ngIf="!(match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00'))" colspan="2" class="not-played">
      {{ "pages.match.scheduled_time" | translate }}: {{ match.scheduledTime | date: 'MMM d, h:mm a' }}
    </td>
    <td class="red" [class.match-winner]="match.redScore >= match.blueScore" *ngIf="match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00')">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
    <td class="blue" [class.match-winner]="match.redScore <= match.blueScore" *ngIf="match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00')">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 6" class="d-lg-none d-xl-none">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">
      <span *ngIf="match.videoURL"><a [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a></span>
    </td>
    <td colspan="4" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[0].teamKey }}">{{ getParticipantString(match, 0) }}</a>
    </td>
    <td colspan="4" class="red" [class.match-winner]="match.redScore >= match.blueScore" >
      <a routerLink="/teams/{{ match.participants[1].teamKey }}">{{ getParticipantString(match, 1) }}</a>
    </td>
    <td colspan="4" class="red" [class.match-winner]="match.redScore >= match.blueScore" >
      <a routerLink="/teams/{{ match.participants[2].teamKey }}">{{ getParticipantString(match, 2) }}</a>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 6" class="d-lg-none d-xl-none">
    <td colspan="4" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[3].teamKey }}">{{ getParticipantString(match, 3) }}</a>
    </td>
    <td colspan="4" class="blue" [class.match-winner]="match.redScore <= match.blueScore" >
      <a routerLink="/teams/{{ match.participants[4].teamKey }}">{{ getParticipantString(match, 4) }}</a>
    </td>
    <td colspan="4" class="blue" [class.match-winner]="match.redScore <= match.blueScore" >
      <a routerLink="/teams/{{ match.participants[5].teamKey }}">{{ getParticipantString(match, 5) }}</a>
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>

  <tr *ngIf="match.participants.length === 4" class="d-none d-lg-table-row d-xl-table-row">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">
      <span *ngIf="match.videoURL"><a [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a></span>
    </td>
    <td colspan="3" class="red" [class.match-winner]="match.redScore >= match.blueScore" (click)="selectTeam(match, 0)" [class.selected-team]="isSelectedTeam(match, 0)">
      {{ getParticipantString(match, 0) }}
    </td>
    <td colspan="3" class="red" [class.match-winner]="match.redScore >= match.blueScore" (click)="selectTeam(match, 1)" [class.selected-team]="isSelectedTeam(match, 1)">
      {{ getParticipantString(match, 1) }}
    </td>
    <td colspan="3" class="blue" [class.match-winner]="match.redScore <= match.blueScore" (click)="selectTeam(match, 2)" [class.selected-team]="isSelectedTeam(match, 2)">
      {{ getParticipantString(match, 2) }}
    </td>
    <td colspan="3" class="blue" [class.match-winner]="match.redScore <= match.blueScore" (click)="selectTeam(match, 3)" [class.selected-team]="isSelectedTeam(match, 3)">
      {{ getParticipantString(match, 3) }}
    </td>
    <td *ngIf="!(match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00'))" colspan="2" class="not-played">
      SCHEDULED TIME: {{ match.scheduledTime | date: 'MMM d, h:mm a' }}
    </td>
    <td class="red" [class.match-winner]="match.redScore >= match.blueScore" *ngIf="match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00')">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
    <td class="blue" [class.match-winner]="match.redScore <= match.blueScore" *ngIf="match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00')">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 4" class="d-lg-none d-xl-none">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">
      <span *ngIf="match.videoURL"><a [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a></span>
    </td>
    <td colspan="6" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[0].teamKey }}">{{ getParticipantString(match, 0) }}</a>
    </td>
    <td colspan="6" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[1].teamKey }}">{{ getParticipantString(match, 1) }}</a>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 4" class="d-lg-none d-xl-none">
    <td colspan="6" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[2].teamKey }}">{{ getParticipantString(match, 2) }}</a>
    </td>
    <td colspan="6" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[3].teamKey }}">{{ getParticipantString(match, 3) }}</a>
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>
  </tbody>
</table>

<div class="mdc-snackbar selected-team-snackbar" [class.mdc-snackbar--active]="selectedTeamParticipant">
  <div *ngIf="selectedTeamParticipant" class="d-flex align-items-center">
    <div class="d-block">
      <div class="mdc-snackbar__text"><b>#{{ selectedTeamParticipant.team.teamKey }}</b>&nbsp;{{ selectedTeamParticipant.team.teamNameShort }}</div>
      <div class="d-flex" *ngIf="selectedTeamParticipant.team.rankings.length > 0">
        <span class="badge badge-success ml-1 mr-1"><b>{{ selectedTeamParticipant.team.rankings[0].wins }}-{{ selectedTeamParticipant.team.rankings[0].losses }}-{{ selectedTeamParticipant.team.rankings[0].ties }}</b>&nbsp;{{ 'match_table.wlt' | translate }}</span>
        <span class="badge badge-info ml-1 mr-1"><b>{{ selectedTeamParticipant.team.rankings[0].rank }}</b>&nbsp;{{ 'match_table.rank' | translate }}</span>
        <span class="badge badge-warning ml-1 mr-1"><b>{{ selectedTeamParticipant.team.rankings[0].played }}</b>&nbsp;{{ 'match_table.played' | translate }}</span>
      </div>
    </div>
    <button mdc-button
      class="text-white"
      [class.mr-4]="('config.direction' | translate) === 'rtl'"
      [class.ml-4]="('config.direction' | translate) === 'ltr'"
      routerLink="/teams/{{ selectedTeamParticipant.team.teamKey }}">
      {{ 'match_table.view_team' | translate }} <mdc-icon class="mr-1 ml-1">{{ ('config.direction' | translate) === 'rtl' ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}</mdc-icon>
    </button>
  </div>
</div>


<!-- Multilple match table with team -->
<table class="match-table table-responsive d-sm-table" *ngIf="matchList && team">
  <thead>
  <tr class="d-none d-lg-table-row d-xl-table-row">
    <th rowspan="2">{{ 'match_table.match' | translate }}</th>
    <th rowspan="2">Result</th>
    <th class="p-0">
      <mdc-icon svgIcon="play-circle-outline"></mdc-icon>
    </th>
    <th colspan="6">{{ 'match_table.red_alliance' | translate }}</th>
    <th colspan="6">{{ 'match_table.blue_alliance' | translate }}</th>
    <th colspan="2">{{ 'match_table.scores' | translate }}</th>
  </tr>
  <tr class="d-lg-none d-xl-none">
    <th rowspan="2">{{ 'match_table.match' | translate }}</th>
    <th class="p-0" rowspan="2">
      <mdc-icon svgIcon="play-circle-outline"></mdc-icon>
    </th>
    <th colspan="12">{{ 'match_table.red_alliance' | translate }}</th>
    <th colspan="2">Red Score</th>
  </tr>
  <tr class="d-lg-none d-xl-none">
    <th colspan="12">{{ 'match_table.blue_alliance' | translate }}</th>
    <th colspan="2">Blue Score</th>
  </tr>
  </thead>

  <tbody *ngIf="matchList.length <= 0">
  <tr>
    <td colspan="18"><i>{{ 'match_table.no_matches_for_event' | translate }}</i></td>
  </tr>
  </tbody>
  <tbody *ngFor="let match of matchList; let i = index;">
  <tr *ngIf="i > 0 && match.getShortName() !== matchList[i - 1].getShortName() || i === 0">
    <th colspan="18">{{ match.getShortName() }}es</th>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 6" class="d-none d-lg-table-row d-xl-table-row">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">{{ getMatchResultString(match) }}</td>
    <td rowspan="2">
      <a *ngIf="match.videoURL" [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[0].teamKey }}" [class.current-team]="isSelectedTeam(match, 0)">{{ getParticipantString(match, 0) }}</a>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[1].teamKey }}" [class.current-team]="isSelectedTeam(match, 1)">{{ getParticipantString(match, 1) }}</a>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[2].teamKey }}" [class.current-team]="isSelectedTeam(match, 2)">{{ getParticipantString(match, 2) }}</a>
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[3].teamKey }}" [class.current-team]="isSelectedTeam(match, 3)">{{ getParticipantString(match, 3) }}</a>
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[4].teamKey }}" [class.current-team]="isSelectedTeam(match, 4)">{{ getParticipantString(match, 4) }}</a>
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[5].teamKey }}" [class.current-team]="isSelectedTeam(match, 5)">{{ getParticipantString(match, 5) }}</a>
    </td>
    <td class="red" [class.match-winner]="match.redScore >= match.blueScore">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
    <td class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 6" class="d-lg-none d-xl-none">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">{{ getMatchResultString(match) }}</td>
    <td rowspan="2">
      <a *ngIf="match.videoURL" [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a>
    </td>
    <td colspan="4" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[0].teamKey }}" [class.current-team]="isSelectedTeam(match, 0)">{{ getParticipantString(match, 0) }}</a>
    </td>
    <td colspan="4" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[1].teamKey }}" [class.current-team]="isSelectedTeam(match, 1)">{{ getParticipantString(match, 1) }}</a>
    </td>
    <td colspan="4" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[2].teamKey }}" [class.current-team]="isSelectedTeam(match, 2)">{{ getParticipantString(match, 2) }}</a>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 6" class="d-lg-none d-xl-none">
    <td colspan="4" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[3].teamKey }}" [class.current-team]="isSelectedTeam(match, 3)">{{ getParticipantString(match, 3) }}</a>
    </td>
    <td colspan="4" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[4].teamKey }}" [class.current-team]="isSelectedTeam(match, 4)">{{ getParticipantString(match, 4) }}</a>
    </td>
    <td colspan="4" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[5].teamKey }}" [class.current-team]="isSelectedTeam(match, 5)">{{ getParticipantString(match, 5) }}</a>
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>

  <tr *ngIf="match.participants.length === 4" class="d-none d-lg-table-row d-xl-table-row">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">{{ getMatchResultString(match) }}</td>
    <td rowspan="2">
      <a *ngIf="match.videoURL" [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a>
    </td>
    <td colspan="3" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[0].teamKey }}" [class.current-team]="isSelectedTeam(match, 0)">{{ getParticipantString(match, 0) }}</a>
    </td>
    <td colspan="3" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[1].teamKey }}" [class.current-team]="isSelectedTeam(match, 1)">{{ getParticipantString(match, 1) }}</a>
    </td>
    <td colspan="3" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[2].teamKey }}" [class.current-team]="isSelectedTeam(match, 2)">{{ getParticipantString(match, 2) }}</a>
    </td>
    <td colspan="3" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[3].teamKey }}" [class.current-team]="isSelectedTeam(match, 3)">{{ getParticipantString(match, 3) }}</a>
    </td>
    <td *ngIf="!(match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00'))" colspan="2" class="not-played">
      SCHEDULED TIME: {{ match.scheduledTime | date: 'MMM d, h:mm a' }}
    </td>
    <td class="red" [class.match-winner]="match.redScore >= match.blueScore" *ngIf="match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00')">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
    <td class="blue" [class.match-winner]="match.redScore <= match.blueScore" *ngIf="match.redScore > -1 && match.blueScore > -1 || (!match.scheduledTime || match.scheduledTime === '0000-00-00 00:00:00')">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 4" class="d-lg-none d-xl-none">
    <td rowspan="2">
      <a routerLink="/matches/{{ match.matchKey }}">{{ match.matchName }}</a>
    </td>
    <td rowspan="2">{{ getMatchResultString(match) }}</td>
    <td rowspan="2">
      <a *ngIf="match.videoURL" [href]="match.videoURL" target="_blank"><mdc-icon class="play-icon" svgIcon="play-circle-outline"></mdc-icon></a>
    </td>
    <td colspan="6" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[0].teamKey }}" [class.current-team]="isSelectedTeam(match, 0)">{{ getParticipantString(match, 0) }}</a>
    </td>
    <td colspan="6" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      <a routerLink="/teams/{{ match.participants[1].teamKey }}" [class.current-team]="isSelectedTeam(match, 1)">{{ getParticipantString(match, 1) }}</a>
    </td>
    <td colspan="2" class="red" [class.match-winner]="match.redScore >= match.blueScore">
      {{ match.redScore > -1 ? match.redScore : '?' }}
    </td>
  </tr>
  <tr *ngIf="match.participants && match.participants.length == 4" class="d-lg-none d-xl-none">
    <td colspan="6" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[2].teamKey }}" [class.current-team]="isSelectedTeam(match, 2)">{{ getParticipantString(match, 2) }}</a>
    </td>
    <td colspan="6" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      <a routerLink="/teams/{{ match.participants[3].teamKey }}" [class.current-team]="isSelectedTeam(match, 3)">{{ getParticipantString(match, 3) }}</a>
    </td>
    <td colspan="2" class="blue" [class.match-winner]="match.redScore <= match.blueScore">
      {{ match.blueScore > -1 ? match.blueScore : '?' }}
    </td>
  </tr>
  </tbody>
</table>
