<h2>Team #{{ (team?.teamKey) ? team.teamKey : teamKey }}</h2>

<div class="row" *ngIf="team">
  <div class="col-xs-12 col-sm-3 col-lg-3 pb-5">
    <mdc-card class="toa-card">
      <div class="w-100 p-3">
        <div *ngIf="seasons && team.rookieYear" class="dropdown">
          <button *ngIf="currentSeason" class="btn btn-default dropdown-toggle" type="button" id="ftc_season" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            20{{ currentSeason.seasonKey.substring(2, 4) }} - {{ currentSeason.description }}
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" aria-labelledby="ftc_season">
            <mdc-menu-item *ngFor="let season of seasons" (click)="selectSeason(season)">20{{ season.seasonKey.substring(2, 4) }} - {{ season.description }}</mdc-menu-item>
          </ul>
        </div>

        <ul *ngIf="team.events" class="nav flex-column mt-2" style="padding-left: 0.75rem">
          <li class="nav-item">
            <a href="teams/{{ team.teamKey }}#info">Team Info</a>
          </li>
          <li class="nav-item mt-1">
            Event Results
            <ul class="nav flex-column">
              <li class="nav-item"><a *ngFor="let event of team.events" href="teams/{{ team.teamKey }}#{{ event.eventKey }}" class="nav-link">{{ event.divisionName ? event.eventName + ' - ' + event.divisionName + ' Division' : event.eventName}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </mdc-card>
  </div>

  <div class="col-xs-12 col-sm-9 col-lg-9">
    <mdc-card class="toa-card" id="info">
      <div class="toa-card-header" mdcHeadline5>#{{ team.teamKey }} - {{ team.teamNameShort }}</div>
      <mdc-list-divider></mdc-list-divider>
      <div class="p-3">
        <div class="info-state d-flex align-content-center flex-wrap">
          <mat-icon svgIcon="compass"></mat-icon>
          <p>Part of the {{ team.regionKey }} Region</p>
        </div>

        <div class="info-state d-flex align-content-center flex-wrap">
          <mat-icon svgIcon="map-marker"></mat-icon>
          <p style="text-transform: capitalize">{{ team.city }}, {{ team.stateProv ? team.stateProv + ', ' : '' }}{{ fixCountry(team.country) }}</p>
        </div>

        <div class="info-state d-flex align-content-center flex-wrap" *ngIf="team.rookieYear && team.rookieYear !== 0">
          <mat-icon svgIcon="airballoon"></mat-icon>
          <p>Rookie Year: {{ team.rookieYear }}</p>
        </div>

        <div class="info-state d-flex align-content-center flex-wrap" *ngIf="team.website">
          <mat-icon svgIcon="earth"></mat-icon>
          <p>Website: {{ team.website }}</p>
        </div>

        <div class="info-state d-flex align-content-center flex-wrap" *ngIf="team.robotName">
          <mat-icon svgIcon="robot"></mat-icon>
          <p>Robot Name: {{ team.robotName }}</p>
        </div>

        <div class="info-state d-flex align-content-center flex-wrap" *ngIf="team.awards && team.awards.length > 0 && thisSeason === currentSeason && thisSeason.description">
          <mat-icon svgIcon="trophy"></mat-icon>
          <p>{{ team.awards.length }} awards in {{ thisSeason.description }}</p>
        </div>
      </div>
    </mdc-card>

    <div *ngIf="team.events">
      <h1 class="pt-5 pb-1" mdcHeadline5>Event Results</h1>
      <div *ngFor="let event of team.events" id="{{ event.eventKey }}" class="col-xs-12 pb-4">
        <mdc-card class="toa-card">
          <a class="toa-card-header pb-0" routerLink="/events/{{ event.eventKey }}" mdcHeadline5>{{ event.divisionName ? event.eventName + ' - ' + event.divisionName + ' Division' : event.eventName}}</a>
          <div class="toa-card-subtitle pt-0" mdcSubtitle2>{{ event.city }}, {{ event.stateProv ? event.stateProv + ', ' : ''}}{{ fixCountry(event.country) }} on {{ event.startDate | date :  "mediumDate"}}</div>

          <mdc-list-divider></mdc-list-divider>

          <div class="p-3">
            <div *ngIf="event.rankings && event.rankings.length > 0">
              <p><b>Qual Rank #{{ event.rankings[0].rank }}</b> with a record of <b>{{ event.rankings[0].wins }}-{{ event.rankings[0].losses }}-{{ event.rankings[0].ties }}</b></p>
            </div>
            <div *ngIf="event.awards && event.awards.length > 0">
              <p><b>{{event.awards.length }} Awards:</b></p>
              <ul>
                <li *ngFor="let award of event.awards">{{ award.awardName }}</li>
              </ul>
            </div>
            <match-table [matchList]="event.matches" [team]="team"></match-table>
          </div>
        </mdc-card>
      </div>

      <small><strong>Bold</strong> is Winning Alliance</small><br>
      <small><strong>Bold and Black</strong> is Selected Team</small><br>
      <small>* is Surrogate match for that team</small><br>
      <small>Empty is team was DQ or no-show</small>
    </div>
  </div>
</div>
