<main class="container">
  <div class="row" *ngIf="team">

    <div class="col-xs-12 col-sm-3 col-lg-2">
      <div id="info">
        <div *ngIf="seasons" class="row clearfix">
          <div *ngIf="team.rookie_year" class="dropdown col-xs-12">
            <button *ngIf="current_season" class="btn btn-default dropdown-toggle" type="button" id="ftc_district" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span>{{ getSeasonString(current_season) }}</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="ftc_district">
              <li *ngFor="let season of seasons"><a (click)="selectSeason(season)">{{ getSeasonString(season) }}</a></li>
            </ul>
          </div>
        </div>

        <br/>

        <div class="row">
          <div class="col-xs-12">
            <div class="well">
              <ul *ngIf="team.events" class="nav">
                <li><a href="teams/{{ team.team_key }}#info">Team Info</a></li>
                <li>
                  Event Results
                  <ul class="nav">
                    <li><a *ngFor="let event of team.events" href="teams/{{ team.team_key }}#{{ event.event_key }}">{{ event.event_name }}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 col-lg-10">

      <div class="row">
        <div class="col-xs-12">
          <h2>Team <span *ngIf="team?.team_key">{{ team.team_key }}</span> - <span *ngIf="team?.team_name_short">{{ team.team_name_short }}</span></h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <blockquote>
            <em>Part of the {{ team.region_key }} Region</em>
          </blockquote>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <span><span class="fa fa-map-marker"></span> From <span *ngIf="team?.city">{{ team.city }}</span>, <span *ngIf="team?.state_prov">{{ team.state_prov }}</span>, <span *ngIf="team?.country">{{ team.country }}</span></span>
        </div>
        <div class="col-xs-12">
          <span><span class="fa fa-info-circle"></span> aka <em>{{ team.team_name_long }}</em></span>
        </div>
        <div class="col-xs-12">
          <span><span class="fa fa-globe"></span> <span *ngIf="team.website">{{ team.website }}</span><span *ngIf="!team.website"><i>Website N/A</i></span></span>
        </div>
        <div class="col-xs-12">
          <span><span class="fa fa-calendar"></span> Rookie Year: {{ team.rookie_year }}</span>
        </div>
      </div>

      <div *ngIf="team.events" class="row">

        <div *ngFor="let event of team.events" class="col-xs-12 pad-bot-25">
          <div class="col-xs-12 col-sm-4">
            <h3 id="{{ event.event_key }}"><a *ngIf="event.division_name == null" routerLink="/events/{{ event.event_key }}">{{ event.event_name }}</a>
              <a *ngIf="event.division_name" routerLink="/events/{{ event.event_key }}">{{ event.event_name }} - {{ event.division_name }} Division</a></h3>
            <div>
              <span><span class="fa fa-map-marker"></span> {{ event.city }}, {{ event.state_prov }}, {{ event.country }}</span>
            </div>
            <div>
              <span><span class="fa fa-calendar"></span> {{ event.start_date | date :  "mediumDate"}} - {{ event.end_date | date :  "mediumDate" }}</span>
            </div>
            <div *ngIf="event.ranking">
              <span>Overall team {{ team_key }} was <b>Rank {{ event.ranking.rank }}</b> with a record of <b>{{ event.ranking.wins }}-{{ event.ranking.losses }}-{{ event.ranking.ties }}</b></span>
            </div>
            <div *ngIf="event.awards && event.awards.length > 0">
              <span>Awards include:</span>
              <ul>
                <li *ngFor="let award of event.awards">{{ award.award_name }}</li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <table class="match-table">
              <thead>
                <tr class="visible-lg">
                  <th>
                    <span class="fa fa-play-circle-o  "></span>
                  </th>
                  <th>Match</th>
                  <th colspan="6">Red Alliance</th>
                  <th colspan="6">Blue Alliance</th>
                  <th colspan="2">Scores</th>
                </tr>
                <tr class="hidden-lg">
                  <th rowspan="2">
                    <span class="fa fa-play-circle-o"></span>
                  </th>
                  <th rowspan="2">Match</th>
                  <th colspan="12">Red Alliance</th>
                  <th colspan="2">Red Score</th>
                </tr>
                <tr class="hidden-lg">
                  <th colspan="12">Blue Alliance</th>
                  <th colspan="2">Blue Score</th>
                </tr>
              </thead>
              <tbody *ngIf="event.match_data && event.match_data.length > 0">
              <tr>
                <th colspan="18">Qualifications</th>
              </tr>
              </tbody>
              <tbody *ngIf="event.match_data && event.match_data.length <= 0">
              <tr>
                <td colspan="18"><i>There is no available match data for {{ team_key }} this event.</i></td>
              </tr>
              </tbody>
              <tbody *ngFor="let match of event.qual_matches">
              <tr class="visible-lg">
                <td>
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td>
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
                <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>
              <tr class="hidden-lg">
                <td rowspan="2">
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td rowspan="2">
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
              </tr>
              <tr class="hidden-lg">
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>
              </tbody>

              <tbody *ngIf="event.quarters_matches && event.quarters_matches.length > 0">
              <tr>
                <th colspan="18">Quarters Matches</th>
              </tr>
              </tbody>
              <tbody *ngFor="let match of event.quarters_matches">
              <tr *ngIf="getStationLength(match) == 6" class="visible-lg">
                <td>
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td>
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 4) }}" [class.current-team]="isCurrentTeam(match, 4)">{{ getStation(match, 4) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 5) }}" [class.current-team]="isCurrentTeam(match, 5)">{{ getStation(match, 5) }}</a>
                </td>
                <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
                <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 4" class="visible-lg">
                <td>
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td>
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
                <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 6" class="hidden-lg">
                <td rowspan="2">
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td rowspan="2">
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
              </tr>
              <tr *ngIf="getStationLength(match) == 6" class="hidden-lg">
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 4) }}" [class.current-team]="isCurrentTeam(match, 4)">{{ getStation(match, 4) }}</a>
                </td>
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 5) }}" [class.current-team]="isCurrentTeam(match, 5)">{{ getStation(match, 5) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 4" class="hidden-lg">
                <td rowspan="2">
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td rowspan="2">
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
              </tr>
              <tr *ngIf="getStationLength(match) == 4" class="hidden-lg">
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>
              </tbody>

              <tbody *ngIf="event.semis_matches && event.semis_matches.length > 0">
              <tr>
                <th colspan="18">Semifinal Matches</th>
              </tr>
              </tbody>
              <tbody *ngFor="let match of event.semis_matches">
              <tr *ngIf="getStationLength(match) == 6" class="visible-lg">
                <td>
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td>
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 4) }}" [class.current-team]="isCurrentTeam(match, 4)">{{ getStation(match, 4) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 5) }}" [class.current-team]="isCurrentTeam(match, 5)">{{ getStation(match, 5) }}</a>
                </td>
                <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
                <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 4" class="visible-lg">
                <td>
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td>
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
                <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 6" class="hidden-lg">
                <td rowspan="2">
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td rowspan="2">
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
              </tr>
              <tr *ngIf="getStationLength(match) == 6" class="hidden-lg">
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 4) }}" [class.current-team]="isCurrentTeam(match, 4)">{{ getStation(match, 4) }}</a>
                </td>
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 5) }}" [class.current-team]="isCurrentTeam(match, 5)">{{ getStation(match, 5) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 4" class="hidden-lg">
                <td rowspan="2">
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td rowspan="2">
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
              </tr>
              <tr *ngIf="getStationLength(match) == 4" class="hidden-lg">
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>
              </tbody>

              <tbody *ngIf="event.finals_matches && event.finals_matches.length > 0">
              <tr>
                <th colspan="18">Finals Matches</th>
              </tr>
              </tbody>
              <tbody *ngFor="let match of event.finals_matches">
              <tr *ngIf="getStationLength(match) == 6" class="visible-lg">
                <td>
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td>
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 4) }}" [class.current-team]="isCurrentTeam(match, 4)">{{ getStation(match, 4) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 5) }}" [class.current-team]="isCurrentTeam(match, 5)">{{ getStation(match, 5) }}</a>
                </td>
                <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
                <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 4" class="visible-lg">
                <td>
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td>
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
                <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 6" class="hidden-lg">
                <td rowspan="2">
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td rowspan="2">
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
              </tr>
              <tr *ngIf="getStationLength(match) == 6" class="hidden-lg">
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 4) }}" [class.current-team]="isCurrentTeam(match, 4)">{{ getStation(match, 4) }}</a>
                </td>
                <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 5) }}" [class.current-team]="isCurrentTeam(match, 5)">{{ getStation(match, 5) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>

              <tr *ngIf="getStationLength(match) == 4" class="hidden-lg">
                <td rowspan="2">
                  <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
                </td>
                <td rowspan="2">
                  <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 0) }}" [class.current-team]="isCurrentTeam(match, 0)">{{ getStation(match, 0) }}</a>
                </td>
                <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  <a href="/teams/{{ getStation(match, 1) }}" [class.current-team]="isCurrentTeam(match, 1)">{{ getStation(match, 1) }}</a>
                </td>
                <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
                  {{ match.red_score }}
                </td>
              </tr>
              <tr *ngIf="getStationLength(match) == 4" class="hidden-lg">
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 2) }}" [class.current-team]="isCurrentTeam(match, 2)">{{ getStation(match, 2) }}</a>
                </td>
                <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  <a href="/teams/{{ getStation(match, 3) }}" [class.current-team]="isCurrentTeam(match, 3)">{{ getStation(match, 3) }}</a>
                </td>
                <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
                  {{ match.blue_score }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>
</main>
