<div class="w-100 account-card">
  <div mdcHeadline5>{{ 'pages.account.create_event_card.title' | translate }}</div>
  <form class="row mt-2 edit" [formGroup]="form">
    <div class="col-md-6 col-12 mb-3">
      <mdc-text-field formControlName="eventName" dense [label]="'pages.event.subpages.admin.update_info_card.event_name' | translate" class="w-100" required>
        <mdc-icon mdcTextFieldIcon leading svgIcon="rename-box"></mdc-icon>
      </mdc-text-field>
      <mdc-select formControlName="season" [placeholder]="'pages.account.create_event_card.season' | translate" class="w-100" required>
        <option disabled></option>
        <option *ngFor="let season of seasons" [value]="season.seasonKey">
          20{{ season.seasonKey.substring(0, 2) }}/{{ season.seasonKey.substring(2, 4) }} - {{ season.description }}
        </option>
      </mdc-select>
      <mdc-select formControlName="region" [placeholder]="'pages.account.create_event_card.region' | translate" class="w-100" required>
        <option disabled></option>
        <option *ngFor="let region of regions" [value]="region.regionKey">
          {{ region.description ? region.regionKey + " - " + region.description : region.regionKey }}
        </option>
      </mdc-select>
      <mdc-select formControlName="league" [placeholder]="'pages.account.create_event_card.league' | translate" class="w-100">
        <option value="no-league">No league</option>
        <option *ngFor="let league of leagues" [value]="league.leagueKey">
          {{ league.description ? league.regionKey + "-" + league.leagueKey + " - " + league.description : league.regionKey + "-" + league.leagueKey }}
        </option>
      </mdc-select>
      <mdc-text-field formControlName="website" dense class="w-100"
                      [label]="'pages.event.subpages.admin.update_info_card.website' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="earth"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="startDate" dense type="date" class="w-100" required
                      [label]="'pages.event.subpages.admin.update_info_card.start_date' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="calendar"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="endDate" dense type="date" class="w-100" required
                      [label]="'pages.event.subpages.admin.update_info_card.end_date' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="calendar"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="divisionName" dense *ngIf="form.value.dualDivision" class="w-100" required
                      [label]="'pages.account.create_event_card.division_name' | translate">
        <mdc-icon mdcTextFieldIcon leading>create</mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="numberFields" dense type="number" *ngIf="form.value.advanced" class="w-100" required
                      [label]="'pages.account.create_event_card.number_fields' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="soccer-field"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="numberAlliances" dense type="number" *ngIf="form.value.advanced" class="w-100" required
                      [label]="'pages.account.create_event_card.number_alliances' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="human-handsup"></mdc-icon>
      </mdc-text-field>
      <mdc-checkbox formControlName="dualDivision" (click)="resetDualDivision()"></mdc-checkbox>
      <label>{{'pages.account.create_event_card.dual_division' | translate}}</label>
      <mdc-checkbox formControlName="advanced" (click)="resetAdvanced()"></mdc-checkbox>
      <label>{{'pages.account.create_event_card.advanced' | translate}}</label>
    </div>
    <div class="col-md-6 col-12 ps-md-3">
      <mdc-text-field formControlName="eventId" dense class="w-100" maxlength="5" style="text-transform:uppercase"
                      [label]="'pages.account.create_event_card.event_id' | translate" required>
        <mdc-icon mdcTextFieldIcon leading svgIcon="key"></mdc-icon>
      </mdc-text-field>
      <b mdcOverline *ngIf="form.value.dualDivision" style="color: red">DO NOT put the division key here!</b>
      <mdc-select formControlName="eventType" class="w-100"
                  [placeholder]="'pages.account.create_event_card.event_type' | translate" required>
        <option disabled></option>
        <option *ngFor="let eventType of eventTypes" [value]="eventType.eventTypeKey">
          {{ eventType.eventTypeKey }} - {{ eventType.description }}
        </option>
      </mdc-select>
      <mdc-text-field formControlName="venue" dense class="w-100" required
                      [label]="'pages.event.subpages.admin.update_info_card.venue' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="spotlight"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="city" dense class="w-100" required
                      [label]="'pages.event.subpages.admin.update_info_card.city' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="city-variant-outline"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="state" dense class="w-100" required
                      [label]="'pages.event.subpages.admin.update_info_card.state' | translate">
        <mdc-icon mdcTextFieldIcon leading svgIcon="map-marker-outline"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="country" dense class="w-100" required
                      [label]="'pages.event.subpages.admin.update_info_card.country' | translate" >
        <mdc-icon mdcTextFieldIcon leading svgIcon="globe-model"></mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="divisionNumber" dense type="number" *ngIf="form.value.dualDivision" class="w-100"
                      [label]="'pages.account.create_event_card.division_number' | translate" required>
        <mdc-icon mdcTextFieldIcon leading>device_hub</mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="advancementSpots" type *ngIf="form.value.advanced" class="w-100" required
                      dense [label]="'pages.account.create_event_card.advancement_spots' | translate">
        <mdc-icon mdcTextFieldIcon leading>filter_list</mdc-icon>
      </mdc-text-field>
      <mdc-text-field formControlName="advancementEvent" *ngIf="form.value.advanced" dense class="w-100" required
                      [label]="'pages.account.create_event_card.advancement_event' | translate">
        <mdc-icon mdcTextFieldIcon leading>call_made</mdc-icon>
      </mdc-text-field>
    </div>
    <button mdc-button primary (click)="createEvent()" class="mt-2">{{ 'pages.account.create_event_card.create' | translate }}</button>
  </form>
</div>
