@import "../../../../../constants";

.insight-card {
  margin-bottom: 1.5rem;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #edf2f9;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.insight-card-header {
  font-size: 1.3rem;
  font-weight: 500;
}

.insight-card-title {
  font-size: 0.7rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  color: #95aac9;
  letter-spacing: 0.06em;
}

.insight-card-content {
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: 500;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #e3ebf6;
  box-sizing: content-box;
  height: 0;
  width: 100%;
}
tle {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  color: #95aac9;
  letter-spacing: 0.06em;
}

.insight-card-title {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  color: #95aac9;
  letter-spacing: 0.06em;
}

.insight-card-content {
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: 500;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #e3ebf6;
  box-sizing: content-box;
  height: 0;
  width: 100%;
}
