<div class="row">
  <div class="col-12 col-sm-6 p-2">
    <div class="insight-card">
      <div class="insight-card-header">{{ 'pages.event.subpages.insights.qual' | translate }}</div>
      <hr/>
      <div class="align-items-center" *ngIf="insights.qualHighScoreMatch">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.high_score' | translate }}</div>
        <div class="insight-card-content">{{ qualHighScore }}</div>
        <div>{{ insights.qualHighScoreMatch.matchName }}</div>
      </div>
      <hr *ngIf="insights.qualHighScoreMatch" />
      <div class="align-items-center">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_score' | translate }}</div>
        <div class="insight-card-content">{{ insights.qualAverageMatchScore }}</div>
      </div>
      <hr/>
      <div class="align-items-center">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_winning_score' | translate }}</div>
        <div class="insight-card-content">{{ insights.qualAverageWinningScore }}</div>
      </div>
      <hr/>
      <div class="align-items-center">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_winning_margin' | translate }}</div>
        <div class="insight-card-content">{{ insights.qualAverageWinningMargin }}</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 p-2">
    <div class="insight-card">
      <div class="insight-card-header">{{ 'pages.event.subpages.insights.playoff' | translate }}</div>
      <hr/>
      <div class="align-items-center" *ngIf="insights.elimHighScoreMatch">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.high_score' | translate }}</div>
        <div class="insight-card-content">{{ elimHighScore }}</div>
        <div>{{ insights.elimHighScoreMatch.matchName }}</div>
      </div>
      <hr *ngIf="insights.elimHighScoreMatch" />
      <div class="align-items-center">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_score' | translate }}</div>
        <div class="insight-card-content">{{ insights.elimAverageMatchScore }}</div>
      </div>
      <hr/>
      <div class="align-items-center">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_winning_score' | translate }}</div>
        <div class="insight-card-content">{{ insights.elimAverageWinningScore }}</div>
      </div>
      <hr/>
      <div class="align-items-center">
        <div class="insight-card-title">{{ 'pages.event.subpages.insights.avg_winning_margin' | translate }}</div>
        <div class="insight-card-content">{{ insights.elimAverageWinningMargin }}</div>
      </div>
    </div>
  </div>
</div>
