<main class="container">

  <h1>About <b class="primary">The Orange Alliance</b></h1>

  <div class="row">
    <div class="col-xs-12">
      <p>The Orange Alliance is a site to centralize <i>FIRST</i> Tech Challenge (FTC) Scouting Data so that anyone can have access to it.  We are a site run by the FTC community and would love to have more people help with this project in anyway.  Feel free to reach out to us through <a href="https://discord.gg/5fH66UV" target="_blank">Discord</a> or  <a href="mailto:contact@theorangealliance.org" target="_blank">contact us at contact@theorangealliance.org</a>.</p><br>
      <p>The Orange Alliance was inspired by <a href="http://thebluealliance.com/" target="_blank">The Blue Alliance</a>, but we are not affiliated.</p>
    </div>
  </div>

  <h1><i>FIRST</i></h1>
  <p><i><a href="https://www.firstinspires.org/" target="_blank">FIRST</a></i> (For Inspiration and Recognition of Science and Technology) is a non-profit organization with the mission of inspiring young people to be science and technology leaders. With programs that involve students from kindergarten through high school, <i>FIRST</i> has become a world-wide phenomenon with teams from all six inhabited continents.</p>

  <h1>Meet The <b class="primary">Core Devs</b> of <b class="primary">The Orange Alliance</b></h1>

  <div class="row">

    <div class="col-xs-12 col-md-3">
      <div class="row">
        <div class="col-xs-12">
          <img src="../../../assets/imgs/bio_photos/alex.jpg" class="img-fit-w" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="role-section">
            <span class="role-badge role-lead">Alexander Fera</span>
            <span class="role-badge role-fta">Project Manager & Co-Creator</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Alex is the Orange Alliance Project Manager, Lead <i>FIRST</i> Technical Advisor for <i>FIRST</i> in Michigan, <i>FIRST</i> Tech Challenge and <i>FIRST</i> Technical Advisor for <i>FIRST</i> in Michigan, <i>FIRST</i> Robotics Competition. On the TOA app Alex concentrates on Database Architecture, Data storage and Data import. He is also one of the Developers for FTC's Official Scoring System. Alex is the Owner of his own IT Consulting Firm, <a href="http://feragroup.com/" target="_blank">Fera Group, LLC</a>, based in Northern Michigan. Alex is a 10 year volunteer with <i>FIRST</i>, Alum and Mentor of <i>FIRST</i> Robotics Team 503.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="row">
        <div class="col-xs-12">
          <img src="../../../assets/imgs/bio_photos/Keith1.jpg" class="img-fit-w" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="role-section">
            <span class="role-badge role-lead">Keith Moore</span>
            <span class="role-badge role-fta">Co-Creator</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Keith Moore is the head programming mentor for FRC 503, Frog Force, which helped develop the prototype for TOA. Keith focused on the overall architecture and design of TOA concept. He has also developed support documents for the FTC Android control system and is often seen sporting his bright orange CSA hat at FTC competitions across the state. In his spare time, Keith is Chief Technology Officer for a large Michigan financial services company.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="row">
        <div class="col-xs-12">
          <img src="../../../assets/imgs/bio_photos/kyle.jpg" class="img-fit-w" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="role-section">
            <span class="role-badge role-lead">Kyle Flynn</span>
            <span class="role-badge role-fta">Developer in Chief</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Kyle Flynn is the lead developer for The Orange Alliance. He develops and maintains the core functionality of The Orange Alliance as well as the public API.
            Spending 4 years as a student on an FRC team, Kyle is now a 2nd year <i>FIRST</i> in Michigan volunteer as both a <i>FIRST</i> Technical Advisor for FTC,
            and a <i>FIRST</i> Technical Advisor Assistant/Control System Advisor for FRC.
            Kyle is also studying Computer Science and Business Administration at Grand Valley State University.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="row">
        <div class="col-xs-12">
          <img src="../../../assets/imgs/bio_photos/soren.jpg" class="img-fit-w" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="role-section">
            <span class="role-badge role-lead">Soren Zaiser</span>
            <span class="role-badge role-fta">Developer & Graphic Designer</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Soren Zaiser leads most non-web designing, is the lead developer for the TOA Data Importer and TOA API Tester, and assists in the development of other non-web applications.  Soren is the Lead A/V Coordinator for FTC in FiM and helps run A/V for FRC in FiM.  Soren helped developed the Vortex Counter, used widely across FiM in 2016-2017 Velocity Vortex FTC Game.  Soren is the owner of SPZ Productions, a small video production company based in mid-Michigan.  He Mentors FTC team 5954, and is the Lead Student Programmer on FRC 1322. Soren has been volunteering in <i>FIRST</i> for 4 years.
          </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-3">
      <div class="row">
        <div class="col-xs-12">
          <img src="../../../assets/imgs/bio_photos/austin.jpg" class="img-fit-w" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="role-section">
            <span class="role-badge role-lead">Austin Vecchio</span>
            <span class="role-badge role-fta">Developer</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            Austin Vecchio is a developer for The Orange Alliance. He develops and maintains the core functionality of The Orange Alliance.
            Spending 4 years as a student on an FRC team, Austin is now a 3rd year <i>FIRST</i> in Michigan volunteer as a <i>FIRST</i> Technical Advisor Assistant/Control System Advisor for FRC.
            Austin graduated from Kettering University with a Bachelors in Computer Science and a Bachelors in Bioinformatics.
            Austin currently works at Kunz Leigh & Associates as a full stack developer.
          </p>
        </div>
      </div>
    </div>

  <!--<div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="row">
        <div class="col-xs-12">
          <img src="../../../assets/imgs/bio_photos/sean.jpg" class="img-fit-w" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="role-section">
            <span class="role-badge role-lead">Sean Messenger</span>
            <span class="role-badge role-fta">Web Hosting Consultant</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>
            coming soon
          </p>
        </div>
      </div>
    </div>
  </div>-->
  </div>

</main>
