<div dir="ltr">
  <h1 class="about-header">About Us</h1>

  <p>
    The Orange Alliance is the largest provider of <i>FIRST</i> Tech Challenge Data. We are a site
    run by the <i>FIRST</i> community. If you would like to help out, have any questions, or have
    suggests feel free to reach out to us through
    <a href="https://discord.gg/MdfDBhC" target="_blank">Discord</a> or contact us at
    <a href="mailto:contact@theorangealliance.org" target="_blank">contact@theorangealliance.org</a>
  </p>
  <p>
    The Orange Alliance was inspired by
    <a href="http://thebluealliance.com/" target="_blank">The Blue Alliance</a>, but we are not
    affiliated.
  </p>

  <h3 class="pt-3"><i>FIRST</i></h3>
  <p>
    <i><a href="https://www.firstinspires.org/" target="_blank">FIRST</a></i> (For Inspiration and
    Recognition of Science and Technology) is a non-profit organization with the mission of
    inspiring young people to be science and technology leaders. With programs that involve students
    from kindergarten through high school, <i>FIRST</i> has become a world-wide phenomenon with
    teams from all six inhabited continents.
  </p>

  <h3 class="pt-3">
    Meet the <b class="primary">Team</b> behind <b class="primary">The Orange Alliance</b>
  </h3>
  <div class="row p-2">
    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/alex.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Alexander Fera</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>
              Co-Founder, Board Member, and Executive Director
            </h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Alex is the Founder and CEO of The Orange Alliance. He is the Lead
            <i>FIRST</i> Technical Advisor for <i>FIRST</i> in Michigan, <i>FIRST</i> Tech Challenge
            and <i>FIRST</i> Robotics Competition. Alex helps to manage the day to day operations of
            TOA. He is also the owner of his own IT Consulting Firm,
            <a href="https://fera.group/" target="_blank">Fera Group, LLC</a>, based in Western
            Michigan. Alex is a 10 year volunteer with <i>FIRST</i> and he is an alum and mentor of
            <a href="https://www.thebluealliance.com/team/503" target="_blank"
              ><i>FIRST</i> Robotics Team 503</a
            >.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/afera15" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/alexfera/"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/keith.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Keith Moore</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>Co-Creator</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Keith is a co-founder of The Orange Alliance. He is the head programming mentor for
            <a href="https://www.thebluealliance.com/team/503" target="_blank"
              ><i>FIRST</i> Robotics Team 503</a
            >, which helped develop the prototype for TOA. Keith focused on the overall architecture
            and design of TOA concept. He has also developed support documents for the
            <i>FIRST</i> Tech Challenge Android control system and is often seen sporting his bright
            orange CSA hat at <i>FIRST</i> competitions across Michigan. In his spare time, Keith is
            Chief Technology Officer for a large Michigan financial services company.
          </div>
        </div>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/kyle.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Kyle Flynn</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>Board Member and Chief Technology Officer</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Kyle is one of the original developers for The Orange Alliance. He develops and
            maintains the
            <a href="https://github.com/orange-alliance/event-management-system" target="_blank">
              Event Management System
            </a>
            that has been used for Michigan <i>FIRST</i> Tech Challenge, <i>FIRST</i> Global, and
            <i>FIRST</i> Robotics Competition off-season events. Kyle is a <i>FIRST</i> alumnus and
            volunteers as a <i>FIRST</i> Technical Advisor. Kyle graduated from Grand Valley State
            University where he studied Computer Science and Mathematics.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/kyle-flynn" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/kyle-flynn-a48719136"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/soren.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Soren Zaiser</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>Board Member and Lead Developer</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Soren is the lead developer for The Orange Alliance and manages the API and back end of
            The Orange Alliance. Soren is the Lead A/V Coordinator for <i>FIRST</i> Tech Challenge
            in Michigan and helps run A/V for <i>FIRST</i> Robotics Competition in Michigan. Soren
            is the owner of SPZ Productions, a small video production company based in mid-Michigan.
            He also mentors
            <a href="https://theorangealliance.org/teams/5954" target="_blank"
              ><i>FIRST</i> Tech Challenge Team 5954</a
            >, and is the Lead Student Programmer on
            <a href="https://www.thebluealliance.com/team/1322" target="_blank"
              ><i>FIRST</i> Robotics Competition Team 1322</a
            >. Soren has been volunteering in <i>FIRST</i> for over 5 years.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/Techno11" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/spzproductions"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/nathan.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Nathan Satterfield</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>
              Board Member and Chief Operating Officer
            </h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Nathan is the Chief Operating Officer of The Orange Alliance and helps manage various
            day to day tasks. Nathan’s main role involves handling data uploading and coordination
            with regional partners. Nathan is a host on First Updates Now for <i>FIRST</i> Tech
            Challenge coverage. He is an alumni of
            <a href="https://theorangealliance.org/teams/3507"
              ><i>FIRST</i> Tech Challenge Team 3507</a
            >
            and has been a volunteer for the past 5 years. Nathan is currently studying Business at
            the University of Michigan.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/Nate2019" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/nathan-satterfield-730a38165/"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/devin.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Devin Keeney</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>Board Member</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Devin is a developer for The Orange Alliance. They help with various TOA projects as
            well as general management and advising. Devin is a coach for <i>FIRST</i> Tech
            Challenge Teams <a href="https://theorangealliance.org/teams/3507">3507</a> and
            <a href="https://theorangealliance.org/teams/9410">9410</a>. Devin has been involved in
            <i>FIRST</i> for over 12 seasons. Devin is a student studying Computer Engineering at
            Illinois Tech, and is involved with the
            <a href="https://illinoistechrobotics.org/" target="_blank"
              ><i>FIRST</i> Alumni Organization</a
            >
            there.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/bkeeneykid" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/devin-keeney"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/ofek.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Ofek Ashery</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>Developer</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Ofek is a developer for The Orange Alliance. Ofek is involved in developing the iOS and
            Android applications as well as maintaining The Orange Alliance’s DataSync. Ofek has
            been volunteering for <i>FIRST</i> for several years and is on
            <a href="https://www.thebluealliance.com/team/1937" target="_blank"
              ><i>FIRST</i> Robotics Competition Team 1937</a
            >. He is currently in high school and lives in Israel.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/ofekashery" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/ofekashery"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/noah.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Noah Holoubek</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>Developer & Security Engineer</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Noah is a developer and security engineer for The Orange Alliance. He is on
            <a href="https://theorangealliance.org/teams/13426" target="_blank"
              ><i>FIRST</i> Tech Challenge Team 13426</a
            >
            and volunteers at <i>FIRST</i> Tech Challenge events and is the lead A/V coordinator for
            Nebraska FLL. He has been involved with <i>FIRST</i> for over 7 years. Noah is currently
            in high school and lives in Nebraska.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/nholo1332" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/noah-holoubek-3116a9171"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/travis.png" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Travis Weir</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>CI Manager & Developer</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Travis is the Continuous Integration Manager for The Orange Alliance. He also created
            and maintains <a href="https://web.tweirtx.me/rematch/" target="_blank">ReMatch</a>, a
            <i>FIRST</i> Tech Challenge and <i>FIRST</i> Robotics Competition match video splitter.
            He is currently in high school and lives in the Austin, Texas area.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/tweirtx" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>

    <div class="col-12 col-sm-6 col-lg-4 mt-3 p-0">
      <mdc-card class="toa-card dev-card">
        <img src="../../../assets/imgs/bio_photos/dominic.jpg" class="profile" />
        <div class="content">
          <div class="title">
            <h1 class="toa-card-header m-0 p-0" mdcHeadline6>Dominic Hupp</h1>
            <h1 class="toa-card-subtitle m-0 p-0" mdcSubtitle2>Developer</h1>
          </div>

          <div class="toa-card-subtitle text" mdcBody2>
            Dominic is a developer for The Orange Alliance. He mainly works on TOA Text along with
            other projects. He is on
            <a href="https://theorangealliance.org/teams/15692" target="_blank"
              ><i>FIRST</i> Tech Challenge Team 15692</a
            >. Dom is currently a high school student and lives in Ohio.
          </div>
        </div>
        <mdc-list-divider></mdc-list-divider>
        <mdc-card-actions>
          <mdc-card-action-icons>
            <a href="https://github.com/Huppdo" target="_blank" class="p-1 text-black-50"
              ><mdc-icon svgIcon="github-circle"></mdc-icon
            ></a>
            <a
              href="https://www.linkedin.com/in/dominic-hupp-3b051716a"
              target="_blank"
              class="p-1 text-black-50"
              ><mdc-icon svgIcon="linkedin"></mdc-icon
            ></a>
          </mdc-card-action-icons>
        </mdc-card-actions>
      </mdc-card>
    </div>
  </div>
</div>
