<h2>About <b class="primary">The Orange Alliance</b></h2>

<p>The Orange Alliance is a site to centralize <i>FIRST</i> Tech Challenge (FTC) Scouting Data so that anyone can have access to it.  We are a site run by the FTC community and would love to have more people help with this project in anyway.  Feel free to reach out to us through <a href="https://discord.gg/5fH66UV" target="_blank" (click)="this.sendAnalytic('leaving', 'discord');">Discord</a> or contact us at <a href="mailto:contact@theorangealliance.org" target="_blank" (click)="this.sendAnalytic('email', 'contact@theorangealliance.org');">contact@theorangealliance.org</a>.</p>
<p>The Orange Alliance was inspired by <a href="http://thebluealliance.com/" target="_blank" (click)="this.sendAnalytic('leaving', 'the blue alliance');">The Blue Alliance</a>, but we are not affiliated.</p>

<h3 class="pt-3"><i>FIRST</i></h3>
<p><i><a href="https://www.firstinspires.org/" target="_blank" (click)="this.sendAnalytic('leaving', 'FIRST website');">FIRST</a></i> (For Inspiration and Recognition of Science and Technology) is a non-profit organization with the mission of inspiring young people to be science and technology leaders. With programs that involve students from kindergarten through high school, <i>FIRST</i> has become a world-wide phenomenon with teams from all six inhabited continents.</p>

<h3 class="pt-3">Meet The <b class="primary">Core Devs</b> of <b class="primary">The Orange Alliance</b></h3>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <mdc-card-media>
        <img src="../../../assets/imgs/bio_photos/alex.jpg" class="img-fit-w" />
      </mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Alexander Fera</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>Project Manager & Co-Creator</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Alex is the Orange Alliance Project Manager, Lead <i>FIRST</i> Technical Advisor for <i>FIRST</i> in Michigan, <i>FIRST</i> Tech Challenge and <i>FIRST</i> Robotics Competition.
        On the TOA app Alex concentrates on Database Architecture, Data storage and Data import.
        Alex is the Owner of his own IT Consulting Firm, <a href="http://feragroup.com/" target="_blank">Fera Group, LLC</a>, based in Northern Michigan.
        Alex is a 10 year volunteer with <i>FIRST</i>, Alum and Mentor of <i>FIRST</i> Robotics Team 503.
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="https://github.com/afera15" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'alex fera github');"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="https://www.linkedin.com/in/alexfera/" target="_blank" class="p-1 text-black-50"(click)="this.sendAnalytic('leaving', 'alex fera linkedin');"><mdc-icon svgIcon="linkedin" ></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
    </mdc-card>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <mdc-card-media>
        <img src="../../../assets/imgs/bio_photos/keith.jpg" class="img-fit-w" />
      </mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Keith Moore</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>Co-Creator</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Keith is the head programming mentor for FRC 503, Frog Force, which helped develop the prototype for TOA.
        Keith focused on the overall architecture and design of TOA concept.
        He has also developed support documents for the FTC Android control system and is often seen sporting his bright orange CSA hat at FTC competitions across the state.
        In his spare time, Keith is Chief Technology Officer for a large Michigan financial services company.
      </div>
<!--
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="#" target="_blank" class="p-1 text-black-50"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="#" target="_blank" class="p-1 text-black-50"><mdc-icon svgIcon="linkedin"></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
-->
    </mdc-card>
  </div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <mdc-card-media>
        <img src="../../../assets/imgs/bio_photos/kyle.jpg" class="img-fit-w" />
      </mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Kyle Flynn</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>Lead Software Engineer</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Kyle is the lead developer for The Orange Alliance. He develops and maintains the core functionality of The Orange Alliance as well as the public API.
        Spending 4 years as a student on an FRC team, Kyle is now a 3rd year <i>FIRST</i> in Michigan volunteer as both a <i>FIRST</i> Technical Advisor for FTC,
        and a <i>FIRST</i> Technical Advisor/Control System Advisor for FRC. He also wrote the Event Management System for <i>FIRST</i> Global while working for REV Robotics.
        Kyle is studying Computer Science and Mathematics at Grand Valley State University.
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="https://github.com/kyle-flynn" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'kyle flynn github');"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="https://www.linkedin.com/in/kyle-flynn-a48719136" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'kyle flynn linkedin');"><mdc-icon svgIcon="linkedin"></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
    </mdc-card>
  </div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <mdc-card-media>
        <img src="../../../assets/imgs/bio_photos/soren.jpg" class="img-fit-w" />
      </mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Soren Zaiser</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>Developer & Graphic Designer</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Soren leads most non-web designing, is the current main developer for the TOA DataSync, a contributor to the Web and API apps, and assists in the development of several other applications.
        Soren is the Lead A/V Coordinator for FTC in FiM and helps run A/V for FRC in FiM.
        Soren helped developed the Vortex Counter, used widely across FiM in 2016-2017 Velocity Vortex FTC Game.
        Soren is the owner of SPZ Productions, a small video production company based in mid-Michigan.
        He Mentors FTC team 5954, and is the Lead Student Programmer on FRC 1322.
        Soren has been volunteering in <i>FIRST</i> for 4 years.
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="https://github.com/Techno11" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'soren zaiser github');"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="https://www.linkedin.com/in/spzproductions" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'soren zaiser linkedin');"><mdc-icon svgIcon="linkedin"></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
    </mdc-card>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <mdc-card-media>
        <img src="../../../assets/imgs/bio_photos/bill.jpg" class="img-fit-w" />
      </mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Bill Gardner</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>Codehack</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Bill hacks TOA code to add features and functionality. He mentored around 20 FTC teams for 6 years in Charlottesville Virginia
        and was the Virginia State Compass Award winner in 2015-16. He also provides FTC software and 3D-printable resources online as <a href="http://cheer4ftc.blogspot.com/" target="_blank" (click)="this.sendAnalytic('leaving', 'cheer4ftc blogspot');">CHEER4FTC</a>.
        He's a big believer in using stats to evaluate FTC teams, has written papers comparing different statistical methods for FTC, and has released a free
        Android app that computes stats and match forecasts during live and archived FTC events.
        He has a Ph.D. in Electrical Engineering from the University of California, San Diego and was previously Vice President of Engineering at Qualcomm.
      </div>
<!--
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="#" target="_blank" class="p-1 text-black-50"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="#" target="_blank" class="p-1 text-black-50"><mdc-icon svgIcon="linkedin"></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
-->
    </mdc-card>
  </div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <mdc-card-media>
        <img src="../../../assets/imgs/bio_photos/ofek.jpg" class="img-fit-w" />
      </mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Ofek Ashery</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>Developer</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Ofek is a high school student and core developer for The Orange Alliance.
        Ofek was the core developer of the <a href="https://play.google.com/store/apps/details?id=com.theorangealliance.android" target="_blank" (click)="this.sendAnalytic('leaving', 'ofek ashery toa android app');">TOA Android version</a>.
        Thanks to Ofek, The Orange Alliance has a new, modern look using Google's Material Design.
        In addition, he has been volunteering in <i>FIRST</i> for several years.
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="https://github.com/ofekashery" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'ofek ashery github');"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="https://www.linkedin.com/in/ofekashery" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'ofek ashery linkedin');"><mdc-icon svgIcon="linkedin"></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
    </mdc-card>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Kevin Fang</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>TheReddKing</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Kevin Fang is a college student and made FTCRoot prior before deciding to help develop The Orange Alliance front end.
        He likes the word blub and dislikes writing about himself in third person.
        Also he's always free to answer any questions!
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="https://github.com/TheReddKing" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'kevin fang github');"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="https://www.linkedin.com/in/kevinfang21" target="_blank" class="p-1 text-black-50" (click)="this.sendAnalytic('leaving', 'kevin fang linkedin');"><mdc-icon svgIcon="linkedin"></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
    </mdc-card>
  </div>

<!--
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-5">
    <mdc-card class="toa-card">
      <mdc-card-media>
        <img src="../../../assets/imgs/bio_photos/sean.jpg" class="img-fit-w" />
      </mdc-card-media>
      <div class="demo-card__primary">
        <h1 class="toa-card-header  mb-0 pb-0" mdcHeadline6>Sean Messenger</h1>
        <h1 class="toa-card-subtitle pt-0" mdcSubtitle2>Web Hosting Consultant</h1>
      </div>
      <div class="toa-card-subtitle p-3" mdcBody2>
        Coming soon.
      </div>
      <mdc-list-divider></mdc-list-divider>
      <mdc-card-actions>
        <mdc-card-action-icons>
          <a href="https://github.com/messenger-sean" target="_blank" class="p-1 text-black-50"><mdc-icon svgIcon="github-circle"></mdc-icon></a>
          <a href="https://www.linkedin.com/in/seanmessenger" target="_blank" class="p-1 text-black-50"><mdc-icon svgIcon="linkedin"></mdc-icon></a>
        </mdc-card-action-icons>
      </mdc-card-actions>
    </mdc-card>
  </div>
-->
</div>
