<div>
  <h2>Insights</h2>
  <p>Season-Wide statistics</p>

  <div mdcMenuSurfaceAnchor #seasonAnchor *ngIf="currentSeason && seasons && seasons.length > 0" class="toa-dropdown p-2 ">
    <button mdc-button (click)="seasonDropdown.open = !seasonDropdown.open" class="bg-primary">
      {{ currentSeason.description || getSeasonString(currentSeason.seasonKey) }}
      <mdc-icon>arrow_drop_down</mdc-icon>
    </button>
    <mdc-menu #seasonDropdown [anchorElement]="seasonAnchor" (selected)="onSeasonChange($event)"
              anchorCorner="bottomStart">
      <mdc-list dense>
        <mdc-list-item *ngFor="let season of seasons" [disabled]="season.seasonKey === currentSeason.seasonKey">
          {{ getSeasonString(season.seasonKey, season.description) }}
        </mdc-list-item>
      </mdc-list>
    </mdc-menu>
  </div>

  <div class="outline-card bg-white">
    <mdc-tab-bar [activeTabIndex]="activeTab" (activated)="onTab($event)">
      <mdc-tab-scroller>
        <mdc-tab label="Quals Multi-Team Matches"    (click)="changeUrlNoRoute('quals')"></mdc-tab>
        <mdc-tab label="Elims Multi-Team Matches"   (click)="changeUrlNoRoute('elims')"></mdc-tab>
        <mdc-tab *ngIf="this.currentSeason && this.currentSeason.seasonKey === '2021'" label="Quals Single-Team Matches"    (click)="changeUrlNoRoute('stquals')"></mdc-tab>
        <mdc-tab *ngIf="this.currentSeason && this.currentSeason.seasonKey === '2021'" label="Quals Combined Single/Multi-Team Matches " (click)="changeUrlNoRoute('combined')"></mdc-tab>
      </mdc-tab-scroller>
    </mdc-tab-bar>

    <div>
      <toa-insight-graphs *ngIf="this.activeTab === 0 && this.insightsQuals && this.currentSeason" [insights]="this.insightsQuals" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
      <toa-insight-graphs *ngIf="this.activeTab === 1 && this.insightsElims && this.currentSeason" [insights]="this.insightsElims" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
      <toa-insight-graphs *ngIf="this.activeTab === 2 && this.insightsSingle && this.currentSeason" [insights]="this.insightsSingle" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
      <toa-insight-graphs *ngIf="this.activeTab === 3 && this.insightsCombo && this.currentSeason" [insights]="this.insightsCombo" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
    </div>
  </div>
</div>
