<div>
  <h2>Insights</h2>
  <p>Season-Wide statistics</p>

  <div class="row p-2">
    <div class="col-12">
      <mdc-card class="toa-card overflow">
        <div class="toa-card-header">{{ 'pages.events.filter' | translate }}</div>

        <mdc-list-divider></mdc-list-divider>
        <div class="p-3 row">

          <div mdcMenuSurfaceAnchor #seasonAnchor *ngIf="currentSeason && seasons && seasons.length > 0" class="toa-dropdown">
            <button mdc-button (click)="seasonDropdown.open = !seasonDropdown.open">
              {{ currentSeason.description || getSeasonString(currentSeason.seasonKey) }}
              <mdc-icon>arrow_drop_down</mdc-icon>
            </button>
            <mdc-menu #seasonDropdown [anchorElement]="seasonAnchor" (selected)="onSeasonChange($event)" anchorCorner="bottomStart">
              <mdc-list dense>
                <mdc-list-item *ngFor="let season of seasons" [disabled]="season.seasonKey === currentSeason.seasonKey" style="width: 200px">
                  {{ getSeasonString(season.seasonKey, season.description) }}
                </mdc-list-item>
              </mdc-list>
            </mdc-menu>
          </div>

          <div mdcMenuSurfaceAnchor #regionAnchor *ngIf="currentRegion && regions && regions.length > 0"
               class="toa-dropdown">
            <button mdc-button (click)="regionDropdown.open = !regionDropdown.open">
              {{ currentRegion.description || getRegionString(currentRegion.regionKey) }}
              <mdc-icon>arrow_drop_down</mdc-icon>
            </button>
            <mdc-menu #regionDropdown [anchorElement]="regionAnchor" (selected)="onRegionChange($event)" anchorCorner="bottomStart">
              <mdc-list dense>
                <mdc-list-item *ngFor="let region of regions" [disabled]="region.regionKey === currentRegion.regionKey" style="width: 250px">
                  {{ getRegionString(region.regionKey, region.description) }}
                </mdc-list-item>
              </mdc-list>
            </mdc-menu>
          </div>
        </div>

        <mdc-list-divider></mdc-list-divider>

        <button mdc-button (click)="clearFilter()">{{ 'pages.events.clear_filter' | translate }}</button>
      </mdc-card>
    </div>
  </div>

  <div class="outline-card bg-white p-2">
    <mdc-tab-bar [activeTabIndex]="activeTab" (activated)="onTab($event)">
      <mdc-tab-scroller>
        <mdc-tab label="Quals Multi-Team Matches"    (click)="changeUrlNoRoute('quals')"></mdc-tab>
        <mdc-tab label="Elims Multi-Team Matches"   (click)="changeUrlNoRoute('elims')"></mdc-tab>
        <mdc-tab *ngIf="this.currentSeason && this.currentSeason.seasonKey === '2021'" label="Quals Single-Team Matches"    (click)="changeUrlNoRoute('stquals')"></mdc-tab>
        <mdc-tab *ngIf="this.currentSeason && this.currentSeason.seasonKey === '2021'" label="Quals Combined Single/Multi-Team Matches " (click)="changeUrlNoRoute('combined')"></mdc-tab>
      </mdc-tab-scroller>
    </mdc-tab-bar>

    <div>
      <toa-insight-graphs *ngIf="this.activeTab === 0 && this.insightsQuals && this.currentSeason" [insights]="this.insightsQuals" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
      <toa-insight-graphs *ngIf="this.activeTab === 1 && this.insightsElims && this.currentSeason" [insights]="this.insightsElims" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
      <toa-insight-graphs *ngIf="this.activeTab === 2 && this.insightsSingle && this.currentSeason" [insights]="this.insightsSingle" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
      <toa-insight-graphs *ngIf="this.activeTab === 3 && this.insightsCombo && this.currentSeason" [insights]="this.insightsCombo" [season]="this.currentSeason.seasonKey"></toa-insight-graphs>
    </div>
  </div>
</div>
