<div class="col-xs-12 col-md-10 col-md-offset-1 mar-top-10 allow-expand">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-sort-numeric-asc"></span> Team Rankings</h3>
    </div>
    <div class="panel-body">
      <table class="stats-table table table-responsive table-striped">
        <thead>
        <tr>
          <td>Rank</td>
          <td>Team</td>
          <td>Record (W-L-T)</td>
          <td>Qualification Points</td>
          <td>Ranking Points</td>
          <td>Highest Score</td>
          <td>Matches Played</td>
        </tr>
        </thead>
        <tbody *ngIf="rankings">
        <tr *ngFor="let rank of rankings" >
          <td>{{ rank.rank }}</td>
          <td><a href="/teams/{{ rank.team_key }}">{{ rank.team_key }}</a></td>
          <td>{{ rank.wins }} - {{ rank.losses }} - {{ rank.ties }}</td>
          <td>{{ rank.qualifying_points }}</td>
          <td>{{ rank.ranking_points }}</td>
          <td>{{ rank.highest_qual_score }}</td>
          <td>{{ rank.played }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
