<div class="col-12">
  <table class="table table-responsive d-md-table d-sm-block">
    <thead class="thead-light">
      <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Record (W-L-T)</th>
        <th *ngIf="showQualPoints">Qualification Points</th>
        <th>Ranking Points</th>
        <th *ngIf="showHighScore">Highest Score</th>
        <th>Matches Played</th>
      </tr>
    </thead>
    <tbody *ngIf="rankings">
      <tr *ngFor="let rank of rankings" >
        <td>{{ rank.rank }}</td>
        <td><a href="/teams/{{ rank.teamKey }}">{{ rank.teamKey }}</a></td>
        <td>{{ rank.wins }} - {{ rank.losses }} - {{ rank.ties }}</td>
        <td *ngIf="showQualPoints">{{ rank.qualifyingPoints }}</td>
        <td>{{ rank.rankingPoints }}</td>
        <td *ngIf="showHighScore">{{ rank.highestQualScore }}</td>
        <td>{{ rank.played }}</td>
      </tr>
    </tbody>
  </table>
</div>
