$mdc-theme-primary: #F89808;
$mdc-theme-dark: #A45200;
$mdc-theme-light: #ffaf41;
$mdc-theme-secondary: #F89808;
$twitch-chat-bg-color: #18181b;

$dark-surface-color: #1d1d1d;
$dark-text-color: rgba(255, 255, 255, 0.87);
$dark-icon-color: rgba(255, 255, 255, 0.38);