/* Global Styles */
@import "constants";
@import "~@angular-mdc/theme/material";

html, body {
  margin: 0;
  height: 100%;
  background: #F5F6F7;
  text-align: start;
}

.row {
  max-width: 100%;
  margin-left: 0!important;
  margin-right: 0!important;
}

.col-12, .col-sm-12, .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a:hover {
  cursor: pointer;
}

*:focus {
  outline:none !important;
}

.img-fit {
  max-height: 100%;
}

.img-fit-w {
  max-width: 100%;
}

.dropdown-menu {
  left: inherit;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
  max-height: 400px;
}

.btn {
  background: #fff!important;
}

.pagination>li:not(.disabled)>a {
  color: #ff9800 !important;
}

.pagination>.active>a {
  background-color: #d2d2d2 !important;
  border-color: #d2d2d2 !important;
}

.no-underline, .no-underline a {
  text-decoration: none!important;
}

.no-underline:hover, .no-underline a:hover  {
  text-decoration: none!important;
}

.table-no-border-top thead td  {
  border-top: none;
}

.toa-fab {
  z-index: 0;
  color: #000!important;
}

mdc-text-field .mdc-floating-label {
  margin-bottom: 0;
}

.mdc-top-app-bar {
  color: #000;
}

.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: #000;
}

mdc-icon svg {
  height: 24px;
  width: 24px;
}

.list-header {
  color: $mdc-theme-dark;
  font-weight: bold;
}

.headline-margin {
  margin: 48px 0 24px;
  letter-spacing: 0;
  padding-bottom: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* ==========================================================================
   Colors
   ========================================================================== */

.primary {
  color: $mdc-theme-primary;
}

.bg-primary {
  background: $mdc-theme-primary!important;
  color: #fff!important;
}

.red {
  background-color: rgba(255, 82, 82, 0.13);
}

.blue {
  background-color: rgba(68, 138, 255, 0.13);
}

.lightRed {
  background-color: rgba(255, 82, 82, 0.07);
}

.lightBlue {
  background-color: rgba(68, 138, 255, 0.07);
}

.gray {
  color: #747474;
}

.black {
  color: #000!important;;
}

.black:hover {
  color: #000!important;
}

.icon-white {
  color: #fff;
}

/* for SVG icons */
.icon-white svg {
  fill: #fff;
}


/* ==========================================================================
   Padding and Margin
   ========================================================================== */

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-breakpoint-up($min) {
  @if $min != 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@each $breakpoint in map-keys($breakpoints) {
  $min: map-get($breakpoints, $breakpoint);

  @include media-breakpoint-up($min) {
    $infix: if($min == 0, "", "-#{$breakpoint}");

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        [dir=rtl] .#{$abbrev}s#{$infix}-#{$size},
        [dir=ltr] .#{$abbrev}e#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }

        [dir=rtl] .#{$abbrev}e#{$infix}-#{$size},
        [dir=ltr] .#{$abbrev}s#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }
  }
}

[dir="rtl"].custom-file-label::after {
  left: 0;
  right: initial;
  border-right: 1px solid #ced4da;
  border-left: 0;
  border-radius: .20rem 0 0 .20rem;
}


/* ==========================================================================
   Drawer
   ========================================================================== */

/*
.mdc-list-group .mdc-list {
   padding: 8px 0!important;
}
*/

.toa-drawer--fixed {
  position: fixed;
  overflow-y: auto;
  top: auto;
  padding-bottom: 64px;
}

mdc-drawer mdc-list .mdc-list-item--activated {
  color: $mdc-theme-primary!important;
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before {
  opacity: .1!important;
}

mdc-drawer mdc-list a {
  color: rgba(0, 0, 0, 0.54)!important;
}

.item-profile {
  height: 80px!important;
}

.item-profile button {
  color: #4285F4!important;
}

.item-profile img {
  margin-left: 15px;
}

.page {
  padding-top: 40px;
  padding-bottom: 45px;
}

@media (min-width: 1240px) {
  mdc-drawer {
    padding-bottom: 64px;
  }
  .toa-page {
    margin-right: 0;
    margin-left: 256px;
    padding-right: 20px;
    padding-left: 20px;
  }

  [dir="rtl"] .toa-page {
    margin-right: 256px!important;
    margin-left: 0!important;
  }
}

@media (max-width: 1239px) {
  .toa-page {
    padding: 12px;
  }

  .page-title {
    display: none;
  }

  .page-subtitle {
    padding-top: 1rem;
    margin: 0;
  }
}


/* ==========================================================================
   Info State
   ========================================================================== */

.info-state {
  align-content: center !important;
  display: flex;
  margin: 5px 0;
}

.info-state p {
  margin: 0 0 10px 10px;
  word-break: break-word;
  padding: 0;
}

.info-state mdc-icon {
  color: $mdc-theme-primary;
  margin-right: 12px;
  margin-left: 0;
  width: 24px;
  height: 24px;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  fill: $mdc-theme-primary;
}

[dir="rtl"] .info-state mdc-icon {
  margin-right: 0!important;
  margin-left: 12px!important;;
}

/* ==========================================================================
   Basic Card
   ========================================================================== */

.toa-card {
  border-radius: 6px!important;
  overflow: hidden;
  padding: 5px;
}

.toa-card-header {
  font-weight: 500;
  color: #000;
  padding: 8px 16px;
}

.toa-card-subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);
  padding: 8px 1rem;
}

.outline-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .75rem;
  padding: 1rem;
}

/* ==========================================================================
   Link Card
   ========================================================================== */

.link-card {
  max-width: 300px;
}
.link-card-content {
  margin-left: 60px;
  padding: 14px;
}

.link-card-title {
  font-weight: 600;
  color: #000;
}

.link-card-icon {
  background: $mdc-theme-primary;
  margin-left: 10px;
  border-radius: 50px;
  color: #FFFFFF;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-card-icon mdc-icon {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link-card-icon mdc-icon svg {
  fill: #fff;
}

/* ==========================================================================
   Image List
   ========================================================================== */

.toa-image-list img {
  border-radius: 20px;
}
.toa-image-list {
  @include mdc-image-list-masonry-columns(3);
}

@media (max-width: 599px) {
  .toa-image-list {
    @include mdc-image-list-masonry-columns(1);
  }
}


/* ==========================================================================
   Team Item
   ========================================================================== */

.item-team {
  height: 80px!important;
  padding-left: 10px!important;
}

.item-team img {
  height: 50px!important;
  margin-right: 15px;
}


/* ==========================================================================
   Tooltip
   ========================================================================== */

.toa-tooltip {
  position: relative;
  display: inline-block;
}

.toa-tooltip .tooltiptext {
  opacity: 0;
  visibility: hidden;
  background-color: rgb(60,64,67);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .3px;
  line-height: 16px;
  padding: 6px 12px;
  white-space: nowrap;
  z-index: 9999;
  position: absolute;
  display: block;
  bottom: 125%;
  left: -80%;
}

.toa-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* ==========================================================================
   Match Table
   ========================================================================== */

.match-details-table, .match-details-row {
  width: 100%;
}

.match-details-row {
  display: flex;
  display: -webkit-flex; /* Safari */
}

.match-details-title {
  width: 40%;
  text-align: center;
  padding: 10px;
}

.match-details-row.part {
  font-weight: bold;
}

.match-details-row.part .match-details-title {
  background: rgba(0, 0, 0, 0.06);
}

.match-details-points {
  width: 30%;
  text-align: center;
  padding: 10px;
}


/* ==========================================================================
   Match Table
   ========================================================================== */

@media (min-width: 900px) {
  .mdc-dialog .mdc-dialog__surface {
    max-width: 600px;
  }

  .mdc-dialog .toa-match-details {
    width: 500px;
  }
}

table.match-table {
  padding: 3px 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
}

table.match-table>tbody {
  border-top-width: 1px!important;
}

table.match-table>thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: #f0f0f0;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 5px;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 12px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #efefef;
}

table.match-table>tbody > tr > td:not(.selected-team) {
  padding: 15px!important;
}

@media (max-width: 601px) {
  table.match-table > tbody > tr > td, table.match-table > thead > tr > th {
    padding: 5px 2px!important;
    font-size: 14px!important;
  }

  table.match-table>tbody > tr > td:not(.selected-team) {
    padding: 8px 4px !important;;
  }

  /*
  .play-icon svg {
    height: 18px;
    width: 18px;
  }
  */
}

table.match-table th, table.oprTable th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  padding: 3px;
}

table.match-table tr {
  text-align: center;
}

.not-played {
  //font-weight: bold;
  font-style: italic;
}

.play-icon svg {
  fill: #007bff;
}
.play-icon.offline svg {
  fill: #00000012;
}

.match-winner {
  font-weight: bold;
}

.red.match-winner {
  background-color: #ffe5e5;
}

.blue.match-winner {
  background-color: #e5e5ff;
}

.current-team {
  color: black;
  font-weight: 600;
}

.selected-team {
  border: 3px solid #000!important;
}

.selected-team-snackbar {
  padding: 15px 24px;
}

.selected-team-snackbar .mdc-snackbar__label {
  height: auto;
  padding: 0 0 10px 0;
  font-size: 16px;
}

.selected-team-snackbar .badge {
  font-weight: 400;
  font-size: 13px !important;
  padding: 7px;
}


/* ==========================================================================
   Search
   ========================================================================== */

.mobile-search-modal .modal-dialog {
  margin: 0!important;
  height: 100%!important;
  width: 100%!important;
}
.mobile-search-modal .modal-content {
   border: none;
   border-radius: 0;
}
.mobile-search {
  width: 100%!important;
  background-color: white!important;
}

.mobile-search::before, .mobile-search::after {
  display: none!important;
}

.mobile-search input {
  font-size: 25px
}

.search-anchor {
  position: relative;
}

.search-box {
  width: 300px;
  color: #000!important;
  box-shadow: none;
  background-color: $mdc-theme-light!important;
  border-radius: 4px;
}

.search-box input{
  border: 0;
  color: #000!important;
  caret-color: #000!important;
}

.search-anchor .mdc-floating-label {
  color: #000!important;
}

.search-anchor .mdc-floating-label--float-above {
  display: none;
}

.search-results {
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 8px;
  margin-bottom: 24px;
}

.search-anchor .mdc-notched-outline__notch {
  border: none;
}

[dir="ltr"] .mdc-text-field--outlined .mdc-floating-label {
  left: 0;
  padding-left: 16px;
}

[dir="rtl"] .mdc-text-field--outlined .mdc-floating-label {
  right: 0;
  padding-right: 16px;
}

.search-anchor .mdc-notched-outline__leading, .search-anchor .mdc-notched-outline__trailing {
  display: none;
}

.search-anchor .mdc-list-item {
  height: auto!important;
  min-height: 48px;
  padding: 16px;
}

.search-anchor .mdc-list-item p {
  padding: 0;
  margin: 0;
}

/* ==========================================================================
   Loading Spinner
   ========================================================================== */

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading {
  width: 100%;
  text-align: center;
}

.loading-text span {
  color: #ffffff;
  font-size: 24px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading-text span:nth-child(2) {
  animation-delay: .2s;
}

.loading-text span:nth-child(3) {
  animation-delay: .4s;
}

.loading-text span:nth-child(4) {
  animation-delay: .6s;
}

.loading-text span:nth-child(5) {
  animation-delay: .8s;
}

.loading-text span:nth-child(6) {
  animation-delay: 1.0s;
}

#loading-spinner {
  background-color: #ff9800;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sk-fading-circle {
  width: 70px;
  height: 70px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
