/* Global Styles */
@import "constants";
@import "~@angular-mdc/theme/material";

html, body {
  margin: 0;
  height: 100%;
  background: #F5F6F7;
  text-align: start;
}

.row {
  max-width: 100%;
  margin-left: 0!important;
  margin-right: 0!important;
}

.col-12, .col-sm-12, .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a:hover {
  cursor: pointer;
}

*:focus {
  outline:none !important;
}

.img-fit {
  max-height: 100%;
}

.img-fit-w {
  max-width: 100%;
}

.dropdown-menu {
  left: inherit;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
  max-height: 400px;
}

.btn {
  background: #fff!important;
}

.pagination>li:not(.disabled)>a {
  color: #ff9800 !important;
}

.pagination>.active>a {
  background-color: #d2d2d2 !important;
  border-color: #d2d2d2 !important;
}

.no-underline, .no-underline a {
  text-decoration: none!important;
}

.no-underline:hover, .no-underline a:hover  {
  text-decoration: none!important;
}

.table-no-border-top thead td  {
  border-top: none;
}

.toa-fab {
  z-index: 0;
  color: #000!important;
}

mdc-text-field .mdc-floating-label {
  margin-bottom: 0;
}

.mdc-top-app-bar {
  color: #000;
}

.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: #000;
}

mdc-icon svg {
  height: 24px;
  width: 24px;
}

.list-header {
  color: $mdc-theme-dark;
  font-weight: bold;
}

.headline-margin {
  margin: 48px 0 24px;
  letter-spacing: 0;
  padding-bottom: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.mdc-dialog {
  z-index: 10!important;
}

/* ==========================================================================
   Colors
   ========================================================================== */

.primary {
  color: $mdc-theme-primary;
}

.bg-primary {
  background: $mdc-theme-primary!important;
  color: #fff!important;
}

.red {
  background-color: rgba(255, 82, 82, 0.13);
}

.blue {
  background-color: rgba(68, 138, 255, 0.13);
}

.lightRed {
  background-color: rgba(255, 82, 82, 0.07);
}

.lightBlue {
  background-color: rgba(68, 138, 255, 0.07);
}

.gray {
  color: #747474;
}

.black {
  color: #000!important;;
}

.black:hover {
  color: #000!important;
}

.icon-white {
  color: #fff;
}

/* for SVG icons */
.icon-white svg {
  fill: #fff;
}

.currentColor {
  color: currentColor;
}


/* ==========================================================================
   Padding and Margin
   ========================================================================== */

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin media-breakpoint-up($min) {
  @if $min != 0 {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@each $breakpoint in map-keys($breakpoints) {
  $min: map-get($breakpoints, $breakpoint);

  @include media-breakpoint-up($min) {
    $infix: if($min == 0, "", "-#{$breakpoint}");

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        [dir=rtl] .#{$abbrev}s#{$infix}-#{$size},
        [dir=ltr] .#{$abbrev}e#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }

        [dir=rtl] .#{$abbrev}e#{$infix}-#{$size},
        [dir=ltr] .#{$abbrev}s#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }
      }
    }
  }
}

[dir="rtl"].custom-file-label::after {
  left: 0;
  right: initial;
  border-right: 1px solid #ced4da;
  border-left: 0;
  border-radius: .20rem 0 0 .20rem;
}


/* ==========================================================================
   FIRST RISE Banners
   ========================================================================== */

.kickoff-banner {
  background: url('assets/imgs/first-rise-bg.jpg') center/cover #0a1d25;
  min-height: 50px;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px!important;
  direction: ltr;
}

.kickoff-banner--home {
  // min-height: unset!important;
  padding: 20px;
}

.kickoff-banner a {
  color: #ccc!important;
}

.kickoff-banner--home a {
  color: #fff!important;
}

.kickoff-banner a:hover {
  color: #fff!important;
  font-weight: bold;
  text-decoration: none;
}

/* ==========================================================================
   Drawer
   ========================================================================== */

/*
.mdc-list-group .mdc-list {
   padding: 8px 0!important;
}
*/

.toa-drawer--fixed {
  position: fixed;
  overflow-y: auto;
  top: auto;
  padding-bottom: 64px;
}

mdc-drawer mdc-list .mdc-list-item--activated {
  color: $mdc-theme-primary!important;
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before {
  opacity: .1!important;
}

mdc-drawer mdc-list a {
  color: rgba(0, 0, 0, 0.54)!important;
}

.item-profile {
  height: 80px!important;
}

.item-profile button {
  color: #4285F4!important;
}

.item-profile img {
  margin-left: 15px;
}

.page {
  padding-top: 40px;
  padding-bottom: 45px;
}

.full-page {
  margin-top: -40px;
  margin-bottom: 40px;
}

@media (min-width: 1240px) {
  mdc-drawer {
    padding-bottom: 64px;
  }
  .toa-page {
    margin-right: 0;
    margin-left: 256px;
    padding-right: 20px;
    padding-left: 20px;
  }

  [dir="rtl"] .toa-page {
    margin-right: 256px !important;
    margin-left: 0 !important;
  }

  .full-page {
    margin-left: -20px;
    margin-right: -20px;
  }

  .page-padding {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 1239px) {
  .toa-page {
    padding: 12px;
  }

  .full-page {
    margin: -12px;
  }

  .page-padding {
    padding-right: 12px;
    padding-left: 12px;
  }

  .page-title {
    display: none;
  }

  .page-subtitle {
    padding-top: 1rem;
    margin: 0;
  }
}


/* ==========================================================================
   Info State
   ========================================================================== */

.info-state {
  align-items: center;
  display: flex;
  margin: 5px 0;

  p {
    margin: 5px 0;
    word-break: break-word;
    padding: 0;
  }

  mdc-icon {
    margin-right: 12px;
    margin-left: 0;
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    fill: $mdc-theme-primary;
  }

  [dir="rtl"] mdc-icon {
    margin-right: 0!important;
    margin-left: 12px!important;;
  }
}

.info-state-dense {
  .info-state {
    margin: 0!important;
    font-size: 14px;
  }

  p {
    margin: 2px 8px;
  }

  mdc-icon {
    width: 14px;
    height: 14px;
    margin: 0!important;
    fill: #000;
  }
}


/* ==========================================================================
   Basic Card
   ========================================================================== */

.toa-card {
  border-radius: 6px!important;
  overflow: hidden;
  padding: 5px;
}

.toa-card.overflow {
  overflow: unset !important;
}

.toa-card-header {
  font-weight: 500;
  color: #000;
  padding: 8px 16px;
}

.toa-card-subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);
  padding: 8px 1rem;
}

.outline-card {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .75rem;
  padding: 1rem;
}

/* ==========================================================================
   Link Card
   ========================================================================== */

.link-card {
  max-width: 300px;
}
.link-card-content {
  margin-left: 60px;
  padding: 14px;
}

.link-card-title {
  font-weight: 600;
  color: #000;
}

.link-card-icon {
  background: $mdc-theme-primary;
  margin-left: 10px;
  border-radius: 50px;
  color: #FFFFFF;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-card-icon mdc-icon {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link-card-icon mdc-icon svg {
  fill: #fff;
}

/* ==========================================================================
   Image List
   ========================================================================== */

.toa-image-list img {
  border-radius: 20px;
}
.toa-image-list {
  @include mdc-image-list-masonry-columns(3);
}

@media (max-width: 599px) {
  .toa-image-list {
    @include mdc-image-list-masonry-columns(1);
  }
}


/* ==========================================================================
   List Item
   ========================================================================== */

.mdc-list-item__primary-text span:first-child {
   display: inline-block;
}


/* ==========================================================================
   Team Item
   ========================================================================== */

.item-team {
  height: 70px!important;
  padding-left: 10px!important;
}

.item-team .mdc-list-item__text {
  margin: auto;
}

.item-team img {
  height: 50px!important;
  margin-right: 15px;
}


/* ==========================================================================
   Tooltip
   ========================================================================== */

.toa-tooltip {
  position: relative;
  display: inline-block;
}

.toa-tooltip .tooltiptext {
  opacity: 0;
  visibility: hidden;
  background-color: rgb(60,64,67);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .3px;
  line-height: 16px;
  padding: 6px 12px;
  white-space: nowrap;
  z-index: 9999;
  position: absolute;
  display: block;
  bottom: 125%;
  //left: -80%;
}

.toa-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* ==========================================================================
   Dropdown
   ========================================================================== */

.toa-dropdown {
  .mdc-button {
    color: black!important;
    justify-content: start!important;
    padding: 0 8px;

    ::before, ::after {
      background: black!important;
    }
  }

  .mdc-menu {
    min-width: max-content;
  }
}


/* ==========================================================================
   Match Table
   ========================================================================== */

.match-details-table, .match-details-row {
  width: 100%;
}

.match-details-row {
  display: flex;
  display: -webkit-flex; /* Safari */
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.match-details-title {
  width: 40%;
  text-align: center;
  padding: 10px;
}

.match-details-row.part {
  font-weight: bold;
}

.match-details-row.part .match-details-title {
  background: rgba(0, 0, 0, 0.06);
}

.match-details-points {
  width: 30%;
  text-align: center;
  padding: 10px;
}


/* ==========================================================================
   Match Table
   ========================================================================== */

@media (min-width: 900px) {
  .mdc-dialog .mdc-dialog__surface {
    max-width: 600px;
  }

  .mdc-dialog .toa-match-details, .mdc-dialog .toa-match-video {
    width: 500px;
  }
}

table.match-table {
  padding: 3px 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
}

table.match-table>tbody {
  border-top-width: 1px!important;
}

table.match-table>thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: #f0f0f0;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 12px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #efefef;
}

table.match-table>tbody > tr > td {
  padding: 15px!important;
}

@media (max-width: 601px) {
  table.match-table > tbody > tr > td, table.match-table > thead > tr > th {
    padding: 8px 4px!important;
    font-size: 14px!important;
  }

  /*
  .play-icon svg {
    height: 18px;
    width: 18px;
  }
  */
}

table.match-table th, table.oprTable th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  padding: 3px;
}

table.match-table tr {
  text-align: center;
}

.not-played {
  //font-weight: bold;
  font-style: italic;
}

.play-icon svg {
  fill: #007bff;
}
.play-icon.offline svg {
  fill: #00000012;
}

.match-winner {
  font-weight: bold;
}

.red.match-winner {
  background-color: #ffe5e5;
}

.blue.match-winner {
  background-color: #e5e5ff;
}

.current-team {
  color: black;
  font-weight: 600;
}

.selected-team {
  background-color: #FBCC81!important;
}

.selected-team-snackbar {
  padding: 15px 24px;
}

.selected-team-snackbar .mdc-snackbar__label {
  height: auto;
  padding: 0 0 10px 0;
  font-size: 16px;
}

.selected-team-snackbar .badge {
  font-weight: 400;
  font-size: 13px !important;
  padding: 7px;
}

.mdc-snackbar:not(.selected-team-snackbar) {
  z-index: 30;
}


/* ==========================================================================
   Rankings Table
   ========================================================================== */

.rankings-table td, .rankings-table th {
  padding: .75rem;
}


/* ==========================================================================
   Search
   ========================================================================== */

.toa-search {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
}

.toa-search-toolbar {
  display: flex;
}

.toa-search-icon {
  height: 24px;
  align-self: center;
}

.toa-search-icon svg {
  fill: #80868b;
}

.toa-search-content, .toa-search-box {
  margin: 16px auto;
  max-width: 720px;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 599px) {
  .toa-search-toolbar-spacer {
    display: none !important;
  }

  .toa-search-box {
    flex-grow: 1;
    margin: 16px !important;;
    border-radius: 8px !important;
  }

  .toa-search-box:after {
    display: none !important;;
  }

  .toa-search-content {
    margin: unset !important;
    max-width: unset !important;
    width: 100% !important;
  }

  .toa-search-results {
    box-shadow: unset !important;
    border-top: unset !important;
    margin-top: -16px !important;
  }
}

.toa-search-box {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  background: #fff;
  border-radius: 8px 8px 0 0;
  position: relative;
  display: flex;
}

.toa-search-box:after {
  content: "";
  background: #fff;
  border-top: none;
  box-shadow: -1px 0 0 #dadce0, 1px 0 0 #dadce0, 0 1px 0 #dadce0, 0 5px 0 #fff;
  -webkit-box-shadow: -1px 0 0 #dadce0, 1px 0 0 #dadce0, 0 1px 0 #dadce0, 0 5px 0 #fff;
  height: 6px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.toa-search-box-input::placeholder {
  color: #9aa0a6!important;
  opacity: 1; /* Firefox */
}

.toa-search-box-input:-ms-input-placeholder { /* IE 10-11 */
  color: #9aa0a6!important;
}

.toa-search-box-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #9aa0a6!important;
}

.toa-search-box-input {
  color: #3c4043;
  letter-spacing: 0.00625em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  border: none;
  outline: none;
  background: none;
  vertical-align: top;
  padding: 0;
  z-index: auto;
  text-overflow: ellipsis;
  height: 48px;
  width: 100%;
  margin: 6px 12px;
}

.toa-search-results {
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -5px 0 0 #fff, 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
  margin-top: -32px;
  height: calc(100vh - 110px);
  border-top: 1px solid #dadce0;
  overflow-y: auto;
}

.search-anchor {
  position: relative;
}

.search-box {
  width: 300px;
  color: #000!important;
  box-shadow: none;
  background-color: $mdc-theme-light!important;
  border-radius: 4px;
}

.search-box input{
  border: 0;
  color: #000!important;
  caret-color: #000!important;
}

.search-anchor .mdc-floating-label {
  color: #000!important;
}

.search-anchor .mdc-floating-label--float-above {
  display: none;
}

.search-results {
  left: 0;
  right: 0;
  position: absolute;
  margin-top: 8px;
  margin-bottom: 24px;
}

.search-anchor .mdc-notched-outline__notch {
  border: none;
}

[dir="ltr"] .mdc-text-field--outlined .mdc-floating-label {
  left: 0;
  padding-left: 16px;
}

[dir="rtl"] .mdc-text-field--outlined .mdc-floating-label {
  right: 0;
  padding-right: 16px;
}

.search-anchor .mdc-notched-outline__leading, .search-anchor .mdc-notched-outline__trailing {
  display: none;
}

.search-anchor .mdc-list-item {
  height: auto!important;
  min-height: 48px;
  padding: 16px;
}

.search-anchor .mdc-list-item p {
  padding: 0;
  margin: 0;
}

.clickable {
  cursor: pointer;
}
