/* Global Styles */
@import "constants";
@import "~@angular-mdc/theme/material";

html, body {
  margin: 0;
  height: 100%;
  background: #F5F6F7;
}

.row {
  max-width: 100%;
}

a:hover {
  cursor: pointer;
}

*:focus {
  outline:none !important;
}

.img-fit {
  max-height: 100%;
}

.img-fit-w {
  max-width: 100%;
}

.dropdown-menu {
  left: inherit;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: auto;
  max-height: 400px;
}

.btn {
  background: #fff!important;
}

.pagination>li:not(.disabled)>a {
  color: #ff9800 !important;
}

.pagination>.active>a {
  background-color: #d2d2d2 !important;
  border-color: #d2d2d2 !important;
}

.no-underline, .no-underline a {
  text-decoration: none!important;
}

.no-underline:hover, .no-underline a:hover  {
  text-decoration: none!important;
}

.table-no-border-top thead td  {
  border-top: none;
}

.toa-fab {
  z-index: 0;
  color: #fff!important;
}

/* ==========================================================================
   Colors
   ========================================================================== */

.primary {
  color: $mdc-theme-primary;
}

.bg-primary {
  background: $mdc-theme-primary!important;
  color: #fff!important;
}

.gray {
  color: #747474;
}

.black {
  color: #000;
}

.icon-white {
  color: white;
}

/* for SVG icons */
.icon-white svg {
  fill: white;
}


/* ==========================================================================
   Drawer
   ========================================================================== */

/*
.mdc-list-group .mdc-list {
   padding: 8px 0!important;
}
*/

.toa-drawer--fixed {
  position: fixed;
  overflow-y: auto;
  top: auto;
  padding-bottom: 64px;
}

mdc-drawer mdc-list .mdc-list-item--activated {
  color: $mdc-theme-primary!important;
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before {
  opacity: .1!important;
}

mdc-drawer mdc-list a {
  color: rgba(0, 0, 0, 0.54)!important;
}

.mdc-top-app-bar {
  color: #fff;
}

.item-profile {
  height: 80px!important;
}

.item-profile button {
  color: #4285F4!important;
}

.item-profile img {
  margin-left: 15px;
}

.page {
  padding-top: 40px;
  padding-bottom: 45px;
}

@media (min-width: 1240px) {
  mdc-drawer {
    padding-bottom: 64px;
  }
  .toa-page {
    margin-left: 256px;
    margin-right: 0;
    padding-left: 20px;
  }
}

@media (max-width: 1239px) {
  .toa-page {
    padding-left: 20px;
  }
}


/* ==========================================================================
   Info State
   ========================================================================== */

.info-state p {
  margin: 3px 0 10px 10px;;
}

.info-state mat-icon {
  color: $mdc-theme-primary;
}


/* ==========================================================================
   Basic Card
   ========================================================================== */

.toa-card {
  border-radius: 6px!important;
  padding: 5px;
}
.toa-card-header {
  font-weight: 500;
  color: #000;
  padding: 8px 16px;
}

.toa-card-subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);
  padding: 8px 1rem;
}



/* ==========================================================================
   Link Card
   ========================================================================== */

.link-card {
  max-width: 300px;
}
.link-card-content {
  margin-left: 60px;
  padding: 14px;
}

.link-card-title {
  font-weight: 600;
  color: #000;
}

.link-card-icon {
  background: $mdc-theme-primary;
  margin-left: 10px;
  border-radius: 50px;
  color: #FFFFFF;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-card-icon mat-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ==========================================================================
   Team Item
   ========================================================================== */

.item-team {
  height: 80px!important;
  padding-left: 10px!important;
}

.item-team img {
  height: 50px!important;
  margin-right: 15px;
}


/* ==========================================================================
   Match Item Table
   ========================================================================== */

table.match-table {
  padding: 3px 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
}

table.match-table>tbody {
  border-top-width: 1px!important;
}

table.match-table>thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: #f0f0f0;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 5px;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

table.match-table th, table.oprTable th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  padding: 3px;
}

table.match-table tr {
  text-align: center;
}

.red {
  background-color: #fee;
}

.blue {
  background-color: #eef;
}

.match-winner {
  font-weight: bold;
}

.red.match-winner {
  background-color: #ffe5e5;
}

.blue.match-winner {
  background-color: #e5e5ff;
}

.current-team {
  color: black;
  font-weight: 600;
}

/* ==========================================================================
   Virtual Scroll
   ========================================================================== */
.virtual-scroll-container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 20px;
}

.virtual-scroll-filler {
  position: absolute;
  top: 0;
  width: 1px;
}

.virtual-scroll-view {
  position: absolute;
  left: 0;
  right: 0;
}

/* ==========================================================================
   Search
   ========================================================================== */

  #ftc_search input{
    font-size: 35px
  }

/* ==========================================================================
   Loading Spinner
   ========================================================================== */

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading {
  width: 100%;
  text-align: center;
}

.loading-text span {
  color: #ffffff;
  font-size: 24px;
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading-text span:nth-child(2) {
  animation-delay: .2s;
}

.loading-text span:nth-child(3) {
  animation-delay: .4s;
}

.loading-text span:nth-child(4) {
  animation-delay: .6s;
}

.loading-text span:nth-child(5) {
  animation-delay: .8s;
}

.loading-text span:nth-child(6) {
  animation-delay: 1.0s;
}

#loading-spinner {
  background-color: #ff9800;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sk-fading-circle {
  width: 70px;
  height: 70px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
