/* Global Styles */
@import "constants";
@import "~@angular-mdc/theme/material";

.primary {
  color: $mdc-theme-primary;
}

.bg-primary {
  background: $mdc-theme-primary!important;
  color: #fff!important;
}

.gray {
  color: #747474;
}

.logo-icon {
  height: 20px;
  width: 20px;
}

.toa-card {
  border-radius: 6px!important;
  padding: 5px;
}
.toa-card-header {
  font-weight: 500;
  color: #000;
  padding: 8px 16px;
}

.toa-card-subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);
  padding: 8px 1rem;
}

.item-profile {
  height: 80px!important;
}

.item-profile button {
  color: #4285F4!important;
}

.item-profile img {
  margin-left: 15px;
}

mdc-drawer mdc-list .mdc-list-item--activated {
  color: $mdc-theme-primary!important;
}

:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before {
  opacity: .1!important;
}

mdc-drawer mdc-list a {
  color: rgba(0, 0, 0, 0.54)!important;
}

.mdc-top-app-bar {
  color: #fff;
}

html, body {
  margin: 0;
  height: 100%;
  background: #F5F6F7;
}

.row {
  max-width: 100%;
}

.white-icon {
  color: white;
}
/* for SVG icons */
.white-icon svg {
  fill: white;
}

.toa-page {
  max-width: 1440px;
  padding-top: 40px;
  padding-bottom: 45px;
}

@media (min-width: 1240px) {
  mdc-drawer {
    padding-bottom: 64px;
  }
  .toa-page {
    margin-left: 240px;
    margin-right: 0;
    padding-left: 20px;
  }
}

@media (max-width: 1239px) {
  .toa-page {
    padding-left: 20px;
  }
}

.toa-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 15px 15px 15px 0;
}



/* ==========================================================================
   Link Card
   ========================================================================== */

.link-card {
  max-width: 300px;
}
.link-card-content {
  margin-left: 60px;
  padding: 14px;
}

.link-card-title {
  font-weight: 600;
  color: #000;
}

.link-card-icon {
  background: $mdc-theme-primary;
  margin-left: 10px;
  border-radius: 50px;
  color: #FFFFFF;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-card-icon mat-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* ==========================================================================
   Team Item
   ========================================================================== */

.item-team {
  height: 80px!important;
  padding-left: 10px!important;
}

.item-team img {
  height: 50px!important;
  margin-right: 15px;
}


/* ==========================================================================
   Match Item Table
   ========================================================================== */

table.match-table {
  display: table;
  padding: 3px 0;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
}

table.match-table>thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: #f0f0f0;
}

table.match-table>caption+thead>tr:first-child>th, table.match-table>colgroup+thead>tr:first-child>th, table.match-table>thead:first-child>tr:first-child>th, table.match-table>caption+thead>tr:first-child>td, table.match-table>colgroup+thead>tr:first-child>td, table.match-table>thead:first-child>tr:first-child>td {
  border-top: 0;
}

table.match-table>thead>tr>th, table.match-table>thead>tr>td {
  border-bottom-width: 2px;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  border: 1px solid #ddd;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 5px;
}

table.match-table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

table.match-table>thead>tr>th, table.match-table>tbody>tr>th, table.match-table>tfoot>tr>th, table.match-table>thead>tr>td, table.match-table>tbody>tr>td, table.match-table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

table.match-table th, table.oprTable th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle !important;
  padding: 3px;
}
