<div class="container d-none d-sm-none d-md-inline">
  <div class="row">
    <div class="col-6">
      <h4 mdcHeadline6 class="pt-5 pb-3">Percent Landed in Autonomous</h4>
      <canvas baseChart
              [datasets]="landing"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="true"
              [chartType]="'line'"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
    <div class="col-6">
      <h4 mdcHeadline6 class="pt-5 pb-3">Percent Sample and Claiming in Autonomous</h4>
      <canvas baseChart
              [datasets]="sampClaim"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="true"
              [chartType]="'line'"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 mdcHeadline6 class="pt-5 pb-3">Percent Parking in Autonomous</h4>
      <canvas baseChart
              [datasets]="parking"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="true"
              [chartType]="'line'"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
    <div class="col-6">
      <h4 mdcHeadline6 class="pt-5 pb-3">Average Game Element Scoring Teleop</h4>
      <canvas baseChart
              [datasets]="teleAvg"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="true"
              [chartType]="'line'"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 mdcHeadline6 class="pt-5 pb-3">Percent Latched/Parked End</h4>
      <canvas baseChart
              [datasets]="endLatchedParked"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="true"
              [chartType]="'line'"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>


<!-- landing Small Screen -->
<div class="d-block d-sm-none d-sm-block d-md-none">
  <h3 mdcHeadline6 class="pt-5 pb-3">Percent Landed in Autonomous</h3>
  <div style="display:block">
    <canvas baseChart
            [datasets]="landing"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="true"
            [chartType]="'line'"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
<!-- sample claim Small Screen -->
<div class="d-block d-sm-none d-sm-block d-md-none">
  <h3 mdcHeadline6 class="pt-5 pb-3">Percent Sample and Claiming in Autonomous</h3>
  <div style="display:block">
    <canvas baseChart
            [datasets]="sampClaim"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="true"
            [chartType]="'line'"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
</div>
<!-- percent parked Small Screen -->
<div class="d-block d-sm-none d-sm-block d-md-none">
  <h4 mdcHeadline6 class="pt-5 pb-3">Percent Parking in Autonomous</h4>
  <canvas baseChart
          [datasets]="parking"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
<!-- scoring Small Screen -->
<div class="d-block d-sm-none d-sm-block d-md-none">
  <h4 mdcHeadline6 class="pt-5 pb-3">Average Game Element Scoring Teleop</h4>
  <canvas baseChart
          [datasets]="teleAvg"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
<!-- cap level Small Screen -->
<div class="d-block d-sm-none d-sm-block d-md-none">
  <h4 mdcHeadline6 class="pt-5 pb-3">Percent Latched/Parked End</h4>
  <canvas baseChart
          [datasets]="endLatchedParked"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
  </canvas>
</div>
