<div class="w-100">
  <table>
    <thead>
      <tr>
        <th class="table-title">Alliance</th>
        <th class="table-title">Captain</th>
        <th class="table-title">Pick 1</th>
        <th class="table-title" *ngIf="showPick2">Pick 2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alliance of alliances">
        <th>Alliance {{ alliance.seed }}</th>
        <td *ngIf="alliance.captain"><a routerLink="/teams/{{ alliance.captain.teamKey }}">#{{ alliance.captain.teamNumber }}</a></td>
        <td *ngIf="alliance.pick1"><a routerLink="/teams/{{ alliance.pick1.teamKey }}">#{{ alliance.pick1.teamNumber }}</a></td>
        <td *ngIf="alliance.pick2"><a routerLink="/teams/{{ alliance.pick2.teamKey }}">#{{ alliance.pick2.teamNumber }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
