<div class="col-xs-12 col-md-10 col-md-offset-1 mar-top-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-calendar"></span> Match Results</h3>
    </div>
    <div class="panel-body pad-0">
      <table class="match-table">
        <thead>
        <tr>
          <th rowspan="2">Match</th>
          <th colspan="12">Red Alliance</th>
          <th colspan="2">Red Score</th>
        </tr>
        <tr>
          <th colspan="12">Blue Alliance</th>
          <th colspan="2">Blue Score</th>
        </tr>
        <tr>
          <td colspan="16">Qualifications</td>
        </tr>
        </thead>
        <tbody *ngFor="let match of matches">
        <tr>
          <td rowspan="2"><a href="#">{{ match.match_name }}</a></td>
          <td colspan="4" class="red"><a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a></td>
          <td colspan="4" class="red"><a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a></td>
          <td colspan="4" class="red"><a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a></td>
          <td colspan="2" class="red">{{ match.red_score }}</td>
        </tr>
        <tr>
          <td colspan="4" class="blue"><a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a></td>
          <td colspan="4" class="blue"><a href="/teams/{{ getStation(match, 4) }}">{{ getStation(match, 4) }}</a></td>
          <td colspan="4" class="blue"><a href="/teams/{{ getStation(match, 5) }}">{{ getStation(match, 5) }}</a></td>
          <td colspan="2" class="blue">{{ match.blue_score }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
