<div class="col-xs-12 col-md-10 col-md-offset-1 mar-top-10">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="fa fa-calendar"></span> Match Results</h3>
    </div>
    <div class="panel-body pad-0">
      <table class="match-table">
        <thead>
        <tr class="visible-lg">
          <th>
            <span class="fa fa-play-circle-o  "></span>
          </th>
          <th>Match</th>
          <th colspan="6">Red Alliance</th>
          <th colspan="6">Blue Alliance</th>
          <th colspan="2">Scores</th>
        </tr>
        <tr class="hidden-lg">
          <th rowspan="2">
            <span class="fa fa-play-circle-o"></span>
          </th>
          <th rowspan="2">Match</th>
          <th colspan="12">Red Alliance</th>
          <th colspan="2">Red Score</th>
        </tr>
        <tr class="hidden-lg">
          <th colspan="12">Blue Alliance</th>
          <th colspan="2">Blue Score</th>
        </tr>
        </thead>
        <tbody *ngIf="qual_matches && qual_matches.length > 0">
        <tr>
          <th colspan="18">Qualifications</th>
        </tr>
        </tbody>
        <tbody *ngFor="let match of qual_matches">
        <tr class="visible-lg">
          <td>
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td>
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
          <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr class="hidden-lg">
          <td rowspan="2">
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td rowspan="2">
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
        </tr>
        <tr class="hidden-lg">
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="quarters_matches && quarters_matches.length > 0">
        <tr>
          <th colspan="18">Quarters Matches</th>
        </tr>
        </tbody>
        <tbody *ngFor="let match of quarters_matches">
        <tr *ngIf="getNumberOfTeams(match) == 6" class="visible-lg">
          <td>
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td>
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 4) }}">{{ getStation(match, 4) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 5) }}">{{ getStation(match, 5) }}</a>
          </td>
          <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
          <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 6" class="hidden-lg">
          <td rowspan="2">
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td rowspan="2">
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 6" class="hidden-lg">
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 4) }}">{{ getStation(match, 4) }}</a>
          </td>
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 5) }}">{{ getStation(match, 5) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="visible-lg">
          <td>
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td>
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
          <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="hidden-lg">
          <td rowspan="2">
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td rowspan="2">
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="hidden-lg">
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="semis_matches && semis_matches.length > 0">
        <tr>
          <th colspan="18">Semifinal Matches</th>
        </tr>
        </tbody>
        <tbody *ngFor="let match of semis_matches">
        <tr *ngIf="getNumberOfTeams(match) == 6" class="visible-lg">
          <td>
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td>
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 4) }}">{{ getStation(match, 4) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 5) }}">{{ getStation(match, 5) }}</a>
          </td>
          <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
          <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 6" class="hidden-lg">
          <td rowspan="2">
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td rowspan="2">
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 6" class="hidden-lg">
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 4) }}">{{ getStation(match, 4) }}</a>
          </td>
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 5) }}">{{ getStation(match, 5) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="visible-lg">
          <td>
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td>
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
          <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="hidden-lg">
          <td rowspan="2">
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td rowspan="2">
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="hidden-lg">
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        </tbody>

        <tbody *ngIf="finals_matches && finals_matches.length > 0">
        <tr>
          <th colspan="18">Finals Matches</th>
        </tr>
        </tbody>
        <tbody *ngFor="let match of finals_matches">
        <tr *ngIf="getNumberOfTeams(match) == 6" class="visible-lg">
          <td>
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td>
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 4) }}">{{ getStation(match, 4) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 5) }}">{{ getStation(match, 5) }}</a>
          </td>
          <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
          <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 6" class="hidden-lg">
          <td rowspan="2">
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td rowspan="2">
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="4" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 6" class="hidden-lg">
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 4) }}">{{ getStation(match, 4) }}</a>
          </td>
          <td colspan="4" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 5) }}">{{ getStation(match, 5) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="visible-lg">
          <td>
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td>
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="3" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="3" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
          <td class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="hidden-lg">
          <td rowspan="2">
            <span *ngIf="match.video_url"><a class="fa fa-play-circle-o"></a></span>
          </td>
          <td rowspan="2">
            <a href="/matches/{{ match.match_key }}">{{ match.match_name }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 0) }}">{{ getStation(match, 0) }}</a>
          </td>
          <td colspan="6" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            <a href="/teams/{{ getStation(match, 1) }}">{{ getStation(match, 1) }}</a>
          </td>
          <td colspan="2" class="red" [class.match-winner]="match.red_score >= match.blue_score">
            {{ match.red_score }}
          </td>
        </tr>
        <tr *ngIf="getNumberOfTeams(match) == 4" class="hidden-lg">
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 2) }}">{{ getStation(match, 2) }}</a>
          </td>
          <td colspan="6" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            <a href="/teams/{{ getStation(match, 3) }}">{{ getStation(match, 3) }}</a>
          </td>
          <td colspan="2" class="blue" [class.match-winner]="match.red_score <= match.blue_score">
            {{ match.blue_score }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
