<main class="container">

  <h1>Streaming</h1>

  <div *ngIf="streams" class="row">
    <div *ngFor="let stream of streams" class="col-xs-12 col-md-10 col-md-offset-1" align="center">
      <strong>{{ stream.event_key }}</strong><br><br>
      <a *ngIf="stream.stream_type == 2" [href]="stream.safe_url">{{ stream.event_key }}</a>
      <iframe *ngIf="stream.stream_type == 1" [src]="stream.safe_url" frameborder="0" allowfullscreen scrolling="no" height="480" width="720"></iframe>
      <iframe *ngIf="stream.stream_type == 0" [src]="stream.safe_url" frameborder="0" allowfullscreen width="720" height="480"></iframe>

    </div>
  </div>

  <div *ngIf="!streams" class="row">
    There are currently no active streams.
  </div>

</main>
