@import "~@angular-mdc/theme/material";
@import "../../../assets/../constants";

.main {
  /* Disable the .toa-page style */
  margin-top: -40px;
}

.embed-responsive {
  border-radius: .75rem .75rem 0 0;
}

.info {
  border-radius: 0 0 .75rem .75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  padding: 1rem;
  background: #fff;
}
