@import "~@angular-mdc/theme/material";

.stream-card {
  margin: 28px;
  border-radius: 6px;
}

.stream-card__primary {
  padding: 1rem;
}

.stream-card__title {
  margin: 0;
}

.stream-card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);
  margin: 0;
}

.stream-card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}

.stream-card__media--16-9 {
  background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
}
