@import "~@angular-mdc/theme/material";
@import "../../../assets/../constants";

.main {
  /* Disable the .toa-page style */
  margin-top: -40px;
  margin-bottom: -45px;
  background: #efeef1!important;
}

.embed-responsive {
  border-radius: .75rem .75rem 0 0;
}

.info {
  border-radius: 0 0 .75rem .75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: none;
  padding: 1rem;
  background: #fff;
}

.chat {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding: 64px 0 0 0;
}

.chat iframe {
  height: 85%;
  width: 100%;
}
