@import "../../../assets/../constants";

.main {
  /* Disable the .toa-page style */
  margin-top: -40px;
  margin-bottom: -45px;
  height: calc(100vh - 64px);
}

.chat {
  height: 100%;
  margin: 0;
  padding: 0;
  background: $twitch-chat-bg-color;
}

.chat iframe {
  height: 95%;
  width: 100%;
}

@media only screen and (max-width: 599px) {
  .main {
    height: calc(100vh - 56px);
  }
}