<div class="col-xs-12 col-md-6">
  <table class="match-table">
    <thead>
    <tr>
      <th colspan="12">Auton Details</th>
    </tr>
    <tr>
      <th colspan="3">Red Alliance</th>
      <th colspan="6">Field</th>
      <th colspan="3">Blue Alliance</th>
    </tr>
    </thead>
    <tbody *ngIf="!match_details">
    <tr>
      <td colspan="12"><i>There is no available auton detail for this match.</i></td>
    </tr>
    </tbody>
    <tbody *ngIf="match_details">
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_jewel == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_jewel != 0">{{ match_details.red_auto_jewel }} ( +{{ match_details.red_auto_jewel * 30 }} )</td>
      <td colspan="6">Single Jewel Remaining</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_jewel == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_jewel != 0">{{ match_details.blue_auto_jewel }} ( +{{ match_details.blue_auto_jewel * 30 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_glyphs == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_glyphs != 0">{{ match_details.red_auto_glyphs }} ( +{{ match_details.red_auto_glyphs * 15 }} )</td>
      <td colspan="6">Auto Glyphs</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_glyphs == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_glyphs != 0">{{ match_details.blue_auto_glyphs}} ( +{{ match_details.blue_auto_glyphs * 15 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_keys == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_keys != 0">{{ match_details.red_auto_keys }} ( +{{ match_details.red_auto_keys * 30 }} )</td>
      <td colspan="6">Cryptobox Keys</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_keys == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_keys != 0">{{ match_details.blue_auto_keys}} ( +{{ match_details.blue_auto_keys * 30 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_park == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_auto_park != 0">{{ match_details.red_auto_park }} ( +{{ match_details.red_auto_park * 10 }} )</td>
      <td colspan="6">Robots in Safe Zone</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_park == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_auto_park != 0">{{ match_details.blue_auto_park}} ( +{{ match_details.blue_auto_park * 10 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red"><strong>{{ match_data.red_auto_score }}</strong></td>
      <td colspan="6"><strong>Auton Total</strong></td>
      <td colspan="3" class="blue"><strong>{{ match_data.blue_auto_score }}</strong></td>
    </tr>
    </tbody>
  </table>
  <br>
</div>


<div class="col-xs-12 col-md-6">
  <table class="match-table">
    <thead>
    <tr>
      <th colspan="12">Teleop Details</th>
    </tr>
    <tr>
      <th colspan="3">Red Alliance</th>
      <th colspan="6">Field</th>
      <th colspan="3">Blue Alliance</th>
    </tr>
    </thead>
    <tbody *ngIf="!match_details">
    <tr>
      <td colspan="12"><i>There is no available teleop detail for this match.</i></td>
    </tr>
    </tbody>
    <tbody *ngIf="match_details">
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_glyphs == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_glyphs != 0">{{ match_details.red_tele_glyphs }} ( +{{ match_details.red_tele_glyphs * 2 }} )</td>
      <td colspan="6">Glyphs</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_glyphs == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_glyphs != 0">{{ match_details.blue_tele_glyphs }} ( +{{ match_details.blue_tele_glyphs * 2 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_rows == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_rows != 0">{{ match_details.red_tele_rows }} ( +{{ match_details.red_tele_rows * 10 }} )</td>
      <td colspan="6">Rows in Cryptoboxes</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_rows == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_rows != 0">{{ match_details.blue_tele_rows }} ( +{{ match_details.blue_tele_rows * 10 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_columns == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_columns != 0">{{ match_details.red_tele_columns }} ( +{{ match_details.red_tele_columns * 20 }} )</td>
      <td colspan="6">Columns in Cryptoboxes</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_columns == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_columns != 0">{{ match_details.blue_tele_columns }} ( +{{ match_details.blue_tele_columns * 20 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_cypher == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_tele_cypher != 0">{{ match_details.red_tele_cypher }} ( +{{ match_details.red_tele_cypher * 30 }} )</td>
      <td colspan="6">Cryptoboxes Ciphers</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_cypher == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_tele_cypher != 0">{{ match_details.blue_tele_cypher }} ( +{{ match_details.blue_tele_cypher * 30 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red"><strong>{{ match_data.red_tele_score  }}</strong></td>
      <td colspan="6"><strong>Teleop Total</strong></td>
      <td colspan="3" class="blue"><strong>{{ match_data.blue_tele_score  }}</strong></td>
    </tr>
    </tbody>
  </table>
  <br>
</div>

<div class="col-xs-12 col-md-6">
  <table class="match-table">
    <thead>
    <tr>
      <th colspan="12">End Game Details</th>
    </tr>
    <tr>
      <th colspan="3">Red Alliance</th>
      <th colspan="6">Field</th>
      <th colspan="3">Blue Alliance</th>
    </tr>
    </thead>
    <tbody *ngIf="!match_details">
    <tr>
      <td colspan="12"><i>There is no available endgame detail for this match.</i></td>
    </tr>
    </tbody>
    <tbody *ngIf="match_details">
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_one == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_one != 0">{{ match_details.red_end_relic_one }} ( +{{ match_details.red_end_relic_one * 10 }} )</td>
      <td colspan="6">Relics in Zone 1</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_one == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_one != 0">{{ match_details.blue_end_relic_one }} ( +{{ match_details.blue_end_relic_one * 10 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_two == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_two != 0">{{ match_details.red_end_relic_two }} ( +{{ match_details.red_end_relic_two * 20 }} )</td>
      <td colspan="6">Relics in Zone 2</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_two == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_two != 0">{{ match_details.blue_end_relic_two }} ( +{{ match_details.blue_end_relic_two * 20 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_three == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_three != 0">{{ match_details.red_end_relic_three }} ( +{{ match_details.red_end_relic_three * 40 }} )</td>
      <td colspan="6">Relics in Zone 3</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_three == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_three != 0">{{ match_details.blue_end_relic_three }} ( +{{ match_details.blue_end_relic_three * 40 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_up == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_end_relic_up != 0">{{ match_details.red_end_relic_up }} ( +{{ match_details.red_end_relic_up * 15 }} )</td>
      <td colspan="6">Relics Upright</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_up == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_relic_up != 0">{{ match_details.blue_end_relic_up }} ( +{{ match_details.blue_end_relic_up * 15 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red" *ngIf="match_details.red_end_robot_bal == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.red_end_robot_bal != 0">{{ match_details.red_end_robot_bal }} ( +{{ match_details.red_end_robot_bal * 20 }} )</td>
      <td colspan="6">Robots Balanced</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_robot_bal == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.blue_end_robot_bal != 0">{{ match_details.blue_end_robot_bal }} ( +{{ match_details.blue_end_robot_bal * 20 }} )</td>
    </tr>
    <tr>
      <td colspan="3" class="red"><strong>{{  match_data.red_end_score }}</strong></td>
      <td colspan="6"><strong>End Game Total</strong></td>
      <td colspan="3" class="blue"><strong>{{  match_data.blue_end_score }}</strong></td>
    </tr>
    </tbody>
  </table>
  <br>
</div>

<div class="col-xs-12 col-md-6">
  <table class="match-table">
    <thead>
    <tr>
      <th colspan="12">Penalty Details<br>(points received due to opposing alliance penalties)</th>
    </tr>
    <tr>
      <th colspan="3">Red Alliance</th>
      <th colspan="6">Field</th>
      <th colspan="3">Blue Alliance</th>
    </tr>
    </thead>
    <tbody *ngIf="!match_details">
    <tr>
      <td colspan="12"><i>There is no available teleop detail for this match.</i></td>
    </tr>
    </tbody>
    <tbody *ngIf="match_details">
    <tr>
	  <td colspan="3" class="red" *ngIf="match_details.blue_min_pen == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.blue_min_pen != 0">{{ match_details.blue_min_pen }} ( +{{ match_details.blue_min_pen * 10 }} )</td>
      <td colspan="6">Minor Penalty</td>
	  <td colspan="3" class="blue" *ngIf="match_details.red_min_pen == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.red_min_pen != 0">{{ match_details.red_min_pen }} ( +{{ match_details.red_min_pen * 10 }} )</td>

    </tr>
    <tr>
	  <td colspan="3" class="red" *ngIf="match_details.blue_maj_pen == 0">0</td>
      <td colspan="3" class="red" *ngIf="match_details.blue_maj_pen != 0">{{ match_details.blue_maj_pen }} ( +{{ match_details.blue_maj_pen * 40 }} )</td>
      <td colspan="6">Major Penalty</td>
	  <td colspan="3" class="blue" *ngIf="match_details.red_maj_pen == 0">0</td>
      <td colspan="3" class="blue" *ngIf="match_details.red_maj_pen != 0">{{ match_details.red_maj_pen }} ( +{{ match_details.red_maj_pen * 40 }} )</td>

    </tr>
    <tr>
      <td colspan="3" class="red"><strong>{{ match_data.red_penalty }}</strong></td>
      <td colspan="6"><strong>Penalty Total</strong></td>
      <td colspan="3" class="blue"><strong>{{ match_data.blue_penalty }}</strong></td>
    </tr>
    </tbody>
  </table>
  <br>
</div>
